<tr style="border-bottom:1px solid #000;">
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{issue}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{status}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{impact}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000;background-color:{{level_bg_color}};color:{{level_fore_color}};text-align:center">{{level}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{actions}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{actioned_by}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{reported_by}}</td>
</tr>

