<tr style="border-bottom:1px solid #000;">
    <td style="border-bottom:1px solid #000;">{{gateway}}</td>
    <td style="border-bottom:1px solid #000;background-color:{{delay_bg_color}};color:{{delay_fore_color}};text-align:center">{{delay}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{delay_reasons}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{baseline_start}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{baseline_finish}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{actual_start}}</td>
    <td style="border-bottom:1px solid #000;border-right:1px solid #000">{{actual_finish}}</td>
</tr>

