/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255,255,255); /* Black fallback color */
    /*background-color: rgba(0,0,0, 0.7);*/ /* Black w/opacity */
    background-color: rgba(255,255,255,0.7); /* Black w/opacity */
    overflow: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    width: 500px;
    left: 490px;
    height: 70%;
    position: relative;
    margin-left: 36px;
    /*border: 2px solid #06D85F;*/
    /*border-radius: 20px/50px;*/
    /*margin-left: auto;
    margin-right: auto;*/
    background-color: rgb(255,255,255);
    padding: 25px;
    padding-top: 10px;
    margin-top: 38px;
    display: inline-block;
    overflow-x: inherit;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    padding: 3px 10px !important;
    width: 100px;
}
    /*display: block;*/ /* Display block instead of inline */
}

    /* When you mouse over the navigation links, change their color */
    /*.overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }*/

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 800px) {
    .overlay-content {
        left: 10%;
    }
}

.k-tabstrip .k-item:last-child {
    background-color: #7c8283 !important;
}
.k-tabstrip .k-item:last-child .k-link {
    color: #FFF !important;
}

@keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-15px);
    }
}