/********  Worksheet Setup  ******/
.NodeDisabled .rtIn {COLOR: #000000 !important;}
.rtMinus
{
	background-image: none !important;
	margin-left: 0px !important;
	margin-right: 0px !important;


	display: none !important;
}

.rtIn
{
	padding-left: 0px !important;
}
.rtMid
{
	padding-left: 0px !important;
}
.rtTop
{
	padding-left: 0px !important;
}
.rtBot
{
	padding-left: 0px !important;
}
.rtPlus
{
	background-image: none !important;
}

/********  Worksheet Page  ******/
.WorksheetSection
{
	width:100% !important;
}
.WorksheetSection .rgRow, .WorksheetSection .rgAltRow
{
	font-weight: bold !important;
	background: #d7e6f7;
	width:100% !important;
}

.WorksheetDetails .rgRow, .WorksheetDetails .rgAltRow
{
	font-weight: normal !important;
	background: #ffffff;
}

.WorksheetSectionTitle
{
	width:80% !important;
}

.WorksheetSectionFilter
{
	text-align:right !important;
	font-weight:normal !important;
	border-left-style:none !important;
	padding-right:10px !important;
	width:20% !important;
}


.WorksheetHeaderDescription
{
	cursor: default;
	padding-right: 7px;
	padding-left: 7px;
	border-top: #5d8cc9 0px solid;
	font-size:9px;
	font-weight: bold;
	background: #ffffff !important;
	background-image: none !important;
	padding-bottom: 4px;
	padding-top: 5px;
	border-bottom: #5d8cc9 1px solid;
	text-align: left;
	color: #000000;
	text-decoration: none;
	text-align: center !important;
}

.WorksheetHeader
{
	padding: 0px !important;
	margin: 0px !important;
	height:50px;
}

.WorksheetHeaderName
{
	border-bottom-style:none !important;
}

