/*html, body, form {
    height: 100%;
    margin: 0px;
    padding: 0px;
}*/
@media screen and (max-width: 843px) {
    .Folder_DocumentManager .menu .RadToolBar .ToolbarShowLatestVersions .rtbIcon, .Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarShowLatestVersions .rtbIcon {
        background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Enabled.png') !important;
        background-position: -2857px !important;
    }

    .Folder_DocumentManager .menu .RadToolBar .ToolbarHideLatestVersions .rtbIcon, .Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarHideLatestVersions .rtbIcon {
        background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Enabled.png') !important;
        background-position: -2857px !important;
    }
}
@media screen and (min-width: 844px){
    .Folder_DocumentManager .menu .RadToolBar .ToolbarShowLatestVersions .rtbIcon, .Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarShowLatestVersions .rtbIcon {
        background-image: url('Images/ResponsiveIcons/16HoveredNew.png') !important;
        background-position: 384px;
    }

    .Folder_DocumentManager .menu .RadToolBar .ToolbarHideLatestVersions .rtbIcon, .Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarHideLatestVersions .rtbIcon {
        background-image: url('Images/ResponsiveIcons/16HoveredNew.png') !important;
        background-position: 384px;
    }
}
.Folder_DocumentManager .BorderOnHover > div > div {
    max-height: 200px;
}
.folderName.editable{
    display:inline !important;
}

.verticalSeperator {
    height: 50px;
    border-right: 1px solid #939393; 
    display:block;
}

.Folder_DocumentManager .RadMenu_Default.rdmLayouts .rmGroup .rmItem a.rmLink,
.Folder_DocumentManager .RadMenu_Default.rdmLayouts .rmGroup .rmItem a.rmLink:hover {
    line-height: 24px;
    height: 24px;
}

.documentManager .GridItemDropIndicator {
    background: grey !important;
    height: 39px !important;
    opacity: 0.2;
}
@media screen and (max-width: 843px) {
    .rmVertical .rmGroup.rmLevel2 {
        transform: translate(225px,35px);
    }
}

.Folder_DocumentManager .RadMenu_Default .rmGroup .rmItem a.rmLink,
.Folder_DocumentManager .RadMenu_Default .rmGroup .rmItem a.rmLink:hover {
    line-height: 20px;
}

.Folder_DocumentManager .RadGrid_Default .rgAltRow .rgSorted,
.Folder_DocumentManager .RadGrid_Default .rgRow .rgSorted {
    background: transparent !important;
}

.Folder_DocumentManager .RadGrid_Default .text-right,
.Folder_DocumentManager .RadGrid_Default .rgHeader.text-right {
    padding: 0 !important;
}

.Folder_DocumentManager .Js-DropZone {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    background: white;
    z-index: 1;
}



.Folder_DocumentManager .RadGrid_Default .rgHeaderWrapper {
    background: white;
}

.Folder_DocumentManager .RadGrid_Default .rgSelectedRow {
    background: #E4E4E4 !important;
}

.Folder_DocumentManager .MobileAssetTree,
.Folder_DocumentManager .AssetExplorerBar,
.Folder_DocumentManager .MobileAssetExplorerBar {
    top: 50px;
}

.Folder_DocumentManager .col-4-hide {
    position: absolute;
    right: 0;
    width: 424px;
    z-index: -1;
}

.Folder_DocumentManager .btncancel .Icon {
    background-image: url(Images/ResponsiveIcons/24Enabled.png) !important;
    width: 24px !important;
    height: 24px !important;
    background-repeat: no-repeat;
    background-position: -1248px 0px !important;
    display: inline-block !important;
    vertical-align: middle;
    margin-left: 24px;
    margin-top: 10px;
}

.Folder_DocumentManager .tbsFolderManager .rtsLevel.rtsLevel1 {
    width: calc(99%) !important;
}

.Folder_DocumentManager .SpecificationPadding {
    padding-left: 0 !important;
}

.Folder_DocumentManager .labelWidth {
    min-width: 130px;
}

.Folder_DocumentManager .DMSearchButton .Icon {
    background-image: url(Images/ResponsiveIcons/24Enabled.png) !important;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: -216px 0px !important;
    display: inline-block;
    vertical-align: middle;
}


.Folder_DocumentManager input[type="button"].configureTree ::before {
}

.Folder_DocumentManager .configureTree:hover {
    color: #666666 !important;
}


/*@media screen and (min-width:320px) and (max-width:880px) {
                    .tbsFolderManager .rtsLevel.rtsLevel1 {
                        width: 94vw !important;
                    }
                }

                @media screen and (min-width:880px) and (max-width:1510px) {
                    .tbsFolderManager .rtsLevel.rtsLevel1 {
                        width: calc(94vw - 290px) !important;
                    }
                }*/
.Folder_DocumentManager .DMSplitterPane {
    height: calc(100vh - 62px) !important;
}

@media screen and (max-width: 843px) and (min-width: 650px) {
    .Folder_DocumentManager .PMHeader .row .col-6 {
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}

@media screen and (max-width: 843px) and (min-width: 320px) {

    .Folder_DocumentManager .col-8.RColFitPageSize {
        height: calc(100vh - 140px) !important;
    }

    .Folder_DocumentManager .DMSplitterPane {
        height: calc(100vh - 50px) !important;
    }


    .Folder_DocumentManager #RAD_SPLITTER_PANE_CONTENT_ctl00_CPH1_RadContentPane,
    .Folder_DocumentManager .DMHorizontalSplitter {
        height: calc(100vh - 35px) !important;
    }

    .Folder_DocumentManager #RAD_SPLITTER_PANE_CONTENT_ctl00_CPH1_DMHeaderPane,
    .Folder_DocumentManager #RAD_SPLITTER_PANE_CONTENT_ctl00_CPH1_DetailPane,
    .Folder_DocumentManager #RAD_SPLITTER_PANE_CONTENT_ctl00_CPH1_RadContentPane {
        width: calc(100vw - 3px) !important;
    }
}

@media screen and (min-width:844px) {
    .Folder_DocumentManager .DMHorizontalSplitter {
        height: calc(100vh - 60px) !important;
    }
}

.Folder_DocumentManager .RadUpload.ProjectCenterUpload {
    max-width: none;
    border-radius: 0px;
    background-color: rgb(105,185,50);
    border: 1px solid rgb(105,185,50) !important;
    padding: 0px !important;
}

    .Folder_DocumentManager .RadUpload.ProjectCenterUpload .ruFileWrap {
        height: 40px;
    }

.Folder_DocumentManager .ProjectCenterUpload .ruDropZone {
    height: 62px !important;
    background-color: rgb(105,185,50);
    border-radius: 0px;
    color: #fff !important;
    border: 1px solid rgb(105,185,50) !important;
    padding: 0px !important;
    margin-left: 4px !important;
    padding-right: 12px !important;
    margin-top: -6px !important;
}

.Folder_DocumentManager .ProjectCenterUpload .ruButton {
    color: #fff !important;
    width: 100%;
}

.Folder_DocumentManager .RadUpload.ProjectCenterUpload .ruInputs li {
    text-align: center;
}

.Folder_DocumentManager div#ctl00_CPH1_trvFolders {
    color: #ffffff !important;
    background-color: #666666 !important;
}

.Folder_DocumentManager div#ctl00_CPH1_trvConfigureFolders {
    color: #ffffff !important;
    background-color: #666666 !important;
}

.Folder_DocumentManager .tbshorizantaltabs {
    visibility: visible !important;
}

.Folder_DocumentManager .tbsDocSpec {
    display: none !important;
}

.Folder_DocumentManager .PMHeader .row .col-2 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-left: 0px !important;
    /*float:none !important;*/
}

.Folder_DocumentManager .PMHeader .row .col-10 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-left: 0px !important;
    /*float:none !important;*/
}

.Folder_DocumentManager .configureTree .Icon {
    background-image: url('Images/ResponsiveIcons/24enabled.png');
    height: 24px;
    width: 24px;
    background-position: -2424px 0 !important;
    display: inline-block;
    vertical-align: middle;
}

.Folder_DocumentManager .configureTree {
    background-color: transparent !important;
    /*border-radius: 10px;*/
    /*width: 270px;*/
    /*height: 32px;*/
    display: block;
    text-decoration: none;
    position: relative;
    left: -10px;
}

    .Folder_DocumentManager .configureTree .lblConfigureFolders {
        text-transform: uppercase;
        position: relative;
        top: 10px;
        color: white;
        text-decoration: none;
        left: 24px;
    }

.Folder_DocumentManager .saveTree {
    background-color: transparent !important;
}

    .Folder_DocumentManager .saveTree .Icon {
        background-image: url('Images/ResponsiveIcons/24enabled.png');
        height: 24px;
        width: 24px;
        background-position: -720px 0 !important;
        display: inline-block;
        vertical-align: middle;
    }

    .Folder_DocumentManager .saveTree .lblConfigureFolders {
        text-transform: uppercase;
        position: relative;
        text-decoration: none;
        color: #666666;
        font-size: 13px;
    }

.Folder_DocumentManager .removeLeft {
    left: 0 !important;
}

.Folder_DocumentManager .DMVerticalSplitter {
    height: calc(100vh - 80px) !important;
}
/*.DetailPane{min-height:calc((100vh - 20px) /2) !important;}*/
.Folder_DocumentManager .DMHeaderPane {
    Height: calc(50vh - 80px);
}

.Folder_DocumentManager .fullWidth {
    width: 100vw !important;
}

.Folder_DocumentManager .DMIframe .DMSplitterPane {
    height: calc(100vh - 10px) !important;
}

.Folder_DocumentManager .DMIframe .DMHorizontalSplitter {
    height: calc(100vh - 20px) !important;
}

/*.DMIframe .DetailPane{min-height:calc((100vh - 70px) /2) !important;}*/
.Folder_DocumentManager .DMIframe .DocumentManagerTree {
    height: calc(100vh - 60px) !important;
}

.Folder_DocumentManager .ToolbarCopyURL .rtbIcon {
    background-image: url('Images/ResponsiveIcons/DMURL.png') !important;
}

.Folder_DocumentManager .rtbItemHovered .ToolbarCopyURL .rtbIcon {
    background-image: url('Images/ResponsiveIcons/DMURLHovered.png') !important;
}

.Folder_DocumentManager .rtbItemFocused .ToolbarCopyURL .rtbIcon {
    background-image: url('Images/ResponsiveIcons/DMURLHovered.png') !important;
}


.Folder_DocumentManager .DocumentManagerTree {
    height: calc(100vh - 112px);
}

.Folder_DocumentManager .closed {
    width: 0px !important;
}

.Folder_DocumentManager .MenuLayout .rmText.rmExpandDown {
    color: #333333;
}

.Folder_DocumentManager .RadToolBar .rtbDropDown .rtbChoiceArrow {
    width: 14px !important;
    background-image: url(http://localhost:21049/CSS/Images/ResponsiveIcons/ActivityBoardIcons/16x16%20Enabled.png) !important;
    background-position: -688px !important;
    height: 16px !important;
    float: left !important;
    position: relative;
    top: 2px;
}

.Folder_DocumentManager .ToolBar {
    background-color: RGB(237,237,237);
    background-image: none;
    position: unset;
    z-index: 999;
    table-layout: fixed;
    top: 30px;
    width: 100%;
}

#ctl00_ctl00_lblBookMarksSearchPanel {
    display: inline !important;
}

.Folder_DocumentManager .ToolbarCardView .rtbIcon {
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/16x16 Enabled.png') !important;
    background-position: -2112px 0px !important;
}

.Folder_DocumentManager .ToolbarSort .rtbIcon {
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/16x16 Enabled.png') !important;
    background-position: -2272px 0px;
}

.Folder_DocumentManager .ToolbarListView .rtbIcon {
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/16x16 Enabled.png') !important;
    background-position: -2096px 0px !important;
}

.Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarListView .rtbIcon,
.Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarSort .rtbIcon,
.Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarCardView .rtbIcon,
.Folder_DocumentManager .RadToolBar .rtbItemFocused .ToolbarListView .rtbIcon,
.Folder_DocumentManager .RadToolBar .rtbItemFocused .ToolbarSort .rtbIcon,
.Folder_DocumentManager .RadToolBar .rtbItemFocused .ToolbarCardView .rtbIcon {
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/16x16 Hovered.png') !important;
}

.Folder_DocumentManager .ToolbarShowLatestVersionsPopup .rtbIcon {
      background-image:url('CSS/Images/ResponsiveIcons/ShowLatestVersion.png') !important;
}

.Folder_DocumentManager .ToolbarHideLatestVersionsPopup .rtbIcon {
    background-image: url('CSS/Images/ResponsiveIcons/ShowLatestVersionFocused.png') !important;
}

.Folder_DocumentManager .cardView {
    width: 100%;
    padding-top: 16px;
    padding-left: 16px;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

/*#ctl00_ctl00_CPH1_CardViewContainerPanel {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}*/

/*.cardView > div {
                    height: 100%;
                    overflow-x: hidden;
                    overflow-y: auto;
                }*/

.Folder_DocumentManager .foldersContainer,
.Folder_DocumentManager .filesContainer {
    display: block;
    overflow: auto;
}

.Folder_DocumentManager .folderName,
.rlvDraggedItem .folderName {
    margin-left: 10px;
    font-size: 12px;
}

    .Folder_DocumentManager .folderName input,
    .rlvDraggedItem .folderName input {
        max-width: 275px;
        position: relative;
        top: -4px;
    }

.Folder_DocumentManager .folderCard,
.rlvDraggedItem .folderCard {
    padding: 25px 33px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 369px;
    position: relative;
    box-sizing: border-box;
    background: transparent;
    max-width: 369px;
    z-index: 0;
    height: 67px;
}

.Folder_DocumentManager .card > div,
.rlvDraggedItem .card > div {
    width: 176px;
    height: 176px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    margin: 0 16px 16px 0;
    float: left;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    background: white;
}

.folderName{
        overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    width: 275px;
}

.Folder_DocumentManager .card.active .check,
.rlvDraggedItem .card.active .check,
.rlvDraggedItem .folderCard.active .check,
.Folder_DocumentManager .folderCard.active .check {
    display: block;
}

.Folder_DocumentManager .card:hover .check,
.rlvDraggedItem .card:hover .check,
.rlvDraggedItem .folderCard:hover .check,
.Folder_DocumentManager .folderCard:hover .check {
    display: block;
    background: #CCC;
}

.Folder_DocumentManager .card.active:hover .check,
.rlvDraggedItem .card.active:hover .check,
.rlvDraggedItem .folderCard.active:hover .check,
.Folder_DocumentManager .folderCard.active:hover .check {
    display: block;
    background: #7396aa;
}

.Folder_DocumentManager .card.active .mainContent,
.rlvDraggedItem .card.active .mainContent,
.rlvDraggedItem .folderCard.active,
.Folder_DocumentManager .folderCard.active {
    background: #CCCCCC !important;
}

.Folder_DocumentManager .card .content,
.rlvDraggedItem .card .content {
    height: 146px;
    border-bottom: 1px solid #E4E4E4;
    padding: 8px;
    box-sizing: border-box;
}

.Folder_DocumentManager .card img,
.rlvDraggedItem .card img {
    width: 160px;
    height: 130px;
    object-fit: contain;
}

.Folder_DocumentManager .card .linkRecord,
.rlvDraggedItem .card .linkRecord {
    position: absolute;
    z-index: 5;
}

    .Folder_DocumentManager .card .linkRecord a,
    .rlvDraggedItem .card .linkRecord a {
        font-size: 10px;
        padding-left: 8px;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        line-height: 30px;
        height: 30px;
        text-decoration: underline;
        color: #000000;
    }

.Folder_DocumentManager .linkRecord .smallIcon,
.rlvDraggedItem .linkRecord .smallIcon {
    position: relative;
    top: 6px;
    margin-right: 6px;
    margin-left: 6px;
}

.Folder_DocumentManager .testIcon {
    background: red !important;
}

.Folder_DocumentManager h2 {
    font-size: 16px;
    color: #666666;
    font-weight: normal;
    margin: 0;
    margin-bottom: 16px;
}


.Folder_DocumentManager .card .check,
.rlvDraggedItem .card .check,
.rlvDraggedItem .folderCard .check,
.Folder_DocumentManager .folderCard .check {
    width: 25px;
    height: 25px;
    background: #7396aa;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    display: none;
    border: 1px solid white;
}



    .Folder_DocumentManager .card .check .icon,
    .rlvDraggedItem .card .check .icon,
    .rlvDraggedItem .folderCard .check .icon,
    .Folder_DocumentManager .folderCard .check .icon {
        background-image: url(Images/ResponsiveIcons/16White.png) !important;
        width: 16px;
        height: 16px;
        background-repeat: no-repeat;
        background-position: -336px;
        display: inline-block;
        vertical-align: middle;
        margin-top: 4px;
        margin-left: 4px;
    }


/*TOolbar*/
.Folder_DocumentManager .searchBar {
    position: relative;
    margin-left: 26px;
}

.Folder_DocumentManager .searchLoop {
    position: absolute;
    top: 8px;
    left: 12px;
}

.Folder_DocumentManager .clearSelection {
    position: absolute;
    right: 12px;
    top: 12px;
}

.Folder_DocumentManager .advancedSearch .Icon {
    background-image: url('Images/ResponsiveIcons/24Enabled.png');
    height: 24px;
    width: 24px;
    background-position: -2184px 0 !important;
    display: inline-block;
    vertical-align: middle;
}

.Folder_DocumentManager .filePermission .Icon {
    background-image: url('Images/ResponsiveIcons/24Enabled.png');
    height: 24px;
    width: 24px;
    background-position: -2424px 0 !important;
    display: inline-block;
    vertical-align: middle;
}

.Folder_DocumentManager .GoToRecord .Icon {
    background-position: -1890px 0px;
}

.Folder_DocumentManager .advancedSearch:hover .Icon,
.Folder_DocumentManager .searchLoop:hover .Icon {
    background-image: url('Images/ResponsiveIcons/24Hovered.png') !important;
}

.Folder_DocumentManager .searchLoop .Icon {
    background-image: url(Images/ResponsiveIcons/24Enabled.png) !important;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: -216px 0px !important;
    display: inline-block;
    vertical-align: middle;
}

.Folder_DocumentManager .bookMark .Icon {
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Enabled.png') !important;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: -3312px 0px;
    display: inline-block;
    vertical-align: middle;
}

.Folder_DocumentManager .bookMark:hover .Icon {
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Hovered.png') !important;
}

.Folder_DocumentManager .clearSelection .Icon {
    background-image: url(Images/ResponsiveIcons/16Enabled.png) !important;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: -208px 0px !important;
    display: inline-block;
    vertical-align: middle;
}

.Folder_DocumentManager .clearSelection:hover .Icon {
    background-image: url('Images/ResponsiveIcons/16Hovered.png') !important;
}


.Folder_DocumentManager .searchBar input.txtSearch {
    width: 500px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    padding-left: 50px !important;
    font-size: 16px;
    min-width: 250px;
    max-width: 500px;
}

.Folder_DocumentManager .seperator {
    border-right: 1px solid #939393;
    margin-right: 20px;
}


.Folder_DocumentManager .menu {
    background: #ededed;
    padding-left: 24px;
    border-top: 1px solid #939393;
    border-bottom: 1px solid #939393;
}

    .Folder_DocumentManager .menu .RadToolBar_Horizontal .rtbSeparator {
        margin-right: 20px;
        width: 1px;
        height: 26px;
        border-left-width: 1px;
        border-left-style: solid;
    }

    .Folder_DocumentManager .menu .RadToolBar span.rtbIcon {
        padding: 0;
        width: 16px;
        height: 16px;
    }

    .Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .rtbIcon,
    .Folder_DocumentManager .RadToolBar .rtbItemFocused .rtbIcon {
        border: 0;
        background-image: url(Images/ResponsiveIcons/16Hovered.png) !important;
    }


    .Folder_DocumentManager .menu .RadToolBar .rtbIcon {
        background-image: url('Images/ResponsiveIcons/16Enabled.png');
    }

.Folder_DocumentManager .PMMainPage {
    padding: 0;
}

    .Folder_DocumentManager .PMMainPage > .row {
        padding: 0;
    }

    .Folder_DocumentManager .PMMainPage .R24Gutter {
        padding-left: 0 !important;
    }

    .Folder_DocumentManager .PMMainPage > .row > .col-8-fit {
        width: calc(100% - 448px) !important;
    }

    .Folder_DocumentManager .PMMainPage > .row > .gridFullWidth.col-8-fit {
        width: 100% !important;
    }

    .Folder_DocumentManager .PMMainPage > .row .col-4 {
        width: 448px;
        box-sizing: border-box;
    }

.Folder_DocumentManager .RadGrid_Default .rgEditRow {
    background: #E4E4E4 !important;
    padding: 10px;
}

.Folder_DocumentManager .RadGrid.RadGrid_Default .rgHeader {
    background: white !important;
    color: #000;
    border-color: white !important;
}

    .Folder_DocumentManager .RadGrid.RadGrid_Default .rgHeader a {
        color: #999999 !important;
    }

.Folder_DocumentManager .RadGrid_Default {
    border: none !important;
}

.Folder_DocumentManager .RadGrid.RadGrid_Default .rgRow > td,
.Folder_DocumentManager .RadGrid.RadGrid_Default .rgAltRow > td,
.Folder_DocumentManager .RadGrid.RadGrid_Default .rgEditRow > td {
    padding: 7px;
    border-left: none;
}

.Folder_DocumentManager .RadGrid.RadGrid_Default input[type=checkbox] {
    margin: 0;
    padding: 0;
}

.Folder_DocumentManager .RadGrid.RadGrid_Default .rgHeaderDiv th.rgHeader {
    padding: 7px;
}

.Folder_DocumentManager .RadGrid.RadGrid_Default.rgHeaderRightBorder .rgHeaderDiv th.rgHeader {
    border-right: 1px solid #e4e4e4 !Important;
}

.Folder_DocumentManager .RadGrid.RadGrid_Default td.padding-left-none,
.Folder_DocumentManager .RadGrid.RadGrid_Default .rgHeaderDiv th.rgHeader.padding-left-none {
    padding-left: 0 !important;
}

.Folder_DocumentManager .RadGrid_Default .rgHeader {
    text-align: left !important;
}

    .Folder_DocumentManager .RadGrid_Default .rgHeader .rgSortAsc {
        background-image: url('Images/ResponsiveIcons/GridArrowUp.png') !important;
        height: 10px;
        position: relative;
        top: 3px;
        float: left;
    }

    .Folder_DocumentManager .RadGrid_Default .rgHeader .rgSortDesc {
        background-image: url('Images/ResponsiveIcons/GridArrowDown.png') !important;
        position: relative;
        top: 3px;
        height: 10px;
        float: left;
    }

.Folder_DocumentManager .rootFloatButton.floatButton {
    bottom: 56px !important;
}

.Folder_DocumentManager .floatButton {
    position: fixed;
    right: 24px;
    bottom: 24px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #316888;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 999;
}

    .Folder_DocumentManager .floatButton .circle {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: white;
        margin-top: 21px;
    }

.RadMenu.rootMenu {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

    .RadMenu.rootMenu ul {
        border: 3px solid #316888 !important;
        border-radius: 8px;
        padding: 10px !important;
    }

        .RadMenu.rootMenu ul li.rmItem .rmText {
            /*padding: 0px;*/
            padding: 2px 65px 2px 13px;
            text-align: left;
        }

.rootMenu span.rmText.rmExpandRight::after {
    height: 16px;
    width: 16px;
    background-image: url(Images/ResponsiveIcons/16Enabled.png) !important;
    background-repeat: no-repeat;
    background-position: -190px 0px !important;
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 4px;
}

.js-sort label {
    line-height: 22px;
    position: relative;
    left: 3px;
}

.js-sort input:checked + label::before {
    background-image: url(Images/ResponsiveIcons/16Enabled.png) !important;
    width: 16px !important;
    height: 16px !important;
    background-repeat: no-repeat;
    background-position: -336px 0px !important;
    display: inline-block !important;
    vertical-align: middle;
    content: "";
    position: relative;
    left: -8px;
}

.js-sort input + label:hover::before {
    background-image: url(Images/ResponsiveIcons/16Enabled.png) !important;
    width: 16px !important;
    height: 16px !important;
    background-repeat: no-repeat;
    background-position: -608px 0px;
    display: inline-block !important;
    vertical-align: middle;
    content: "";
    position: relative;
    left: -8px;
}

.js-sort input + label::before {
    /*background-image: url(Images/ResponsiveIcons/16Enabled.png) !important;*/
    width: 16px !important;
    height: 16px !important;
    /*background-repeat: no-repeat;
                background-position: -608px 0px !important;*/
    display: inline-block !important;
    vertical-align: middle;
    content: "";
    position: relative;
    left: -8px;
}

.js-sort input {
    display: none;
}

 .js-sort.RadMenu.rootMenu ul li.rmItem .rmText {
    padding-left: 2px;
}




 .RadMenu .rmGroup.rmVertical > .rmSeparator .rmText {
    margin: 0;
}

.RadMenu .rmSeparator {
    height: 1px;
}



/*****************   Table Formating   **********************/
.Folder_DocumentManager #ctl00_CPH1_rdgFiles .rgDataDiv {
    /*height: 100% !important;*/
}

.Folder_DocumentManager .rdgDocumentManager {
    border-bottom: 1px solid silver !important;
    outline: none;
}

.Folder_DocumentManager .RadGrid.RadGrid_Default.rdgDocumentManager .rgRow > td,
.Folder_DocumentManager .RadGrid.RadGrid_Default.rdgDocumentManager .rgAltRow > td {
    border-color: #E4E4E4 !important;
    height: 40px !important;
    color: #666666 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 40px;
    box-sizing: border-box;
}

.Folder_DocumentManager .RadGrid.RadGrid_Default.rdgDocumentManager .rgRow.rgSelectedRow > td,
.Folder_DocumentManager .RadGrid.RadGrid_Default.rdgDocumentManager .rgAltRow.rgSelectedRow > td {
    color: #000000 !important;
}

.Folder_DocumentManager .RadGrid.RadGrid_Default.rdgDocumentManager .rgHeader {
    background: #FFFFFF !important;
    border: 1px solid #E4E4E4 !important;
    border-width: 1px 0px 1px 0px !important;
    /*border-bottom: 1px solid black !important;*/
    /*height: 40px !important;*/
    color: #999999 !important;
    text-transform: uppercase;
    text-align: center;
}

.Folder_DocumentManager .RadGrid.rdgDocumentManager div.rgHeaderWrapper {
    border-bottom-color: #E4E4E4;
}

/***********************************************************/
.Folder_DocumentManager .RadAjaxPanel {
    width: 100%;
}

.Folder_DocumentManager .smallIcon,
.rlvDraggedItem .smallIcon {
    width: 16px;
    height: 16px;
    background-image: url(Images/ResponsiveIcons/16Enabled.png) !important;
    display: inline-block;
    float: left;
}

.Folder_DocumentManager .Image .smallIcon,
.rlvDraggedItem .Image .smallIcon {
    background-position: -1120px 0;
}

.Folder_DocumentManager .FolderIcon .smallIcon,
.rlvDraggedItem .FolderIcon .smallIcon {
    background-position: -3232px 0;
}

.Folder_DocumentManager .EmailIcon .smallIcon,
.rlvDraggedItem .EmailIcon .smallIcon {
    background-position: -528px 0;
}

.Folder_DocumentManager .DefaultDocumentIcon .smallIcon,
.rlvDraggedItem .DefaultDocumentIcon .smallIcon {
    background-position: -272px 0;
}

.Folder_DocumentManager .Word .smallIcon,
.rlvDraggedItem .Word .smallIcon {
    background-position: -3807px 0;
    background-image: url(Images/ResponsiveIcons/16Enabled-GDrive.png) !important;
}

.Folder_DocumentManager .Pdf .smallIcon,
.rlvDraggedItem .Pdf .smallIcon {
    background-position: -3792px 0;
    background-image: url(Images/ResponsiveIcons/16Enabled-GDrive.png) !important;
}

.Folder_DocumentManager .Illustrator .smallIcon,
.rlvDraggedItem .Illustrator .smallIcon {
    background-position: -272px 0px;
}

.Folder_DocumentManager .Excel .smallIcon,
.rlvDraggedItem .Excel .smallIcon {
    background-position: -656px 0;
}

.Folder_DocumentManager .LinkRecord .smallIcon,
.rlvDraggedItem .LinkRecord .smallIcon {
    background-position: -736px 0;
}

.Folder_DocumentManager .RadGrid .Folder .Icon,
.Folder_DocumentManager .RadGrid .View .Icon,
.Folder_DocumentManager .RadGrid .Download .Icon {
    left: 0 !important;
}

.Folder_DocumentManager .RadGrid .rgEditRow .Folder .Icon {
    left: 4px !important;
}

.Folder_DocumentManager .Folder,
.Folder_DocumentManager .Edit,
.Folder_DocumentManager .CopyUrl,
.Folder_DocumentManager .active.Subscribe,
.Folder_DocumentManager .View,
.Folder_DocumentManager .Download,
.Folder_DocumentManager .active.Check {
    display: block;
}

.Folder_DocumentManager .menu .RadToolBar .Add .rtbIcon {
    background-image: url(Images/ResponsiveIcons/16Enabled.png);
    background-position: -496px 0;
}

.Folder_DocumentManager .menu .RadToolBar .Disabled .rtbIcon {
    background-image: url(Images/ResponsiveIcons/16Enabled.png);
    background-position: -816px 0;
}

.Folder_DocumentManager .menu .RadToolBar .Enabled .rtbIcon {
    background-image: url(Images/ResponsiveIcons/16Enabled.png);
    background-position: -800px 0;
}

.Folder_DocumentManager a.BreadCrumbLabel:active {
    font-size: 16px;
}
/*********************      Details pane CSS      ***************************/

.Folder_DocumentManager .detailPane {
    padding: 0 24px;
    box-sizing: border-box;
    height: calc(100vh - 142px);
}

.Folder_DocumentManager #ctl00_CPH1_DetailPane1_divNoFoldeOrFilerSelected {
    width: 100%;
    height: calc(100vh - 140px);
    text-align: center;
}

    .Folder_DocumentManager #ctl00_CPH1_DetailPane1_divNoFoldeOrFilerSelected span {
        top: 50%;
        position: relative;
        color: #666666;
    }

.Folder_DocumentManager .DetailsPaneTopLabel {
    float: left;
    display: inline;
    font-size: 16px;
    /*width: 300px;*/
    position: relative;
    top: 2px;
    text-decoration: underline;
    padding-left: 16px;
    color: #999999;
}

.Folder_DocumentManager .AttachmentDetailsPaneTopLabel {
    float: left;
    display: inline;
    font-size: 16px;
    /*width: 300px;*/
    position: relative;
    top: 2px;
    padding-left: 16px;
    color: #999999;
}

/* Css of the buttons in the details pane*/

/* Green Background Buttons 16px */

.Folder_DocumentManager .rgDataDiv .Icon {
    margin-left: 4px;
}

.Folder_DocumentManager .RadGrid .Folder, .RadGrid .View, .RadGrid .Download {
    margin-left: 20%;
}

.Folder_DocumentManager .Folder,
.Folder_DocumentManager .Edit,
.Folder_DocumentManager .CopyUrl,
.Folder_DocumentManager .active.Subscribe,
.Folder_DocumentManager .View,
.Folder_DocumentManager .FolderAttachment,
.Folder_DocumentManager .Download,
.Folder_DocumentManager .active.Check,
.Folder_DocumentManager .GoToRecord,
.Folder_DocumentManager .active.BookMark,
.Folder_DocumentManager .active.ModelManager,
.Folder_DocumentManager .active.PmWebViewer,
.Folder_DocumentManager .OneDrive,
.Folder_DocumentManager .GoogleDrive,
.Folder_DocumentManager .Link,
.Folder_DocumentManager .Url {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #68ba45;
    display: block !important;
}

    .Folder_DocumentManager .Folder .Icon,
    .Folder_DocumentManager .Edit .Icon,
    .Folder_DocumentManager .CopyUrl .Icon,
    .Folder_DocumentManager .active.Subscribe .Icon,
    .Folder_DocumentManager .View .Icon,
    .Folder_DocumentManager .Download .Icon,
    .Folder_DocumentManager .active.Check .Icon,
    .Folder_DocumentManager .active.BookMark .Icon,
    .Folder_DocumentManager .active.ModelManager .Icon,
    .Folder_DocumentManager .active.PmWebViewer .Icon,
    .Folder_DocumentManager .OneDrive .Icon,
    .Folder_DocumentManager .GoogleDrive .Icon,
    .Folder_DocumentManager .GoToRecord .Icon,
    .Folder_DocumentManager .Link .Icon,
    .Folder_DocumentManager .Url .Icon,
    .Folder_DocumentManager .FolderAttachment .Icon {
        width: 16px;
        height: 16px;
        background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/16x16 White.png') !important;
        display: block;
        position: relative;
        top: 4px;
        left: 4px;
    }

.Folder_DocumentManager .RadGrid .OneDrive .Icon,
.Folder_DocumentManager .RadGrid .GoogleDrive .Icon {
    width: 16px;
    height: 16px;
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/16x16 White.png') !important;
    display: block;
    position: relative;
    top: 4px;
    left: 0px;
}

.Folder_DocumentManager .controlWidth > span.checkedIcon,
.Folder_DocumentManager .controlWidth > span.uncheckedIcon {
    width: 16px !important;
    height: 16px;
    display: block;
    position: relative;
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/16x16 Hovered.png') !important;
}

.Folder_DocumentManager .uncheckedIcon {
    background-position: -592px 0px;
}

.Folder_DocumentManager .checkedIcon {
    background-position: -2080px 0px;
}

.Folder_DocumentManager .active.BookMark:hover .Icon,
.Folder_DocumentManager .active.ModelManager:hover .Icon,
.Folder_DocumentManager .CopyUrl:hover .Icon,
.Folder_DocumentManager .active.PmWebViewer:hover .Icon,
.Folder_DocumentManager .OneDrive:hover .Icon,
.Folder_DocumentManager .GoogleDrive:hover .Icon,
.Folder_DocumentManager .active.Check:hover .Icon,
.Folder_DocumentManager .Folder:hover .Icon,
.Folder_DocumentManager .View:hover .Icon,
.Folder_DocumentManager .Edit:hover .Icon,
.Folder_DocumentManager .Download:hover .Icon,
.Folder_DocumentManager .active.Subscribe:hover .Icon,
.Folder_DocumentManager .Link:hover .Icon,
.Folder_DocumentManager .Url:hover .Icon,
.Folder_DocumentManager .FolderAttachment:hover .Icon {
    background-image: url('../CSS/Images/ResponsiveIcons/ActivityBoardIcons/16x16 Hovered.png') !important;
}

.Folder_DocumentManager .GoogleDrive .Icon {
    background-position: -1936px 0px;
}

.Folder_DocumentManager .Folder .Icon,
.Folder_DocumentManager .View .Icon {
    background-position: -288px 0px;
}

.Folder_DocumentManager .Edit .Icon {
    background-position: -576px 0px;
}

.Folder_DocumentManager .active.BookMark .Icon {
    background-position: -2208px 0px;
}

.Folder_DocumentManager .active.ModelManager .Icon {
    background-position: -2256px 0px;
}

.Folder_DocumentManager .CopyUrl .Icon {
    background-position: -2224px 0px;
}

.Folder_DocumentManager .active.Subscribe .Icon {
    background-position: -1584px 0px;
}

.Folder_DocumentManager .active.Check .Icon {
    background-position: -336px 0px;
}

.Folder_DocumentManager .Download .Icon {
    background-position: -912px 0px;
}

.Folder_DocumentManager .active.PmWebViewer .Icon {
    background-position: -2240px 0px;
}

.Folder_DocumentManager .OneDrive .Icon {
    background-position: -2192px 0px;
}

.Folder_DocumentManager .Url .Icon {
    background-position: -2176px 0px;
}

.Folder_DocumentManager .FolderAttachment .Icon {
    background-position: -3840px 0px;
}

.Folder_DocumentManager .RadGrid .FolderAttachment .Icon {
    left: 0px !important;
}

.Folder_DocumentManager .Link .Icon {
    background-position: -1890px 0px;
    left: 1px !important;
    position: relative;
}

/* Regular Buttons 24px*/

.Folder_DocumentManager .BookMark:hover .Icon,
.Folder_DocumentManager .ModelManager:hover .Icon,
.Folder_DocumentManager .Subscribe:hover .Icon,
.Folder_DocumentManager .Check:hover .Icon,
.Folder_DocumentManager .PmWebViewer:hover .Icon,
.Folder_DocumentManager .BlueMarkStudio:hover .Icon,
.Folder_DocumentManager .Model:hover .Icon {
    background-image: url('../CSS/Images/ResponsiveIcons/ActivityBoardIcons/24x24 Hovered.png') !important;
}

.Folder_DocumentManager .BookMark .Icon,
.Folder_DocumentManager .ModelManager .Icon,
.Folder_DocumentManager .Subscribe .Icon,
.Folder_DocumentManager .Check .Icon,
.Folder_DocumentManager .PmWebViewer .Icon,
.Folder_DocumentManager .BlueMarkStudio .Icon,
.Folder_DocumentManager .Model .Icon {
    width: 24px;
    height: 24px;
    background-image: url('../CSS/Images/ResponsiveIcons/ActivityBoardIcons/24x24 Enabled.png');
    display: block;
}

.Folder_DocumentManager .BlueMarkStudio.active .icon {
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Enabled.png') !important;
}

.Folder_DocumentManager .ModelManager .Icon {
    background-position: -3384px 0px;
}

.Folder_DocumentManager .BookMark .Icon {
    background-position: -3312px 0px;
}

.Folder_DocumentManager .Subscribe .Icon {
    background-position: -2376px 0;
}

.Folder_DocumentManager .Check .Icon {
    background-position: -504px 0;
}

.Folder_DocumentManager .PmWebViewer .Icon {
    background-position: -3360px 0;
}

.Folder_DocumentManager .BlueMarkStudio .Icon {
    width: 24px;
    height: 24px;
    display: block;
    background-position: -24px 0;
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 White.png') !important;
}

.Folder_DocumentManager .active.BlueMarkStudio .Icon {
    background-position: -24px 0;
}

.Folder_DocumentManager .Model .Icon {
    background-position: -1680px 0;
}

/* Top Icon Css*/

.Folder_DocumentManager .Link.NoCursor {
    cursor: default !important;
    width: 100% !important;
    height: 24px;
    display: inline-block !important;
    float: left;
    background-color: white !important;
    border-radius: 0 !important;
}

.Folder_DocumentManager .Image .TopIcon,
.Folder_DocumentManager .FolderIcon .TopIcon,
.Folder_DocumentManager .DefaultDocumentIcon .TopIcon,
.Folder_DocumentManager .Illustrator .TopIcon,
.Folder_DocumentManager .Excel .TopIcon,
.Folder_DocumentManager .Pdf .TopIcon,
.Folder_DocumentManager .Word .TopIcon,
.Folder_DocumentManager .Link .TopIcon,
.Folder_DocumentManager .EmailIcon .TopIcon {
    width: 24px;
    height: 24px;
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Enabled.png') !important;
    display: inline-block !important;
    float: left;
    background-color: none !important;
    border-radius: 0 !important;
}

.Folder_DocumentManager .Image:hover .TopIcon,
.Folder_DocumentManager .FolderIcon:hover .TopIcon,
.Folder_DocumentManager .DefaultDocumentIcon:hover .TopIcon,
.Folder_DocumentManager .Illustrator:hover .TopIcon,
.Folder_DocumentManager .Excel:hover .TopIcon,
.Folder_DocumentManager .Pdf:hover .TopIcon,
.Folder_DocumentManager .Word:hover .TopIcon,
.Folder_DocumentManager .Link:hover .TopIcon,
.Folder_DocumentManager .EmailIcon:hover .TopIcon {
    background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Hovered.png') !important;
}

.Folder_DocumentManager .Image .TopIcon {
    background-position: -1656px 0px;
}

.Folder_DocumentManager .Link .TopIcon {
    background-position: -1080px 0px;
}

.Folder_DocumentManager .FolderIcon .TopIcon {
    background-position: -2328px 0px;
}

.Folder_DocumentManager .EmailIcon .TopIcon {
    background-position: -768px 0px;
}

.Folder_DocumentManager .DefaultDocumentIcon .TopIcon {
    background-position: -408px 0px;
}

.Folder_DocumentManager .Illustrator .TopIcon {
    background-position: -408px 0px;
}

.Folder_DocumentManager .Excel .TopIcon {
    background-position: -960px 0px;
}

.Folder_DocumentManager .Pdf .TopIcon {
    background-position: -2760px 0px !important;
}

.Folder_DocumentManager .Word .TopIcon {
    background-position: -2784px 0px !important;
}

.Folder_DocumentManager .RadGrid_Default .text-right,
.Folder_DocumentManager .RadGrid_Default .rgHeader.text-right {
    text-align: right !important;
}

.Folder_DocumentManager .RadGrid_Default .text-left,
.Folder_DocumentManager .RadGrid_Default .rgHeader.text-left {
    text-align: left !important;
}

.Folder_DocumentManager .RadGrid_Default .text-center,
.Folder_DocumentManager .RadGrid_Default .rgHeader.text-center {
    text-align: center !important;
}

.Folder_DocumentManager .RadGrid_Default .float-right a {
    float: right;
}

/* end of section */
@media screen and (min-width:844px) {
    .Folder_DocumentManager #floatButtonFiles.floatButton {
        position: absolute;
        /*right: 16px;
        bottom: 16px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #316888;
        text-align: center;
        box-sizing: border-box;
        cursor: pointer;*/
    }

    .Folder_DocumentManager .PMMainPage > .row .col-4 {
        display: block !important;
    }
}



@media screen and (max-width:1150px) {
    .Folder_DocumentManager .searchBar input.txtSearch {
        width: 30vw;
    }
}


@media screen and (max-width:1060px) {
    .Folder_DocumentManager .PMMainPage > .row > .col-8-fit,
    .Folder_DocumentManager .RColFitPageSize {
        width: calc(100% - 400px) !important;
    }

    .Folder_DocumentManager .PMMainPage > .row > .gridFullWidth.RColFitPageSize {
        width: 100% !important;
    }

    .Folder_DocumentManager .PMMainPage > .row .col-4 {
        width: 400px;
    }
}

@media screen and (max-width:1024px) {
    .Folder_DocumentManager .card .check,
    .rlvDraggedItem .card .check,
    .rlvDraggedItem .folderCard .check,
    .Folder_DocumentManager .folderCard .check {
        display: block;
        background: #E4E4E4;
    }

    .Folder_DocumentManager .card.active .check,
    .rlvDraggedItem .card.active .check,
    .rlvDraggedItem .folderCard.active .check,
    .Folder_DocumentManager .folderCard.active .check {
        display: block;
        background: #7396aa;
    }
}

@media screen and (max-width:1010px) {
    .folderName{
        width:175px !important;
    }
    .Folder_DocumentManager .PMMainPage > .row > .col-8-fit,
    .Folder_DocumentManager .RColFitPageSize {
        width: calc(100% - 400px) !important;
    }

    .Folder_DocumentManager .PMMainPage > .row > .gridFullWidth.RColFitPageSize {
        width: 100% !important;
    }

    .Folder_DocumentManager .PMMainPage > .row .col-4 {
        width: 400px;
    }

    .Folder_DocumentManager .folderCard,
    .rlvDraggedItem .folderCard {
        width: calc(100% - 30px) !important;
        min-width: 230px;
        max-width: 230px;
    }
}

@media screen and (max-width:521px) {
    .Folder_DocumentManager .folderCard,
    .rlvDraggedItem .folderCard {
        width: 369px;
        min-width: 369px;
    }
}

@media screen and (max-width: 879px) and (min-width: 844px) {
    .Folder_DocumentManager div.PMMainPage {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media screen and (min-width:844px) {
    .Folder_DocumentManager .PMMainPage > .row > .col-8-fit {
        display: block !important;
    }

    .Folder_DocumentManager .PMMainPage .col-8.RColFitPageSize {
        display: block !important;
    }
}

@media screen and (min-width:320px) and (max-width:843px) {

    .Folder_DocumentManager div.PMMainPage {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .Folder_DocumentManager #floatButtonFiles.floatButton {
        bottom: 60px;
    }

    .Folder_DocumentManager .cardView {
        padding-bottom: 40px;
    }

    .Folder_DocumentManager .PMMainPage > .row .col-4.slideRight {
        z-index: 150 !important;
    }

      .Folder_DocumentManager .PMMainPage > .row .col-4.slideRight.detailsPane,.Folder_DocumentManager .PMMainPage > .row .col-4.detailsPane {
        z-index: 50001  !important;
        height: 100vh !important;
    }

    .Folder_DocumentManager .folderCard,
    .rlvDraggedItem .folderCard {
        width: 369px !important;
        min-width: initial;
        max-width: initial;
    }

    .Folder_DocumentManager .PMMainPage > .row .col-4 {
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
    }

    .Folder_DocumentManager .PMMainPage > .row > .col-8-fit,
    .Folder_DocumentManager .RColFitPageSize {
        width: 100% !important;
        height: 100% !important;
        margin-top: 50px;
    }

    .Folder_DocumentManager .ToolBar {
        display: none;
    }

    .Folder_DocumentManager .menu {
        height: 50px;
        line-height: 50px;
        position: fixed;
        z-index: 100;
        box-sizing: border-box;
        width: 100%;
    }

    .Folder_DocumentManager .RadToolBar_Default {
        padding-top: 12px;
        background: #ededed;
        width: 100%;
    }





        .Folder_DocumentManager .RadToolBar_Default .rtbUL {
            display: flex;
            justify-content: space-between;
        }

    .Folder_DocumentManager .RadToolBar .rtbText {
        display: none;
    }

    .Folder_DocumentManager .col-8.RColFitPageSize {
        height: 100% !important;
    }

    .Folder_DocumentManager .menu .RadToolBar span.rtbIcon {
        width: 24px;
        height: 24px;
        background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Enabled.png') !important;
    }

    .Folder_DocumentManager .menu .RadToolBar .Toolbardetails.Disabled span.rtbIcon,
    .Folder_DocumentManager .menu .RadToolBar .Toolbardetails.Enabled span.rtbIcon {
        width: 24px;
        height: 24px;
        background-image: url('Images/ResponsiveIcons/DetailsIcon24.png') !important;
    }

    .Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .rtbIcon,
    .Folder_DocumentManager .RadToolBar .rtbItemFocused .rtbIcon {
        background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Hovered.png') !important;
    }

    .Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarListView .rtbIcon,
    .Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarSort .rtbIcon,
    .Folder_DocumentManager .menu .RadToolBar .rtbItemHovered .ToolbarCardView .rtbIcon,
    .Folder_DocumentManager .RadToolBar .rtbItemFocused .ToolbarListView .rtbIcon,
    .Folder_DocumentManager .RadToolBar .rtbItemFocused .ToolbarSort .rtbIcon,
    .Folder_DocumentManager .RadToolBar .rtbItemFocused .ToolbarCardView .rtbIcon {
        background-image: url('Images/ResponsiveIcons/ActivityBoardIcons/24x24 Hovered.png') !important;
    }

    .Folder_DocumentManager .menu .RadToolBar .Add .rtbIcon {
        background-position: -720px 0px;
    }

    .Folder_DocumentManager .menu .RadToolBar .Enabled .rtbIcon {
        background-position: -1896px 0px;
    }

    .Folder_DocumentManager .ToolbarCardView .rtbIcon {
        background-position: -3168px 0px !important;
    }

    .Folder_DocumentManager .ToolbarSort .rtbIcon {
        background-position: -3408px 0px;
    }

    .Folder_DocumentManager .ToolbarListView .rtbIcon {
        background-position: -3144px 0px !important;
    }
}

.Folder_DocumentManager .PMMainPage > .row .col-4 {
    position: fixed;
    right: 0;
    z-index: 100;
}

    .Folder_DocumentManager .PMMainPage > .row .col-4.slideRight {
        z-index: -1;
    }

.Folder_DocumentManager .transition {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.Folder_DocumentManager .PMMainPage > .row > .col-8-fit.gridFullWidth {
    width: 100% !important;
    transition: width 0.5s;
}

    .Folder_DocumentManager .PMMainPage > .row > .col-8-fit.gridFullWidth.noTransition {
        transition: none;
    }

.Folder_DocumentManager .PMMainPage > .row > .col-8-fit.fullWidth {
    width: 100% !important;
}

.Folder_DocumentManager .imgDisplay {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: top;
}

/*---CardView Icons---*/

.Folder_DocumentManager .GoogleDriveIcon {
    width: 158px;
    height: 130px;
    display: block;
    background-image: url(Images/FolderManagerIcons/GoogleDriveIcon.png);
}

.Folder_DocumentManager .OneDriveIcon {
    width: 158px;
    height: 130px;
    display: block;
    background-image: url(Images/FolderManagerIcons/OneDriveIcon.png);
}

.Folder_DocumentManager .DownloadIcon {
    width: 158px;
    height: 130px;
    display: block;
    background-image: url(Images/FolderManagerIcons/DownloadIcon.png);
}

.Folder_DocumentManager .RecordLinkIcon {
    width: 158px;
    height: 130px;
    display: block;
    background-image: url(Images/FolderManagerIcons/RecordLinkIcon.png);
}

.Folder_DocumentManager .WebSiteIcon {
    width: 158px;
    height: 130px;
    display: block;
    background-image: url(Images/FolderManagerIcons/WebSiteIcon.png);
}

.Folder_DocumentManager .FolderLargeIcon {
    width: 158px;
    height: 128px;
    display: block;
    background-image: url(Images/FolderManagerIcons/FolderIcon.png);
}

/*Comments Css*/
.Folder_DocumentManager .commentContainer {
    padding: 5px;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid transparent;
}

    .Folder_DocumentManager .commentContainer:hover {
        border: 1px solid gray;
        border-radius: 5px;
    }

.Folder_DocumentManager .rapComments {
    width: calc(100% - 50px) !important;
}

    .Folder_DocumentManager .rapComments .tblComments {
        width: 100% !important;
    }

.Folder_DocumentManager .divProfilePicture {
    margin-right: 0 !Important;
}


.Folder_DocumentManager .card input[type="image"],
.rlvDraggedItem .card input[type="image"] {
    width: 160px;
    height: 130px;
    object-fit: contain;
}

/*.rgMasterTable.rgClipCells {
    width: 100% !important;
}*/


.Folder_DocumentManager .RadGrid_Default .text-right,
.Folder_DocumentManager .RadGrid_Default .rgHeader.text-right {
    padding: 0 !important;
}

.Folder_DocumentManager .RadAjax.RadAjax_Default.detailLoadingPanel {
    position: absolute !important;
}

.Folder_DocumentManager #ctl00_ctl00_CPH1_mainContentPanel {
    height: 100% !important;
}

.Folder_DocumentManager #ctl00_CPH1_mainContent {
    height: 100%;
}


/***********************************************************************Document Attachment*****************************************************************************/


.documentAttachment .ruDropZone {
    padding: 1px;
    width: 1px;
    height: 1px;
}

.documentAttachment .rgHoveredRow {
    background: #E4E4E4 !important;
}

.documentAttachment .CenterDiv {
    text-align: center;
    text-align: -moz-center;
}

.documentAttachment .Url .Icon {
    left: 0 !important;
}

.documentAttachment .BlueBeam .BlueBeamIcon {
    background-image: url('CSS/Images/2007Small.png');
    background-repeat: no-repeat !important;
    background-position: -3552px 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.documentAttachment .SelectButtonStyle {
    text-align: center;
    height: 32px;
    background-color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 6px;
    margin: 4px;
}

.documentAttachment .GoToRecord .Icon {
    background-position: -1890px 0px;
}

.documentAttachment .GoToRecord {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background-color: #68ba45;
    display: block !important;
}

.documentAttachment .BigIcon {
    width: 158px;
    height: 130px;
    display: block;
    background-image: url(CSS/Images/FolderManagerIcons/GoogleDriveIcon.png);
}

.documentAttachment input.ruButton.ruBrowse {
    background: none !important;
    border: none !important;
    color: #666666;
}

@media screen and (min-width:1101px) {
    .documentAttachment .UploadAttachmentWidth {
        width: 99% !important;
    }
}

@media screen and (max-width:1100px) and (min-width:600px) {
    .documentAttachment .UploadAttachmentWidth {
        width: 98% !important;
    }
}

@media screen and (max-width:599px) and (min-width:400px) {
    .documentAttachment .UploadAttachmentWidth {
        width: 97% !important;
    }
}

@media screen and (max-width:399px) and (min-width:320px) {
    .documentAttachment .UploadAttachmentWidth {
        width: 95% !important;
    }
}


.documentAttachment .RadGrid.RadGrid_Default .rgHeaderDiv th.rgHeader {
    white-space: nowrap !important;
}



.documentAttachment .detailPane {
    height: calc(100vh - 181px) !important;
}

.documentAttachment .NoFileSelected span {
    position: relative;
    top: 50%;
}

.documentAttachment .divContentHolder {
    padding-top: 26px !important;
}

.documentAttachment .documentMultiPages {
    margin-top: 41px !important;
    margin-bottom: 32px !important;
}

.documentAttachment #ctl00_ctl00_CPH1_mlpInitiativesBudgetPanel.RadAjaxPanel {
    display: block !important;
}

.documentAttachment .RadGrid_Default .text-left,
.documentAttachment .RadGrid_Default .rgHeader.text-left {
    padding: 0 !important;
}

.documentAttachment .RadGrid .Folder,
.documentAttachment .RadGrid .View,
.documentAttachment .RadGrid .Download,
.documentAttachment .RadGrid .Link,
.documentAttachment .RadGrid .Url,
.documentAttachment .RadGrid .FolderAttachment {
    margin-left: 20%;
}
/*.RadGrid .Folder, .RadGrid .View, .RadGrid .Download
     {
         margin-left:0!important;
     }*/

/*.rgDataDiv .Icon{
         margin-left:0!important;
     }*/

.documentAttachment .ToolBar {
    display: block !important;
}

.documentAttachment .detailsPane {
    height: calc(100vh - 177px) !important;
}

@media screen and (min-width:320px) and (max-width:843px) {
    .documentAttachment .ToolBar {
        display: block !important;
        z-index: 0 !important;
    }

    .documentAttachment .documentTabs {
        z-index: 0 !important;
    }

    .documentAttachment .menu {
        margin-top: 20px;
        width: 100% !important;
    }

    .documentAttachment .PMMainPage {
        padding-top: 20px;
    }

    .documentAttachment .Js-DropZone {
        height: 100% !important;
    }

    .documentAttachment .detailsPane {
        z-index: 1 !important;
    }

    .documentAttachment .menu {
        z-index: 0 !important;
    }

    .documentAttachment #ctl00_CPH1_DocumentAttachments_menuToolbar .rtbOuter {
        padding-top: 12px;
    }

    .documentAttachment .RadToolBar_Default {
        padding-top: 0 !important;
    }

    .documentAttachment .detailPane {
        height: calc(100vh - 36px) !important;
    }
}

.documentAttachment .ToolBar .RadToolBar .rtbItemFocused .rtbIcon {
    background-image: url('CSS/Images/ResponsiveIcons/24Enabled.png') !important;
}

.documentAttachment .RadGrid.RadGrid_Default.rgHeaderRightBorder .rgHeaderDiv th.rgHeader {
    border-right: 1px solid #e4e4e4 !Important;
}


