@media screen and (min-width:200px) and (max-width:500px) {
    .labelWidth {
        width: 40% !important;
        height: 24px !important;
        line-height: 24px !important;
        background: #FFFFFF !important;
        color: #666666 !important;
        text-overflow: ellipsis !important;
    }
        .labelWidth span {
        width:90% !important;
        }

    .PMHeader .row .col-4 {
        flex: 0 0 31.3333%;
        max-width: 31.3333%;
        float: left;
        margin-left: 0px !important;
    }
}

#lblNotifyOnTeamChanges{
    width:200px !important;
}

tr.ToolBar, table.ToolBar, div.ToolBar {
    z-index: 1999 !important;
    top: 0px !important;
}

.rspPane {
    border-right-width: 0px !important;
    border-bottom-width: 0px !important;
}

.RadSplitter {
    border-left-width: 0px !important;
    border-top-width: 0px !important;
}

.TreeToolbarSplitbar {
    border-right-width: 2px !important;
    border-bottom-width: 0px !important;
    border-left-width: 2px !important;
    cursor: w-resize;
    border-color: #afafaf !important;
}


.GridCol-12 {
    padding-right: 8px;
}

@media screen and (min-width:320px) and (max-width:843px) {
    .GridCol-12 {
        padding-right: 24px;
        padding-top: 0px;
        padding-left: 24px;
    }
    .documentSinglePageProjection {
        padding-top: 50px !important;
    }

    .labelWidth {
        width: 40% !important;
    }
    .labelWidth span {
        width:90% !important;
        }

    .RadTreeView.CheckBoxesTreeview label .rtChk {
        display: inline !important;
    }
}

.RadTreeView.CheckBoxesTreeview label .rtChk {
    display: none;
}

.RadTreeView.CheckBoxesTreeview.isipad label .rtChk {
    display: inline !important;
}

.RadTreeView {
    margin-top: 5px;
    overflow: unset !important;
    margin-left: 10px;
}

@media screen and (min-width:320px) and (max-width:843px) {
    .treeToolbar {
        position: fixed !important;
        z-index: 2900 !important;
        width: 70vw  !important;
        table-layout: fixed;
    }

    .treePaddingOnMobile {
        padding-top: 50px !important;
    }

    div#treeGroupsAndItems {
        max-height: none !important;
    }

    .RemoveOnMobile {
        display: none !important;
    }

    .BarcodeToolbar {
        margin-left: 16px !important;
    }

    .rspResizeBar {
        display: none;
    }
    
    .popupGrid-Col-12 {
        padding-right: 24px;
        padding-top: 24px;
        padding-left: 24px;
    }
    .PaneWithDarkBackground{
        background-color:#666666
    }
    
    .PMMainPage .row .col-4 .RadPicker table.rcTable .rcInputCell{
        width: 100% !important;
    }
}
