<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="HTTP to HTTPS redirect" stopProcessing="true">
  <match url="(.*)" />
    <conditions>
      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
	      <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
    </conditions>
  <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
</rule>
                <rule name="partnership" stopProcessing="true">
                    <match url="proc_api(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:5000/proc_api/{R:2}" />
                </rule>
                <rule name="pmis" stopProcessing="true">
                    <match url="flaskApi(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:5010/flaskApi/{R:2}" />
                </rule>
                <rule name="stage-gate" stopProcessing="true">
                    <match url="stage_gate(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:5012/stage_gate/{R:2}" />
                </rule>
                <rule name="jenkins" enabled="true" stopProcessing="true">
                    <match url="jenkins(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:8080/jenkins/{R:2}" />
                </rule>
                <rule name="ReverseProxyInboundRule1" enabled="false" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="\{C:1}\://localhost:8080{UNENCODED_URL}" appendQueryString="false" />
                    <conditions>
                        <add input="{CACHE_URL}" pattern="^(http|ws)s://" />
                    </conditions>
                    <serverVariables>
                        <set name="HTTP_FORWARDED" value="for={REMOTE_ADDR};by={LOCAL_ADDR};host=&quot;{HTTP_HOST}&quot;;proto=&quot;https&quot;" />
                    </serverVariables>
                </rule>
                <rule name="procurement" stopProcessing="true">
                    <match url="myapp(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:5015/myapp/{R:2}" />
                </rule>
                <rule name="damac_proc" enabled="true" stopProcessing="true">
                    <match url="damproc(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:5081/proc/{R:2}" />
                </rule>
                <rule name="gcp" stopProcessing="true">
                    <match url="gcp(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:5111/stage_gate/{R:2}" />
                </rule>
                <rule name="pmwebx" stopProcessing="true">
                    <match url="node(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:3000/{R:2}" />
                </rule>
                <rule name="alf_proc" stopProcessing="true">
                    <match url="cproc(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:5022/cproc/{R:2}" />
                </rule>
                <rule name="alf_eoi" stopProcessing="true">
                    <match url="ceoi(/)?(.*)" />
                    <action type="Rewrite" url="http://localhost:7000/ceoi/{R:2}" />
                </rule>
</rules>
            <outboundRules>
                <rule name="Remove Server Response Header">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
</rewrite>
</system.webServer>
</configuration>
