#cssmenu > ul > li > ul > li > div {
    padding-right: 40px;
    display: block;
    /*background: #23c6c8;*/
    color: #000000;
    border-bottom: 1px solid #ccc;
   /* text-transform: uppercase;*/
    position: relative;
}

#cssmenu ul ul div {
    padding: 10px;
    display: block;
    color: #000000;
}

#cssmenu .form-check-label {
    color: #000000;
    /*font-size: 12px;*/
}

#cssmenu ul ul li:hover {
    background-color: #F1ECE0;
     color: #000000 !important;
}

#cssmenu ul ul li.active {
    background-color: #F1ECE0;
    color: #000000 !important;
}

.dashboard-menu ul ul li.active a{
    color: #000000 !important;
}

.nav-tabs a {
    /*font-size:15px !important;*/
}

.navbar-nav > li > a:focus, .navbar-nav > li > a:hover {
    background: #FFFFFF !important;
    color: #000000 !important;
}

.navbar-nav > li.active > a, .navbar-nav > li.active > a:focus, .navbar-nav > li.active > a:hover {
    background: #696969 !important;
    color: #FFFFFF !important;
}

#pleaseWaitDialog .center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0px 0px -50px;
}

.checkbox-menu {
    display: none;
    float: left;
    margin-right: 5px !important;
}

label {
    font-size: 13px !important;
    font-weight: 300 !important;
}

.fa-check {
    animation: fade-out .5s;
    display: none;
}

.div-check-box {
    display: block;
    float: left;
    border: 2px inset #1f2e86;
    height: 19px;
    width: 19px;
    margin-right: 5px;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 1px !important;
    padding-top: 1px !important;
    background-color: #FFF;
    color: #1f2e86;
}

.checkbox-menu:checked ~ .div-check-box > .fa-check {
    animation: fade-in .5s;
    display: block;
    color: #1f2e86;
}

.btn-clear {
    margin-left: 190px;
    margin-bottom: 10px;
}

@keyframes fade-in {
  from { 
    opacity: 0; 
  }
  to { 
    opacity: 1; 
  }
}

@keyframes fade-out {
  from { 
    opacity: 1; 
  }
  to { 
    opacity: 0;
  }
}