.RadListBox {
  min-width: 140px;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  position: relative;
  zoom: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  .RadListBox .rlbHeader,
  .RadListBox .rlbFooter {
    padding: 2px 5px; }
  .RadListBox .rlbList {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    position: relative;
    *zoom: 1; }
  .RadListBox .rlbCheckAllItemsCheckBox,
  .RadListBox .rlbCheck {
    margin: 0 4px; }

.RadListBox .rlbGroup {
  border-width: 1px;
  border-style: solid;
  outline: none; }

.RadListBox .rlbGroup,
.RadListBox .rlbButtonAreaTop,
.RadListBox .rlbButtonAreaBottom,
.RadListBox .rlbButtonAreaLeft,
.RadListBox .rlbButtonAreaRight {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-spacing: 0; }
  .RadListBox .rlbGroup td,
  .RadListBox .rlbButtonAreaTop td,
  .RadListBox .rlbButtonAreaBottom td,
  .RadListBox .rlbButtonAreaLeft td,
  .RadListBox .rlbButtonAreaRight td {
    padding: 0; }

.RadListBox .rlbCheckAllItems {
  padding: 2px 5px; }

.RadListBox .rlbCheckAllItems,
.RadListBox .rlbCheckAllItems label {
  vertical-align: middle; }

.RadListBox .rlbCheckAllItemsCheckBox {
  vertical-align: middle; }

.RadListBox label {
  font-weight: normal;
  font-weight: inherit; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .RadListBox .rlbCheckAllItemsCheckBox {
    margin-top: 0px;
    vertical-align: middle; } }

.RadListBox .rlbItem {
  cursor: default;
  padding: 2px 5px;
  white-space: nowrap; }

.RadListBox .rlbItemHidden {
  visibility: hidden;
  display: block; }

.RadListBox .rlbGroup .rlbActive {
  border: 1px dotted #555;
  padding: 1px 4px; }

* + html .RadListBox .rlbItem {
  overflow: visible; }

.RadListBox .rlbText,
.RadListBox .rlbTemplate {
  display: inline;
  white-space: normal; }

.RadListBox .rlbText {
  vertical-align: middle; }

.RadListBox .rlbTemplate {
  -moz-user-select: text;
  -khtml-user-select: text;
  display: block;
  overflow: hidden; }

.RadListBox .rlbImage {
  padding-right: 2px; }

.RadListBox .rlbCheck,
.RadListBox .rlbImage,
.RadListBox .rlbText {
  vertical-align: middle; }

.RadListBoxButtonArea {
  width: 170px; }

.RadListBox .rlbButtonAreaRight {
  float: right; }

.RadListBox .rlbButtonAreaLeft {
  float: left; }

.rlbGroupRight,
.rlbGroupLeft {
  overflow: hidden; }

.RadListBoxScrollable .rlbGroup {
  overflow: auto; }

.RadListBoxScrollable .rlbGroupLeft,
.RadListBoxScrollable .rlbGroupRight,
.RadListBoxScrollable .rlbGroupTop,
.RadListBoxScrollable .rlbGroupBottom {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute; }

.RadListBox .rlbTemplateContainer {
  border-width: 1px;
  border-style: solid; }

.RadListBox.RadListBoxScrollable .rlbTemplateContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.RadListBox .rlbTemplateContainer .rlbGroup {
  border-width: 0;
  background-color: transparent; }

.RadListBox .rlbHeader,
.RadListBox .rlbFooter {
  border-style: solid;
  background-position: 0 0;
  background-repeat: repeat-x; }

.RadListBox .rlbHeader {
  border-width: 0 0 1px; }

.RadListBox .rlbFooter {
  border-width: 1px 0 0; }

.RadListBoxScrollable .rlbTemplateContainer {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute; }

.RadListBox .rlbTemplateTable {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed; }

.RadListBox .rlbTemplateTable td {
  padding: 0; }

.RadListBox .rlbTemplateCell {
  height: 1px; }

.RadListBox .rlbGroupCell,
.RadListBox .rlbGroupContainer {
  height: 100%;
  position: relative; }

.RadListBox .rlbGroupCell {
  height: auto\9;
  position: relative\9; }

.RadListBox .rlbGroupContainer {
  position: relative; }

.RadListBox .rlbGroupContainer {
  position: static\9; }

@media all and (-webkit-min-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .RadListBox .rlbGroupCell {
    height: auto;
    position: relative; }
  .RadListBox .rlbGroupContainer {
    position: static; } }

.RadListBox .rlbTemplateContainer .rlbGroup {
  border-left: none;
  border-right: none; }

.RadListBoxScrollable .rlbButtonAreaBottom {
  position: absolute;
  bottom: 0; }

.RadListBox .rlbButton {
  display: block;
  width: auto;
  height: 21px;
  line-height: 15px;
  margin: 0 7px 5px 3px;
  padding-right: 5px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  box-sizing: content-box;
  vertical-align: top;
  white-space: nowrap; }

.RadListBox .rlbButton:hover {
  zoom: 1; }

.RadListBox .rlbNoButtonText {
  display: block;
  width: 22px;
  padding: 0;
  margin: 0 0 5px 6px; }

.rlbButtonAreaLeft .rlbNoButtonText {
  margin: 0 4px 5px 2px; }

* + html .RadListBox .rlbNoButtonText {
  margin: 0 5px 5px 5px; }

.RadListBox .rlbButtonAreaTop,
.RadListBox .rlbButtonAreaBottom {
  width: 100%; }

.RadListBox .rlbButtonAreaTop .rlbButton,
.RadListBox .rlbButtonAreaBottom .rlbButton {
  vertical-align: middle;
  display: inline-block; }

.RadListBox .rlbCenter,
.RadListBox .rlbRight {
  width: 100%; }

.RadListBox .rlbCenter {
  text-align: center; }

.RadListBox .rlbRight {
  text-align: right; }

.RadListBox .rlbRight .rlbButton {
  margin: 5px 0px 5px 5px; }

.RadListBox .rlbButtonAreaTop .rlbButton {
  margin: 0 6px 5px 0; }

.RadListBox .rlbButtonAreaBottom .rlbButton {
  margin: 5px 6px 1px 0; }

.RadListBox .rlbMiddle,
.RadListBox .rlbBottom {
  height: 100%; }

.RadListBox .rlbMiddle td {
  vertical-align: middle; }

.RadListBox .rlbBottom td {
  vertical-align: bottom; }

.RadListBox .rlbButtonTL,
.RadListBox .rlbButtonTR,
.RadListBox .rlbButtonBL,
.RadListBox .rlbButtonBR {
  display: inline-block;
  position: relative; }

.RadListBox .rlbButtonAreaLeft .rlbButtonTL,
.RadListBox .rlbButtonAreaLeft .rlbButtonTR,
.RadListBox .rlbButtonAreaLeft .rlbButtonBL,
.RadListBox .rlbButtonAreaLeft .rlbButtonBR,
.RadListBox .rlbButtonAreaRight .rlbButtonTL,
.RadListBox .rlbButtonAreaRight .rlbButtonTR,
.RadListBox .rlbButtonAreaRight .rlbButtonBL,
.RadListBox .rlbButtonAreaRight .rlbButtonBR {
  width: 100%; }

.RadListBox .rlbNoButtonText .rlbButtonTL,
.RadListBox .rlbNoButtonText .rlbButtonTR,
.RadListBox .rlbNoButtonText .rlbButtonBL,
.RadListBox .rlbNoButtonText .rlbButtonBR {
  width: auto; }

.RadListBox .rlbButtonTL {
  left: -4px;
  background-position: 0 0; }

.RadListBox .rlbButtonTR {
  bottom: 4px;
  right: 0;
  overflow: visible;
  background-position: 100% 0; }

.RadListBox .rlbButtonBL {
  top: 4px;
  right: 0;
  background-position: 0 100%; }

.RadListBox .rlbButtonBR {
  right: -4px;
  display: inline-block;
  background-position: 100% 100%; }

.RadListBox .rlbButtonText {
  position: relative;
  display: block;
  z-index: 1;
  padding: 3px 3px 0 20px;
  line-height: 15px;
  background-color: transparent;
  *zoom: 1; }

* + html .RadListBox .rlbButtonAreaTop .rlbButtonText,
* + html .RadListBox .rlbButtonAreaBottom .rlbButtonText {
  line-height: 14px; }

.RadListBox .rlbNoButtonText .rlbButtonText {
  padding-left: 18px;
  padding-right: 0;
  width: 0;
  *font-size: 0; }

@media all and (-webkit-max-device-pixel-ratio: 10000), not all and (-webkit-min-device-pixel-ratio: 0) {
  .RadListBox .rlbNoButtonText .rlbButtonText {
    margin-top: 1px;
    top: -1px; } }

.rlbHighlight {
  font-weight: bold; }

.RadListBox .rlbNoButtonText .rlbButtonText {
  font-size: 12px \9; }

.RadListBox .rlbDisabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default; }

.RadListBox .rlbDropClue {
  width: 10px;
  height: 9px;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
  position: absolute;
  left: -10px;
  z-index: 10; }

.RadListBox .rlbDropClueAbove {
  padding-top: 1px;
  border-top-width: 1px;
  border-top-style: dotted; }

.RadListBox .rlbDropClueBelow {
  padding-bottom: 1px;
  border-bottom-width: 1px;
  border-bottom-style: dotted; }

.RadListBox .rlbEmptyMessage {
  text-align: center;
  color: #999;
  font-style: italic;
  position: absolute; }

.RadListBox * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.rlbTouchDragClue {
  margin-top: -50px; }

.rlbTouchDragClue .rlbGroup .rlbActive {
  border: 0;
  padding: 2px 5px; }


  .RadListBox_Default .rlbGroup,
  .RadListBox_Default .rlbTemplateContainer {
    border-color: #8e8e8e;
    color: #333333;
    background-color: white; }
  .RadListBox_Default .rlbCheckAllItems {
    color: #333333;
    background-color: #eaeaea; }
  .RadListBox_Default .rlbCheckAllItemsHovered {
    color: #333333;
    background-color: white; }
  .RadListBox_Default .rlbItem {
    line-height: 18px; }
  .RadListBox_Default .rlbHighlight {
    color: black;
    background-color: #dfdfdf; }
  .RadListBox_Default .rlbItem.rlbHovered {
    color: black;
    background: #dfdfdf; }
  .RadListBox_Default .rlbItem.rlbSelected {
    color: black;
    background: #c5c5c5; }

.RadListBox_Default .rlbHeader,
.RadListBox_Default .rlbFooter {
  border-color: #8e8e8e;
  background-image: url('../Images/ListBox/rlbHeaderFooter.png');
  background-color: #f1f2f4; }

.RadListBox_Default .rlbFooter {
  background-position: 0 -200px;
  background-color: #e6e6e6; }

.RadListBox_Default .rlbDropClue {
  background-image: url('../Images/ListBox/rlbDropClue.png'); }

.RadListBox_Default .rlbGroup .rlbDropClueAbove {
  border-top-style: dotted;
  border-top-color: #8e8e8e; }

.RadListBox_Default .rlbGroup .rlbDropClueBelow {
  border-bottom-style: dotted;
  border-bottom-color: #8e8e8e; }

.RadListBox_Default .rlbGroup .rlbSelected.rlbDropClueAbove,
.RadListBox_Default .rlbGroup .rlbHovered.rlbDropClueAbove,
.RadListBox_Default .rlbGroup .rlbSelected.rlbDropClueBelow,
.RadListBox_Default .rlbGroup .rlbHovered.rlbDropClueBelow {
  border-color: #FFF; }

/* Buttons normal state vertical layout*/
.RadListBox_Default .rlbButton {
  color: #333333; }
.RadListBox_Default .rlbButtonText {
  background-image: url('../Images/ListBox/rlbSprite.png'); }
.RadListBox_Default .rlbButton:hover .rlbButtonTL,
.RadListBox_Default .rlbButton:hover .rlbButtonTR,
.RadListBox_Default .rlbButton:hover .rlbButtonBL,
.RadListBox_Default .rlbButton:hover .rlbButtonBR {
  background-image: url('../Images/ListBox/rlbButtonHover.png'); }
    .RadListBox_Default .rlbButton .rlbButtonTL,
    .RadListBox_Default .rlbButton .rlbButtonTR,
    .RadListBox_Default .rlbButton .rlbButtonBL,
    .RadListBox_Default .rlbButton .rlbButtonBR,
    .RadListBox_Default .rlbDisabled:hover .rlbButtonTL,
    .RadListBox_Default .rlbDisabled:hover .rlbButtonTR,
    .RadListBox_Default .rlbDisabled:hover .rlbButtonBL,
    .RadListBox_Default .rlbDisabled:hover .rlbButtonBR {
        background-image: url('../Images/ListBox/rlbButtonNormal.png');
    }
.RadListBox_Default .rlbButton:hover {
  color: black; }
.RadListBox_Default .rlbDisabled,
.RadListBox_Default .rlbDisabled:hover {
  color: #333333; }

.RadListBox_Default .rlbMoveUp .rlbButtonText {
  background-position: 0 0; }
.RadListBox_Default .rlbMoveUp:hover .rlbButtonText {
  background-position: -400px 0; }
.RadListBox_Default .rlbMoveUpDisabled .rlbButtonText,
.RadListBox_Default .rlbMoveUpDisabled:hover .rlbButtonText {
  background-position: -200px 0; }
.RadListBox_Default .rlbMoveDown .rlbButtonText {
  background-position: 0 -25px; }
.RadListBox_Default .rlbMoveDown:hover .rlbButtonText {
  background-position: -400px -25px; }
.RadListBox_Default .rlbMoveDownDisabled .rlbButtonText,
.RadListBox_Default .rlbMoveDownDisabled:hover .rlbButtonText {
  background-position: -200px -25px; }
.RadListBox_Default .rlbMoveToTop .rlbButtonText {
  background-position: 0 -275px; }
.RadListBox_Default .rlbMoveToTop:hover .rlbButtonText {
  background-position: -400px -275px; }
.RadListBox_Default .rlbMoveToTopDisabled .rlbButtonText,
.RadListBox_Default .rlbMoveToTopDisabled:hover .rlbButtonText {
  background-position: -200px -275px; }
.RadListBox_Default .rlbMoveToBottom .rlbButtonText {
  background-position: 0 -300px; }
.RadListBox_Default .rlbMoveToBottom:hover .rlbButtonText {
  background-position: -400px -300px; }
.RadListBox_Default .rlbMoveToBottomDisabled .rlbButtonText,
.RadListBox_Default .rlbMoveToBottomDisabled:hover .rlbButtonText {
  background-position: -200px -300px; }
.RadListBox_Default .rlbDelete .rlbButtonText {
  background-position: 0 -50px; }
.RadListBox_Default .rlbDelete:hover .rlbButtonText {
  background-position: -400px -50px; }
.RadListBox_Default .rlbDeleteDisabled .rlbButtonText,
.RadListBox_Default .rlbDeleteDisabled:hover .rlbButtonText {
  background-position: -200px -50px; }
.RadListBox_Default .rlbButtonAreaRight .rlbTransferTo .rlbButtonText,
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferFrom .rlbButtonText {
  background-position: 0 -100px; }
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferTo .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferFrom .rlbButtonText {
  background-position: 0 -75px; }
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferTo:hover .rlbButtonText {
  background-position: -400px -100px; }
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferFrom:hover .rlbButtonText {
  background-position: -400px -75px; }
.RadListBox_Default .rlbButtonAreaRight .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferToDisabled:hover .rlbButtonText {
  background-position: -200px -100px; }
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferFromDisabled:hover .rlbButtonText {
  background-position: -200px -75px; }
.RadListBox_Default .rlbButtonAreaRight .rlbTransferAllTo .rlbButtonText,
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -150px; }
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferAllTo .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -125px; }
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferAllTo:hover .rlbButtonText {
  background-position: -400px -150px; }
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferAllFrom:hover .rlbButtonText {
  background-position: -400px -125px; }
.RadListBox_Default .rlbButtonAreaRight .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferAllToDisabled:hover .rlbButtonText {
  background-position: -200px -150px; }
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaLeft .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaRight .rlbTransferAllFromDisabled:hover .rlbButtonText {
  background-position: -200px -125px; }
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferTo .rlbButtonText,
.RadListBox_Default .rlbButtonAreaTop .rlbTransferFrom .rlbButtonText {
  background-position: 0 -200px; }
.RadListBox_Default .rlbButtonAreaTop .rlbTransferTo .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferFrom .rlbButtonText {
  background-position: 0 -175px; }
.RadListBox_Default .rlbButtonAreaTop .rlbTransferFrom:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferTo:hover .rlbButtonText {
  background-position: -400px -200px; }
.RadListBox_Default .rlbButtonAreaTop .rlbTransferTo:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferFrom:hover .rlbButtonText {
  background-position: -400px -175px; }
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaTop .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaTop .rlbTransferFromDisabled:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferToDisabled:hover .rlbButtonText {
  background-position: -200px -200px; }
.RadListBox_Default .rlbButtonAreaTop .rlbTransferToDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferFromDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaTop .rlbTransferToDisabled:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferFromDisabled:hover .rlbButtonText {
  background-position: -200px -175px; }
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferAllTo .rlbButtonText,
.RadListBox_Default .rlbButtonAreaTop .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -250px; }
.RadListBox_Default .rlbButtonAreaTop .rlbTransferAllTo .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferAllFrom .rlbButtonText {
  background-position: 0 -225px; }
.RadListBox_Default .rlbButtonAreaTop .rlbTransferAllFrom:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferAllTo:hover .rlbButtonText {
  background-position: -400px -250px; }
.RadListBox_Default .rlbButtonAreaTop .rlbTransferAllTo:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferAllFrom:hover .rlbButtonText {
  background-position: -400px -225px; }
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaTop .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaTop .rlbTransferAllFromDisabled:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferAllToDisabled:hover .rlbButtonText {
  background-position: -200px -250px; }
.RadListBox_Default .rlbButtonAreaTop .rlbTransferAllToDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferAllFromDisabled .rlbButtonText,
.RadListBox_Default .rlbButtonAreaTop .rlbTransferAllToDisabled:hover .rlbButtonText,
.RadListBox_Default .rlbButtonAreaBottom .rlbTransferAllFromDisabled:hover .rlbButtonText {
  background-position: -200px -225px; }

