/*******************************rad tab strip*************************************/
.RadTabStrip_Default {
    border-bottom: 1px solid #999999;
}

    .RadTabStrip_Default .rtsGhostTab {
        border-color: #8a8a8a;
        border-radius: 5px;
        color: #333333;
        background-color: #fafafa;
    }

    .RadTabStrip_Default .rtsLevel1 .rtsSelected, .RadTabStrip_Default .rtsLevel1 .rtsSelected:hover {
        text-decoration: none;
        background-position: 0 -26px;
    }

    .RadTabStrip_Default .rtsLevel1 .rtsSelected, .RadTabStrip_Default .rtsLevel1 .rtsSelected {
        text-decoration: none;
        background-position: 0 -26px;
    }

    .RadTabStrip_Default .rtsLI,
    .RadTabStrip_Default .rtsLink {
        color: #333333;
        /*font: 12px/26px "Segoe UI", Arial, Helvetica, sans-serif;*/
    }

    .RadTabStrip_Default .rtsLink {
        background-image: none;
    }

        .RadTabStrip_Default .rtsLink:hover {
            color: /*2*/#30788A/*2*/ !important;
        }

        .RadTabStrip_Default .rtsLink.rtsDisabled {
            text-decoration: none;
        }

    .RadTabStrip_Default .rtsOut {
        background-image: none;
    }

    .RadTabStrip_Default .rtsSelected,
    .RadTabStrip_Default .rtsSelected:hover {
        text-decoration: underline;
    }

    .RadTabStrip_Default .rtsDisabled {
        color: #a5a5a5;
    }

    .RadTabStrip_Default .rtsLevel {
        background-color: transparent;
    }

        .RadTabStrip_Default .rtsLevel .rtsFirst .rtsLink {
            background-position: 0 0;
        }

        .RadTabStrip_Default .rtsLevel .rtsLink {
            background-image: none;
            background-position: 0 -52px;
            text-transform: uppercase;
            line-height: 35px;
        }

    .RadTabStrip_Default.tbsSpecPC .rtsLevel .rtsLink {
        text-transform: capitalize;
    }

    .RadTabStrip_Default .rtsLevel .rtsLink.rtsSelected {
        background: /*3*/ #F0FAFB /*3*/;
        border-radius: 6px;
        color: /*2*/#30788A/*2*/ !important;
    }

    .RadTabStrip_Default .rtsLevel .rtsLink.rtsAfter {
        background-position: 0 -78px;
    }

    .RadTabStrip_Default .rtsLevel .rtsOut {
        background-image: none;
        background-position: 100% -52px;
    }

    .RadTabStrip_Default .rtsLevel .rtsLast .rtsOut {
        background-position: 100% 0;
    }

    .RadTabStrip_Default .rtsLevel .rtsSelected .rtsOut {
        background-position: 0,-52px;
        border-bottom: 2px solid /*3*/ #BBD4F2 /*3*/;
        height: 35px;
    }

    .RadTabStrip_Default .rtsLevel .rtsLast .rtsSelected .rtsOut {
        background-position: 100% -26px;
    }

    .RadTabStrip_Default .rtsNextArrow,
    .RadTabStrip_Default .rtsPrevArrow {
        background-image: url('../Images/ResponsiveIcons/16Enabled.png');
    }

    .RadTabStrip_Default .rtsPrevArrowDisabled,
    .RadTabStrip_Default .rtsNextArrowDisabled {
        background-image: url('../Images/ResponsiveIcons/16Disabled.png');
    }

    .RadTabStrip_Default .rtsNextArrow:hover,
    .RadTabStrip_Default .rtsPrevArrow:hover {
        background-image: url('../Images/ResponsiveIcons/16Hovered.png');
    }

.RadTabStripBottom_Default {
    /*// levels
  	.rtsLevel {
  
  		
  		&.rtsLevel2,
  		&.rtsLevel3,
  		&.rtsLevel4,
  		&.rtsLevel5 {
  			background-image: none;
  		}
  	}*/
}

    .RadTabStripBottom_Default .rtsLevel.rtsLevel2, .RadTabStripBottom_Default .rtsLevel.rtsLevel3 {
        background-image: none;
    }

    .RadTabStripBottom_Default .rtsLevel {
        background-position: 0 -599px;
        background-repeat: repeat-x;
    }

        .RadTabStripBottom_Default .rtsLevel .rtsFirst .rtsLink {
            background-position: 0 -182px;
        }

        .RadTabStripBottom_Default .rtsLevel .rtsLink {
            background-position: 0 -130px;
        }

            .RadTabStripBottom_Default .rtsLevel .rtsLink.rtsSelected {
                background-position: 0 -156px;
            }

            .RadTabStripBottom_Default .rtsLevel .rtsLink.rtsAfter {
                background-position: 0 -104px;
            }

        .RadTabStripBottom_Default .rtsLevel .rtsOut {
            background-position: 100% -130px;
        }

        .RadTabStripBottom_Default .rtsLevel .rtsLast .rtsOut {
            background-position: 100% -182px;
        }

        .RadTabStripBottom_Default .rtsLevel .rtsSelected .rtsOut {
            background-position: 100% -104px;
        }

        .RadTabStripBottom_Default .rtsLevel .rtsLast .rtsSelected .rtsOut {
            background-position: 100% -156px;
        }

.RadTabStrip_rtl.RadTabStrip_Default .rtsLink {
    padding: 0 9px 0 0;
}

.RadTabStrip_rtl.RadTabStrip_Default .rtsOut {
    padding: 0 0 0 9px;
}

.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLink,
.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsOut {
    background-image: url('../Images/TabStrip/TabStripStates_rtl.png');
}

.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsFirst .rtsLink {
    background-position: 100% 0;
}

.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLink {
    background-position: 100% -52px;
}

    .RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLink.rtsSelected {
        background-position: 100% -26px;
    }

    .RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLink.rtsAfter {
        background-position: 100% -78px;
    }

.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsOut {
    background-position: 0 -52px;
}

.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLast .rtsOut {
    background-position: 0 0;
}

.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsSelected .rtsOut {
    background-position: 0 -78px;
}

.RadTabStrip_rtl.RadTabStrip_Default .rtsLevel .rtsLast .rtsSelected .rtsOut {
    background-position: 0 -26px;
}

.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsFirst .rtsLink {
    background-position: 100% -182px;
}

.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLink {
    background-position: 100% -130px;
}

    .RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLink.rtsSelected {
        background-position: 100% -156px;
    }

    .RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLink.rtsAfter {
        background-position: 100% -104px;
    }

.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsOut {
    background-position: 0 -130px;
}

.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLast .rtsOut {
    background-position: 0 -182px;
}

.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsSelected .rtsOut {
    background-position: 0 -104px;
}

.RadTabStrip_rtl.RadTabStripBottom_Default .rtsLevel .rtsLast .rtsSelected .rtsOut {
    background-position: 0 -156px;
}

.RadTabStrip_Default.RadTabStripVertical .rtsLevel {
    background-image: none;
}

    .RadTabStrip_Default.RadTabStripVertical .rtsLevel .rtsLink,
    .RadTabStrip_Default.RadTabStripVertical .rtsLevel .rtsOut {
        background-image: none;
    }

.RadTabStrip_Default.RadTabStripVertical .rtsLevel1 .rtsLink {
    background-image: none;
    *zoom: 1;
}

.RadTabStrip_Default.RadTabStripLeft .rtsLevel1 .rtsLink {
    background-image: none;
    color: /*1*/ #00568F /*1*/;
}

    .RadTabStrip_Default.RadTabStripLeft .rtsLevel1 .rtsLink:hover {
        background-position: 0 -200px;
    }

    .RadTabStrip_Default.RadTabStripLeft .rtsLevel1 .rtsLink.rtsSelected {
        background-position: 0 -400px;
    }

    .RadTabStrip_Default.RadTabStripLeft .rtsLevel1 .rtsLink.rtsAfter {
        background-position: 0 0;
    }

.RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsLink,
.RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink {
    background-position: 100% 0;
}

    .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsLink:hover,
    .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink:hover {
        background-position: 100% -200px;
    }

    .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsLink.rtsSelected,
    .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink.rtsSelected {
        background-position: 100% -400px;
    }

    .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsLink.rtsAfter,
    .RadTabStrip_Default.RadTabStripRight .rtsLevel1 .rtsFirst .rtsLink.rtsAfter {
        background-position: 100% 0;
    }

.RadTabStripTop_Default_Baseline .rtsLevel1,
.RadTabStripBottom_Default_Baseline .rtsLevel1 {
    background-image: url('../Images/TabStrip/TabStripStates.png');
    background-position: 0 100%;
}

.RadTabStripBottom_Default_Baseline .rtsLevel1 {
    background-position: 0 -599px;
}

html .RadTabStrip_Default_disabled .rtsLevel .rtsLink {
    color: #8d8d8d;
    cursor: default;
}

    html .RadTabStrip_Default_disabled .rtsLevel .rtsLink:hover {
        background: transparent;
        text-decoration: none;
    }

        html .RadTabStrip_Default_disabled .rtsLevel .rtsLink:hover .rtsOut {
            background: transparent;
        }

div.RadTabStrip_Default a.rtsLink:focus {
    outline-color: #6f6f6f;
}

    div.RadTabStrip_Default a.rtsLink:focus:after {
        border-color: #6f6f6f \9;
    }

/* </focus cue> */
.rtsDropClue_Default {
    background-image: url('../Images/TabStrip/rtsDropClueSprite.png');
}

.rtsDropClueTop_Default {
    background-position: 0 -20px;
}

.rtsDropClueRight_Default {
    background-position: 0 -30px;
}

.rtsDropClueBottom_Default {
    background-position: 0 0;
}

.rtsDropClueLeft_Default {
    background-position: 0 -10px;
}

/*# sourceMappingURL=TabStrip.Default.css.map */

.RadTabStrip,
.RadTabStripVertical {
    margin: 0;
    padding: 0;
    *zoom: 1;
}

    .RadTabStrip:after,
    .RadTabStripVertical:after {
        content: "";
        height: 0;
        clear: both;
        display: block;
    }

    .RadTabStrip .rtsLevel,
    .RadTabStripVertical .rtsLevel {
        *zoom: 1;
        overflow: hidden;
    }

        .RadTabStrip .rtsLevel:after,
        .RadTabStripVertical .rtsLevel:after {
            content: "";
            height: 0;
            clear: both;
            display: block;
        }

    .RadTabStrip .rtsScroll,
    .RadTabStripVertical .rtsScroll {
        *zoom: 1;
        overflow: hidden;
    }

        .RadTabStrip .rtsScroll:after,
        .RadTabStripVertical .rtsScroll:after {
            content: "";
            height: 0;
            clear: both;
            display: block;
        }

    .RadTabStrip .rtsPrevArrow,
    .RadTabStrip .rtsNextArrow,
    .RadTabStrip .rtsPrevArrowDisabled,
    .RadTabStrip .rtsNextArrowDisabled,
    .RadTabStripVertical .rtsPrevArrow,
    .RadTabStripVertical .rtsNextArrow,
    .RadTabStripVertical .rtsPrevArrowDisabled,
    .RadTabStripVertical .rtsNextArrowDisabled {
        margin: 5px 0 0 0;
        width: 18px;
        height: 18px;
        outline: 0;
        background-color: transparent;
        background-repeat: no-repeat;
        font-size: 0;
        line-height: 18px;
        text-indent: -9999px;
        overflow: hidden;
        display: block;
    }

    .RadTabStrip .rtsUL,
    .RadTabStripVertical .rtsUL {
        margin: 0;
        padding: 0;
        list-style: none;
        *zoom: 1;
        float: left;
        display: inline;
        overflow: hidden;
    }

        .RadTabStrip .rtsUL:after,
        .RadTabStripVertical .rtsUL:after {
            content: "";
            height: 0;
            clear: both;
            display: block;
        }

    .RadTabStrip .rtsLI,
    .RadTabStripVertical .rtsLI {
        margin: 0;
        padding: 0;
        *zoom: 1;
        list-style: none;
        line-height: inherit;
        overflow: hidden;
    }

        .RadTabStrip .rtsLI:after,
        .RadTabStripVertical .rtsLI:after {
            content: "";
            height: 0;
            clear: both;
            display: block;
        }

    .RadTabStrip .rtsSelected:after {
        position: absolute;
        content: " ";
        width: 100%;
        height: 2px;
        background-color: /*2*/#30788A/*2*/;
        top: 48px;
        left: 0px;
    }

    .RadTabStrip .rtsLI:hover::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: /*2*/#30788A/*2*/;
        top: 48px;
        left: 0;
    }
.documentTabs .rtsSelected:after {
    top: 35px !important;
}
.documentTabs .rtsLI:hover::after {
    position: static;
}


.RadTabStrip.documentTabs .rtsUL, .HomeTabTabs .rtsUL {
    display: flex !important;
    width: auto !important;
}
.RadTabStrip .rtsLink,
.RadTabStripVertical .rtsLink {
    padding-left: 9px;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    display: block;
}

    .RadTabStrip .rtsLevel .rtsOut,
    .RadTabStrip .rtsLevel .rtsIn,
    .RadTabStrip .rtsLevel .rtsTxt,
    .RadTabStripVertical .rtsLevel .rtsOut,
    .RadTabStripVertical .rtsLevel .rtsIn,
    .RadTabStripVertical .rtsLevel .rtsTxt {
        text-decoration: inherit;
    }

    .RadTabStrip .rtsOut,
    .RadTabStripVertical .rtsOut {
        padding-right: 9px;
        display: block;
    }

    .RadTabStrip .rtsIn,
    .RadTabStripVertical .rtsIn {
        padding: 0 5px;
        display: block;
    }

    .RadTabStrip .rtsImg,
    .RadTabStripVertical .rtsImg {
        margin-top: -2px;
        border: 0;
        vertical-align: middle;
    }

    .RadTabStrip .rtsTxt,
    .RadTabStripVertical .rtsTxt {
        display: inline-block;
    }

    .RadTabStrip .rtsImg + .rtsTxt,
    .RadTabStripVertical .rtsImg + .rtsTxt {
        display: inline-block;
    }

    .RadTabStrip .rtsLevel1 .rtsTxt,
    .RadTabStripVertical .rtsLevel1 .rtsTxt {
        padding: 0 5px;
    }

    .RadTabStrip a.rtsLink:focus,
    .RadTabStripVertical a.rtsLink:focus {
        outline: 0;
        *outline: 1px dotted #555;
        position: relative;
        *position: static;
    }

    .RadTabStrip a.rtsLink:focus,
    .RadTabStripVertical a.rtsLink:focus {
        outline-offset: -2px;
    }

        .RadTabStrip a.rtsLink:focus:after,
        .RadTabStripVertical a.rtsLink:focus:after {
            content: "";
            border: 1px dotted #555;
            display: block;
            position: absolute;
            left: 1px;
            top: 1px;
            right: 1px;
            bottom: 0;
        }

:root .RadTabStrip a.rtsLink:focus:after, :root .RadTabStripVertical a.rtsLink:focus:after {
    content: none;
    display: none;
}

.RadTabStrip a.rtsClicked:focus,
.RadTabStripVertical a.rtsClicked:focus {
    outline: none;
}

.RadTabStrip .rtsDisabled,
.RadTabStripVertical .rtsDisabled {
    cursor: default;
}

.RadTabStrip .rtsSeparator,
.RadTabStripVertical .rtsSeparator {
    height: 26px;
}

.RadTabStrip .rtsLevel {
    width: 100%;
    clear: both;
    position: relative;
    *position: static;
    padding-top: 1px;
}

.RadTabStrip .rtsLevel1 {
    padding-top: 0;
}

.RadTabStrip .rtsLevel.rtsCenter {
    text-align: center;
}

.RadTabStrip .rtsScroll {
    width: 100%;
    height: 26px;
    white-space: nowrap;
}

.RadTabStrip .rtsPrevArrow {
    background-position: -384px 0px;
}

    .RadTabStrip .rtsPrevArrow:hover {
        background-position: -384px 0px;
    }

.RadTabStrip .rtsPrevArrowDisabled,
.RadTabStrip .rtsPrevArrowDisabled:hover {
    background-position: -384px 0px;
}

.RadTabStrip .rtsNextArrow {
    background-position: -416px 0px;
}

    .RadTabStrip .rtsNextArrow:hover {
        background-position: -416px 0px;
    }

.RadTabStrip .rtsNextArrowDisabled,
.RadTabStrip .rtsNextArrowDisabled:hover {
    background-position: -416px 0px;
}

.RadTabStrip .rtsRight .rtsUL {
    float: right;
}

.RadTabStrip .rtsCenter .rtsUL {
    display: inline-block;
    *display: inline;
    float: none;
    vertical-align: bottom;
}

.RadTabStrip .rtsLI {
    float: left;
    *float: none;
    display: inline;
    *zoom: 1;
}




.RadTabStrip .rtsLink {
    text-align: center;
}

.RadTabStrip .rtsSeparator {
    height: 26px;
}

.RadTabStrip .rtsBreak {
    height: 0;
    width: 0;
    font-size: 0;
    line-height: 0;
    display: block;
    clear: left;
    overflow: hidden;
}

.RadTabStripVertical {
    vertical-align: top;
    display: inline-block;
    *display: inline;
}

    .RadTabStripVertical .rtsLevel {
        height: 100%;
        float: left;
        display: inline-block;
        *display: inline;
    }

    .RadTabStripVertical .rtsHasWidth {
        width: 100% !important;
    }

    .RadTabStripVertical .rtsPrevArrow {
        background-position: 0 -228px;
    }

        .RadTabStripVertical .rtsPrevArrow:hover {
            background-position: -36px -228px;
        }

    .RadTabStripVertical .rtsPrevArrowDisabled,
    .RadTabStripVertical .rtsPrevArrowDisabled:hover {
        background-position: -72px -228px;
    }

    .RadTabStripVertical .rtsNextArrow {
        background-position: -18px -228px;
    }

        .RadTabStripVertical .rtsNextArrow:hover {
            background-position: -54px -228px;
        }

    .RadTabStripVertical .rtsNextArrowDisabled,
    .RadTabStripVertical .rtsNextArrowDisabled:hover {
        background-position: -90px -228px;
    }

    .RadTabStripVertical .rtsHasWidth .rtsUL {
        width: 100%;
    }

    .RadTabStripVertical .rtsLI {
        display: block;
        *width: 130px;
        *float: left;
        *clear: both;
    }

    .RadTabStripVertical .rtsHasWidth .rtsLI {
        width: 100%;
    }

    .RadTabStripVertical .rtsLink {
        text-align: right;
    }

    .RadTabStripVertical .rtsSeparator {
        height: 2px;
        *line-height: 0;
        *font-size: 0;
        display: block;
    }

    .RadTabStripVertical .rtsLink,
    .RadTabStripVertical .rtsLI .rtsDisabled:hover {
        background-position: 0 0;
    }

        .RadTabStripVertical .rtsLink:hover {
            background-position: 0 -200px;
        }

    .RadTabStripVertical .rtsSelected,
    .RadTabStripVertical .rtsSelected:hover {
        background-position: 0 -400px;
    }

    .RadTabStripVertical.RadTabStripRight .rtsIn {
        text-align: left;
    }

.RadTabStrip_rtl .rtsScroll {
    float: left;
}

.RadTabStrip_rtl .rtsUL.rtsScroll {
    float: left;
}

.RadTabStrip_rtl .rtsUL {
    float: right;
    *float: left;
}

    .RadTabStrip_rtl .rtsUL .rtsLink {
        text-align: right;
    }

.RadTabStrip_rtl .rtsLI {
    float: right;
    *float: none;
}

.RadTabStrip_rtl.RadTabStripVertical .rtsLI {
    float: none;
}

.RadTabStrip_rtl .rtsIn {
    text-align: left;
}

.RadTabStrip_rtl.RadTabStripRight .rtsIn {
    text-align: right;
}

.RadTabStripVertical.RadTabStrip_rtl .rtsUL {
    *float: left;
}

.RadTabStripVertical.RadTabStrip_rtl .rtsLI {
    *float: left;
}

.RadTabStripVertical.RadTabStripRight.RadTabStrip_rtl .rtsLevel {
    *float: left;
}

.RadTabStripRight .rtsLevel {
    float: right;
}

.rtsDetachedDropClueContainer {
    display: none;
    position: absolute;
    z-index: 9000;
    top: 0;
    left: 0;
}

.rtsDropClue {
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 9000;
}

.rtsDropClueTop {
    margin-top: -10px;
    margin-left: -5px;
}

.rtsDropClueBottom {
    margin-top: 0;
    margin-left: -5px;
}

.rtsDropClueLeft {
    margin-top: -5px;
    margin-left: -10px;
}

.rtsDropClueRight {
    margin-top: -5px;
    margin-left: 0;
}

.rtsDetachedTabContainer {
    margin: 10px 0 0 10px;
    position: absolute;
    z-index: 9000;
    display: none;
}

    .rtsDetachedTabContainer .rtsGhostTab {
        padding: 2px 10px;
        border: 1px solid;
        background-position: 0 0;
        background-repeat: repeat-x;
        overflow: hidden;
        white-space: nowrap;
    }

@media screen and (min-width: 50px) {
    :root .RadTabStripHorizontal .rtsScroll {
        width: auto;
    }

        :root .RadTabStripHorizontal .rtsScroll .rtsLI {
            float: none;
            display: inline-block;
        }

    :root .RadTabStripVertical .rtsScroll .rtsLI {
        float: none;
    }
}
/*************************************************************************************/
.MovePlanRadTabStrip .rtsLevel {
    width: 100% !important;
}





/******************************* multipage***************************************/
.RadMultiPage {
    box-sizing: border-box;
}

    .RadMultiPage .rmpView {
        height: 100%;
        box-sizing: border-box;
    }

        .RadMultiPage .rmpView > iframe {
            width: 100%;
            height: 100%;
            border: 0;
            display: block;
        }

    .RadMultiPage .rmpHidden {
        display: none !important;
    }
/*******************************    RadTabStrip For Specification tab     *****************************************/

.RadTabStripVertical.tbsDocSpec .rtsLink {
    padding: 0px !important;
    border: 1px solid #666666 !important;
    border-left: 0px !important;
}

.RadTabStripVertical.tbsDocSpec .rtsLevel .rtsFirst .rtsLink {
    border-top: 0px !important;
}

.RadTabStripVertical.tbsDocSpec .rtsOut {
    padding: 0px !important;
}

.tbshorizantaltabs {
    margin-top: 10px !important;
    visibility: hidden;
}

.RadTabStrip_Default.tbsDocSpec .rtsLevel .rtsSelected .rtsOut {
    border: none !important;
    height: 56px;
    width: 100%;
}

/*.RadTabStrip_Default.tbsDocSpec .rtsLevel {
        width:120px !important;
    }*/
.RadTabStripVertical.tbsDocSpec .rtsLink, .RadTabStripVertical.tbsDocSpec .rtsLink:hover {
    text-decoration: none !important;
}

.RadTabStrip_Default.tbsDocSpec .rtsLevel .rtsUL .rtsLI {
    height: 56px !important;
    background: #f2f2f2 !important;
    color: #666666 !important;
}

    .RadTabStrip_Default.tbsDocSpec .rtsLevel .rtsUL .rtsLI .rtsLink {
        height: 56px;
        line-height: 56px;
        color: #666666;
        text-align: center;
    }

        .RadTabStrip_Default.tbsDocSpec .rtsLevel .rtsUL .rtsLI .rtsLink.rtsSelected {
            height: 56px;
            line-height: 56px;
            /*color:*/ /*3*/ /*#BBD4F2*/ /*3*/ /*;*/
            text-align: center;
            background-color: #ffffff;
            text-decoration: solid;
            border-right: 0px !important;
            border-left: 0px !important;
        }
.HomeTabTabs .rtsPrev {
    order: -1;
    position: relative;
    left: 0;
}

/* Move next button to the far right */
.HomeTabTabs .rtsNext {
    order: 1;
    position: relative;
    right: 0;
    margin-left: auto;
}

/* Ensure tab list is in the center */
.HomeTabTabs .rtsScrollWrap {
    display: flex;
    flex: 1;
    justify-content: space-between;
    overflow: hidden;
}
.EmailSetupTabs .rtsSelected:after {
    top: 35px !important
}
.EmailSetupTabs .rtsLI {
    position: relative !important;
}
.EmailSetupTabs .rtsLI:hover::after {
        position: static;
 }
/******************************************************************************************/
