
.RadEWrongWord {
    background-color: #FFFF00;
}
.RadEDomMouseOver {
    background-color: #FFFFCC;
}
body {
    background-image: none;
    margin: 0;
    padding: 3px;
    text-align: left;
    word-wrap: break-word;
}
form {
    background-color: #EFEFEF;
    border: 1px dashed #555555;
}
table {
    border-bottom: 1px dashed #999999;
    border-right: 1px dashed #999999;
}
table td {
    border-left: 1px dashed #999999;
    border-top: 1px dashed #999999;
    padding: 1px;
}
table th {
    border-left: 1px dashed #000000;
    border-top: 1px dashed #000000;
    padding: 1px;
}
font.reComment_u0, span.reComment_u0 {
    border: 2px dashed #FF9933 !important;
}
font.reComment_u1, span.reComment_u1 {
    border: 2px dashed #FF0101 !important;
}
font.reComment_u2, span.reComment_u2 {
    border: 2px dashed #0101FF !important;
}
del.reU1 hr {
    border: 1px solid #FF0101 !important;
}
ins.reU1 hr {
    border-bottom: 1px solid #FF0101 !important;
}
.reFormat {
    border-style: solid;
    border-width: 0 2px;
    padding: 0 2px;
}
li.reFormat {
    padding: 0;
}
ol.reFormat, ul.reFormat {
    padding: 0 0 0 2.5em;
}
ins table, .reComment {
    border: 2px dashed;
    padding: 1px;
}
del table {
    border: 2px dashed;
    padding: 1px;
    text-decoration: line-through;
}
ins td, ins img {
    border: 1px dashed;
    padding: 1px;
}
del td, del img {
    border: 2px solid;
    padding: 1px;
}
ins.reU0, del.reU0 {
    color: #FF9933 !important;
}
ins.reU1, del.reU1 {
    color: #FF0101 !important;
}
ins.reU2, del.reU2 {
    color: #F37E0C !important;
}
ins.reU3, del.reU3 {
    color: #04B4B6 !important;
}
ins.reU4, del.reU4 {
    color: #C85100 !important;
}
ins.reU5, del.reU5 {
    color: #008380 !important;
}
ins.reU6, del.reU6 {
    color: #800000 !important;
}
ins.reU7, del.reU7 {
    color: #A4A000 !important;
}
ins.reU8, del.reU8 {
    color: #808080 !important;
}
ins.reU9, del.reU9 {
    color: #38FD11 !important;
}
.reFormat.reU0, ins.reU0 table, del.reU0 table, ins.reU0 td, ins.reU0 img, del.reU0 td, del.reU0 img, .reComment.reU0 {
    border-color: #FF9933;
}
.reFormat.reU1, ins.reU1 table, del.reU1 table, ins.reU1 td, ins.reU1 img, del.reU1 td, del.reU1 img, .reComment.reU1 {
    border-color: #FF0000;
}
.reFormat.reU2, ins.reU2 table, del.reU2 table, ins.reU2 td, ins.reU2 img, del.reU2 td, del.reU2 img, .reComment.reU2 {
    border-color: #F37E0C;
}
.reFormat.reU3, ins.reU3 table, del.reU3 table, ins.reU3 td, ins.reU3 img, del.reU3 td, del.reU3 img, .reComment.reU3 {
    border-color: #04B4B6;
}
.reFormat.reU4, ins.reU4 table, del.reU4 table, ins.reU4 td, ins.reU4 img, del.reU4 td, del.reU4 img, .reComment.reU4 {
    border-color: #C85100;
}
.reFormat.reU5, ins.reU5 table, del.reU5 table, ins.reU5 td, ins.reU5 img, del.reU5 td, del.reU5 img, .reComment.reU5 {
    border-color: #008380;
}
.reFormat.reU6, ins.reU6 table, del.reU6 table, ins.reU6 td, ins.reU6 img, del.reU6 td, del.reU6 img, .reComment.reU6 {
    border-color: #800000;
}
.reFormat.reU7, ins.reU7 table, del.reU7 table, ins.reU7 td, ins.reU7 img, del.reU7 td, del.reU7 img, .reComment.reU7 {
    border-color: #A4A000;
}
.reFormat.reU8, ins.reU8 table, del.reU8 table, ins.reU8 td, ins.reU8 img, del.reU8 td, del.reU8 img, .reComment.reU8 {
    border-color: #808080;
}
.reFormat.reU9, ins.reU9 table, del.reU9 table, ins.reU9 td, ins.reU9 img, del.reU9 td, del.reU9 img, .reComment.reU9 {
    border-color: #38FD11;
}
ins.trackchanges_curr_rev, del.trackchanges_curr_rev {
    color: #008000;
}
.rrHandle {
    -moz-user-select: none;
    background-color: #FFFFFF;
    border: 1px solid #000000;
}
.rrHandle:hover {
    background-color: #000000;
}
.reUnselectable {
    -moz-user-select: none;
}
