<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <div style="padding-left: 0px;border-top: 1px solid #0384ce;">
            <table style="width:100%" border="0">
                <tbody>
                    <tr>
                        <td rowspan="3" style="text-align: left; font-size: 18px; font-family: Calibri; width:100%;">
                            {{footer_content}}
                        </td>
                        <td style="text-align: right; font-size: 18px; font-family: Calibri;" valign="top" nowrap>
                            <div style="font-size: 20px; color: #0384ce;">
                                <strong>Tel:&nbsp;</strong>{{tel}}
                            </div>
                            <div style="font-size: 20px; color: #0384ce;">
                                <strong>Fax:&nbsp;</strong>{{fax}}
                            </div>
                            <div style="font-size: 20px; color: #0384ce;">
                                <strong>Email:&nbsp;</strong>{{email}}
                            </div>
                        </td>
                        <td style="text-align: right; font-size: 18px; font-family: Calibri; width:75px;" nowrap valign="top">
                            <div style="margin-left:75px;">
                                <div style="font-size: 20px; color: #0384ce;">
                                    <strong>P.O.Box</strong> 3050
                                </div>
                                <div style="font-size: 20px; color: #0384ce;">Doha, Qatar</div>
                                <div style="font-size: 20px; color: #0384ce;">www.hamad.qa</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span style="font-size: 20px;">&nbsp;</span></td>
                        <td style="text-align: right; font-size: 18px; font-family: Calibri;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
