/********  Worksheet Setup  ******/
.NodeDisabled .rtIn {COLOR: #000000 !important;}
.rtMinus
{
	background-image: none !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	display: none !important;
}

.rtIn
{
	padding-left: 0px !important;
}
.rtMid
{
	padding-left: 0px !important;
}
.rtTop
{
	padding-left: 0px !important;
}
.rtBot
{
	padding-left: 0px !important;
}
.rtPlus
{
	background-image: none !important;
}

/********  Worksheet Page  ******/
.WorksheetSection .rgRow, .WorksheetSection .rgAltRow
{
	font-weight: bold !important;
	background: #d7e6f7;
}

.WorksheetDetails .rgRow, .WorksheetDetails .rgAltRow
{
	font-weight: normal !important;
	background: #ffffff;
}

.WorksheetSectionFilter
{
	text-align:right !important;
	font-weight:normal !important;
	border-left-style:none !important;
	padding-right:10px !important;
}
