
SELECT [task_id] AS SuccessorId
      ,[pred_task_id] AS PredecessorId
      ,[pred_type] AS [Type]
      ,ISNULL([lag_hr_cnt],0) AS Lag
  FROM [PMDB_LOG].[dbo].[TASKPRED] WHERE proj_id = @ProjectId  AND pred_proj_id = @ProjectId