/*

text-xs	    font-size: .75rem;
text-sm	    font-size: .875rem;
text-base	font-size: 1rem;
text-lg	    font-size: 1.125rem;
text-xl	    font-size: 1.25rem;
text-2xl	font-size: 1.5rem;
text-3xl	font-size: 1.75rem;
text-4xl	font-size: 2rem;
text-5xl	font-size: 2.5rem;
text-6xl	font-size: 3rem;
text-7xl	font-size: 4rem;
text-8xl	font-size: 6rem;




font-light	font-weight: 300;
font-normal	font-weight: 400;
font-medium	font-weight: 500;
font-semibold	font-weight: 600;
font-bold	font-weight: 700;

*/

.pop-up-question {
    font-size: 1rem;
    font-weight: 400;
    color:var(--pri-neutral-900);

}

.pop-up-heading{
    font-size: 1.25rem;
    font-weight: 600;
    color:var(--pri-neutral-900);

}

.card-question{
    font-size: 0.875rem;
    font-weight: 400;
    color:var(--pri-neutral-900);
}


.card-main-heading{
    font-size: 1rem;
    font-weight: 600;
    color:var(--pri-neutral-900);

}


.card-sub-heading{
    font-size: 0.875rem;
    font-weight: 600;
    color:var(--pri-neutral-900);

}


.weights{
    // font-size: 0.75rem;
    // font-weight: 400;
    color: var(--pri-neutral-600);
}


.weight-value{
    // font-size: 0.875rem;
    // font-weight: 600;
    color: var(--pri-neutral-900);
}

//errors

.error-code{
    font-size: 10rem;
    font-weight: 600;
    color: var(--pri-neutral-600);
}

.error-sub{
    font-size: 1.25rem;
    font-weight: 600;
}

//hyperlink

.hyper-link{
    // font-size: 0.875rem;
    // font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    color: var(--sec-blue-600);
}


.bold{
    font-weight: 700;
}

.semibold{
    font-weight: 600;
}

.regular{
    font-weight: 400;
}

.display_large{
    font-size: 6rem;
}

.display_small{
    font-size: 3.75rem;
}

.heading_one{
    font-size: 3rem;
}

.heading_two{
    font-size: 2.125rem;
}

.heading_three{
    font-size: 1.5rem;
}

.heading_four{
    font-size: 1.25rem;
}

.heading_five{
    font-size: 1rem;
}

.heading_six{
    font-size: 0.875rem;
}

.body_large{
font-size: 1.125rem;
}


.body_medium{
    font-size: 1rem;

}

.body_small{
    font-size: 0.875rem;

}

.overline_large{
    font-size: 0.75rem;

}

.overline_small{
    font-size: 0.625rem;

}


.caption{
    font-size: 0.75rem;
}


.action_large{
   font-size: 1.125rem; 
}


.action_medium{
    font-size: 1rem; 
 }

 
.action_small{
    font-size: 0.75rem; 
 }