/* Full TreeGrid CSS, to know how to modify it, see TreeGridStyles.htm documentation. */

/* -------------
--- Sections --- 
------------- */
.GMBodyRight,.GMHeadRight,.GMFootRight {
   border-left:1px solid #e0e0e0;
   }
.GMBodyLeft, .GMBodyMid, .GMBodyRight, .GMHeadLeft, .GMHeadMid, .GMHeadRight, .GMFootLeft, .GMFootMid, .GMFootRight {

   }
.GMBodyLeft, .GMBodyMid, .GMBodyRight { 
   border-top:1px solid black;
   }
.GMHeadLeft, .GMHeadMid, .GMHeadRight { 

   }
.GMFootLeft, .GMFootMid, .GMFootRight { 
   border-top:1px solid black;
   }
/*.GMVScroll,.GMHScroll {
   background:none; 
   scrollbar-base-color:#C8C9C9; 
   scrollbar-face-color:#D8D9D9;
   scrollbar-3dlight-color:auto;
   scrollbar-darkshadow-color:#787979;
   scrollbar-shadow-color:#D8D9D9;
   scrollbar-highlight-color:#DEDFDF;
   scrollbar-arrow-color:#0A7EA4;
   }*/
.GMXScroll {
   background:#F4F4F4;
   }


/* -----------------
--- Special rows --- 
----------------- */
   
.GMFillRow {
   background: #E8F4FF;
   }
.GMFillUserRow {
   border-bottom:1px solid #d0d0c0;
   background: #E8F4FF;
   }   
.GMSpace {
   background: #E8F4FF;
   white-space:nowrap;
   }
.GMPager {
   background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px -160px;
   border-top:1px solid black;
   }
.GMGroup {
   background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px -160px;
   white-space:nowrap;
   padding-top:5px;
   padding-bottom:5px;
   }
.GMSearch {
   background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px -80px;
   white-space:nowrap;
   padding-top:5px;
   padding-bottom:5px;
   }
   
/* !!! GMFilter must not set border or margin !!!*/
.GMFilter {
   background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px -80px;
   padding-top:5px;
   padding-bottom:5px;
   }
   
/* ----------
--- Cells --- 
---------- */


/* Header */

.GMHeader, .GMHeaderHover, .GMHeaderNoSort, .GMHeaderNoSortHover, .GMPanelTopHover, .GMPanelTop
{
    background: url(DarkBlueBar.gif) repeat;
    padding-bottom: 1px;
    padding-top: 3px;
    border-right: 1px solid #e0e0ff;
    vertical-align: top;
    cursor: pointer;
    _cursor: hand;
    border-top: 1px solid #EEF7FF;
}
.GMHeaderGroup,.GMHeaderGroupFocus,.GMHeaderGroupDelete {
   background: #7FA9E6;
   cursor:default;
   cursor:pointer;
   _cursor:hand;
   border-left:3px solid #EEF7FF;
   }
.GMHeaderFocus {
   background: #9FB9E9; 
   }
.GMHeaderGroupFocus {
   background: #C0C0A0;
   }
.GMHeaderGroupDelete {
   background: #F0F0E0;
   color: #F0F0E0;
   }
.GMHeader,.GMHeaderHover,.GMHeaderNoSort,.GMHeaderNoSortHover,.GMHeaderHoverMulti,.GMHeaderGroup { 
   white-space:nowrap;
   overflow:hidden;
   }
.GMHeaderNoSort,.GMHeaderNoSortHover {
   cursor:default;
   }
.GMHeaderHover,.GMHeaderNoSortHover,.GMPanelTopHover {
   }
.GMHeaderHoverMulti {
   background: #FAF8F3; 
   cursor:default;
   }
.GMHeaderMulti,.GMHeaderMultiHover,.GMHeaderMultiEven,.GMHeaderMultiEvenHover {
   cursor:default;
   background:url(DarkBlueBar.gif) repeat-x;
   padding-bottom:1px;
   padding-top:3px;
   border-right:1px solid #e0e0ff;
   vertical-align:top;
   white-space:nowrap;
   }
.GMHeaderMultiEven,.GMHeaderMultiEvenHover {
   background-position:0px -80px;
   }
.GMHeaderMultiHover,.GMHeaderMultiEvenHover {
   background: #FAF8F3;
   }
.GMPanelTop,.GMPanelTopHover {
   border-left:1px solid #e0e0ff;
   }

/* Panel */
.GMPanel,.GMPanelHover,.GMFixedPanel,.GMFixedPanelHover {
   border-bottom:1px solid #e0e0ff;
   border-right:1px solid #e0e0ff;
   vertical-align:top;
   background:url(BackgroundVModern.gif) repeat-y;
   background-position:1px 0px;
   cursor:pointer;
   _cursor:hand;
   padding-left:1px;
   }
.GMSpacePanel,.GMSpacePanelHover {
   vertical-align:top;
   cursor:pointer;
   _cursor:hand;
   padding-left:1px;
   }   
.GMFilterPanel,.GMFilterPanelHover {
   border-right:1px solid #e0e0ff;
   cursor:pointer;
   _cursor:hand;
   padding-left:1px;
   }
.GMPanelHover,.GMFixedPanelHover {
   background: #FAF8F3; 
   }
.GMSpacePanelHover,.GMFilterPanelHover {
   background: #FAF8F3; 
   }
   
/* Cells */

.GMCell,.GMCellNE,.GMFixedCell,.GMFixedCellNE { 
   border:0px solid;
   padding:0px;
   border-bottom:1px solid #E0E0E0;
   border-right:1px solid #E0E0E0;
   vertical-align:top;
   }
.GMSpaceCell {
   vertical-align:top;
   white-space:nowrap;
   background:white url(BackgroundsModern.gif) repeat-x;
   background-position:0px -320px;
   border:1px solid black;
   border-top:0px solid;
   padding-top:3px;
   }
.GMSpaceCellNE {
   vertical-align:top;
   white-space:nowrap;
   padding-top:2px;
   }
.GMSpaceSelectCell {
   white-space:nowrap;
   }
.GMSpaceSelect {
   background:white url(BackgroundsModern.gif) repeat-x;
   background-position:0px -320px;
   border-left:1px solid black;
   border-bottom:1px solid black;
   padding-top:2px;
   }
.GMSpaceCheckboxCell {
   padding-right:3px;
   white-space:nowrap;
   }
.GMFilterCell,.GMFilterCellNE {
   border-top:1px solid #e0e0ff;
   border-bottom:1px solid #e0e0ff;
   border-right:1px solid #e0e0ff;
   }   
.GMFilterCell {
   background:white;
   }   
.GMCellNE,.GMSpaceCellNE,.GMFixedCellNE,.GMFilterCellNE {
   cursor:default;
   }

/* Other */   

.GMRightButton, .GMFilterButton, .GMTreeIcon {
   vertical-align:top;
   }
.GMCellSpaceButton {
   overflow:hidden;
   height:18px;
   width:43px;
   }
   
/* -----------------
--- Cell content --- 
----------------- */

.GMHeadText,.GMGroupText {
   font-family:"Trebuchet MS", Tahoma, Arial;
   color:#FFFFFF;
   font-size:12px;
   padding-left:3px;
   padding-right:3px;
   white-space:nowrap;
   }
.GMHeadSort { 
   cursor:pointer;
   _cursor:hand;
   }
.GMText,.GMTextB,.GMTextM,.GMNumber,.GMNumberB,.GMNumberM,.GMIText,.GMINumber,.GMLines,.GMTextArea, .GMHtml,.GMRadio, .GMIHtml {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   padding-left:3px;
   padding-right:3px;
   border:0px solid;
   background:inherit;
   }
.GMRadio {
   padding-left:0px;
   padding-right:5px;
   }
.GMText,.GMTextB,.GMTextM {
   white-space:nowrap;
   padding-top:2px;
   }
.GMHtml {
   padding-top:2px;
   cursor:default;
   }
.GMIText,.GMINumber, .GMIHtml, .GMIList {
   display:block;
   white-space:nowrap;
   margin-top:-1px!IE;
   margin-bottom:-1px!IE;
   padding-top:2px;
   padding-bottom:0px;
   }
.GMNumber,.GMNumberB,.GMNumberM,.GMINumber {
   text-align:right;
   white-space:nowrap;
   padding-top:2px;
   padding-bottom:0px;
   }
.GMTextB,.GMNumberB,.GMNumberM {
   color:blue;
   }
.GMTextM,.GMNumberM {
   font-weight:bold;
   }
.GMLines {
   padding-top:1px;
   padding-bottom:1px;   
   }
.GMTextArea {
   margin:0px;
   padding-top:1px;
   padding-bottom:1px;   
   padding-top:0px!IE;
   padding-bottom:0px!IE;
   line-height:13px;
   }
.GMSelect {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:10px;
   margin-top:-1px;
   }
.GMButton,.GMButtonSpace,.GMButtonSpaceChecked {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:9px;
   height:18px; 
   cursor:pointer;
   _cursor:hand;   
   margin-bottom:4px;
   padding:0px;
   padding-bottom:3px;
   }
.GMButtonImg {
   cursor:pointer;
   _cursor:hand;
   text-align:right;
   }
.GMGroupCustom {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   color:#BBB;
   font-style:italic;
   padding-left:5px;
   cursor:default;
   white-space:nowrap;
   height:17px;
   }
.GMButtonSpace {
   width:42px;
   }
.GMButtonSpaceChecked {
   color:blue;
   font-weight:700;
   width:42px;
   }
.GMAbs {
   overflow:hidden;
   height:17px;
   }
/* ------------
--- Toolbar --- 
------------ */

.GMToolbar {
   border-top:1px solid #808070;
   padding-top:1px;
   padding-bottom:1px;
   background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px -80px;
   }
.GMToolbarCell {
   
   }
.GMToolbarImg,.GMToolbarImgHover,.GMToolbarImgChecked,.GMToolbarImgHoverChecked {
   cursor:pointer;   
   _cursor:hand;
   margin-top:2px;
   margin-bottom:2px;
   padding-top:2px;
   padding-left:2px;
   padding-right:2px;
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   }
.GMToolbarImgHover,.GMToolbarImgHoverChecked {
   margin-top:0px;
   margin-bottom:1px;
   padding-top:3px;
   padding-bottom:1px;
   border-bottom:1px solid #FCC247;
   background: #FFFFFF; 
   }
.GMToolbarImgChecked,.GMToolbarImgHoverChecked {
   color:#8080FF;
   font-weight:700;
   }
.GMToolbarFormula {
   padding-left:5px;
   padding-right:5px;
   white-space:nowrap;
   }
.GMToolbarButton {

   }
.GMToolbarText {
   padding-top:2px;
   }   
/* -------------
--- Cfg menu --- 
------------- */

.GMCfgMenu {
   border:1px solid black;
   padding:6px;
   background:#e7f4ff;
   margin:3px;
   }
.GMCfgMenuHeader {
   background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px 0px;
   padding-bottom:1px;
   padding-top:3px;
   height:22px;
   font-family:"Trebuchet MS", Tahoma, Arial;
   color:#FFFFFF;
   font-size:12px;
   padding-left:3px;
   padding-right:3px;
   white-space:nowrap;
   cursor:default;
   }
.GMCfgMenuSeparator {   
   height:1px; overflow:hidden;
   border-top:1px solid black;
   background:#EEE;
   padding:0px;
   margin-top:5px;
   margin-bottom:5px;
   }
.GMCfgMenuItem {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   cursor:pointer;
   _cursor:hand;
   }
.GMCfgMenuHover {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   background:#88DDDD;
   font-size:11px;
   cursor:pointer;
   _cursor:hand;
   }
.GMCfgMenuButton {
   width:70px;
   font-size:11px;
   margin:2px;
   }


/* ----------------
--- Popup menus --- 
---------------- */

.GMMenu {
   border:1px solid black;
   background:white;
   padding:1px;
   cursor:pointer;
   _cursor:hand;
   overflow:hidden;
   }
.GMMenuCaption {
   padding-top:3px;
   text-align:center;
   cursor:default;
   }
.GMMenuSeparator {
   margin-top:3px;
   margin-bottom:3px;
   margin-right:6px;
   margin-left:3px;
   border-top:1px solid black;
   height:1px;
   overflow:hidden;
   }
.GMMenuItem,.GMMenuCursor,.GMMenuGroup {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   }
.GMMenuCursor {
   background:#D8EBFF;
   }
.GMMenuGroup {   
   background:#EEE;
   }
.GMMenuHover {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   background:#88DDDD;
   font-size:11px;
   }
.GMMenuButton {
   width:40px;
   font-size:11px;
   margin:2px;
   }
.GMMenuIcon {
   border-top:1px solid black;
   border-left:1px solid black;
   border-right:1px solid black;
   padding-bottom:2px;
   background:white;
   cursor:pointer;
   }

/* ---------------------
--- Custom Enum type --- 
--------------------- */

.GMEnumCell {
   cursor:pointer;
   _cursor:hand;
   }
.GMEnum {
   border:1px solid black;
   background:white;
   padding:1px;
   cursor:pointer;
   _cursor:hand;
   overflow:hidden;
   padding-top:2px;
   }
.GMEnumSeparator {
   margin-top:3px;
   margin-right:6px;
   margin-left:3px;
   height:4px;
   border-top:1px solid black;
   overflow:hidden;
   }
.GMEnumItem,.GMEnumCursor,.GMEnumGroup {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   }
.GMEnumCursor {
   background:#D8EBFF;   
   }
.GMEnumGroup {   
   background:#EEE;
   }
.GMEnumHover {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   background:#88DDDD;
   }
.GMEnumIcon {
   border:1px solid #b0b0c0;
   background:white;
   cursor:pointer;
   }

/* ----------------
--- Date picker --- 
---------------- */

.GMPickTag {
   background:white;
   padding:1px;
   border:1px solid #426b8c;
   }
.GMPickBorder {
   width:2px;
   }
.GMPickHeader {
   background:#5c8397;
   }
.GMPickFooter {
   background:white;
   }
.GMPickHeadText,.GMPickFootText {
   padding-left:5px;
   font-family:Verdana,Arial;
   font-size:10px;
   color:white;
   padding-top:1px;
   padding-bottom:1px;
   cursor:default;
   }
.GMPickFootText {
   padding-right:5px;
   }   
.GMPickClose {
   cursor:pointer;
   _cursor:hand;
   text-align:right;
   padding-top:1px;
   }
.GMPickDate {
   background:#183873;
   background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px -2px;

   }
.GMPickSep {
   height:1px;
   width:1px;
   overflow:hidden;
   }   
.GMPickMY {
   font-family:Verdana;
   font-size:10px;
   color:white;
   cursor:pointer;
   _cursor:hand;
   padding-top:2px;
   padding-bottom:4px;
   }   
.GMPickBL {
   padding-left:1px;
   padding-top:3px;     
   float:left;
   cursor:pointer;
   _cursor:hand;
   }
.GMPickBR {
   text-align:right;
   padding-right:1px;
   padding-top:3px;
   text-align:right;
   float:right;
   cursor:pointer;
   _cursor:hand;
   }

.GMPickRow {
   background:white;
   }
.GMPickRowW {
    background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px -360px;
   }
.GMPickCell {
   padding-left:3px;
   padding-right:3px;
   padding-top:2px;
   padding-bottom:2px;
   width:16px;
   }
.GMPickWDN {
   background-color:transparent;
   text-align:center; 
   width:16px; 
   font-family:Arial;
   font-size:10px;
   cursor:default;
   margin-top:0px;
   padding:1px;
   color:#333333;
   }
.GMPickHover,.GMPickSelHover,.GMPickWD, .GMPickSa, .GMPickSu, .GMPickSel, .GMPickNow, .GMPickWDNE, .GMPickSaNE, .GMPickSuNE, .GMPickSelNE, .GMPickNowNE, .GMPickOM, .GMPickOMNE {
   text-align:center; 
   width:16px;
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:10px;
   border:1px solid white;
   cursor:pointer;
   _cursor:hand;
   }
.GMPickWDNE, .GMPickSaNE, .GMPickSuNE, .GMPickSelNE, .GMPickNowNE {
   cursor:default;
   }
.GMPickWD {   background-color:#ffffff;   }
.GMPickSa {   background-color:#ffffff;   }
.GMPickSu {   background-color:#ffffff;   }
.GMPickSel {   background-color:#fbea54; border:1px solid #dad1d1;}
.GMPickSelNE {   background-color:#fbea54; border:1px solid #dad1d1;}
.GMPickNow {   background-color:#c0f3ff; border:1px solid #dad1d1;}
.GMPickNowNE {   background-color:#c0f3ff; border:1px solid #dad1d1;}
.GMPickHover {
   background-color:#DDD;   
   border:1px solid white;
   }
.GMPickSelHover {
   background-color:#eeee77;   
   border:1px solid white;
   }
.GMPickOM {   background-color:white; color:#aaaaaa;   }
.GMPickOMNE { color:#aaaaaa; }

.GMPickTimeCell {
   text-align:right;
   background-color:#ffffff;
   padding-bottom:5px;
   padding-top:6px;
   padding-right:5px;
   border-top:1px solid #adf;
   background:#f0f6ff;
   }
.GMPickTime {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   border:0px solid;
   white-space:nowrap;
   text-align:right;
   background:#f0f6ff;
   }

.GMPickFooter {
   background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px -380px;
   }
.GMPickButton {
   width:48px;
   font-size:11px;
   margin:2px;
   margin-top:5px;
   margin-bottom:4px;
   border:1px solid #8a8fb5;
   background-color:#dcecf8;
   text-align:center;
   }

.GMPick2Cell {
   height:22px;   
   }
.GMPick2M,.GMPick2Y,.GMPick2MSel,.GMPick2YSel,.GMPick2MHover,.GMPick2YHover,.GMPick2MSelHover,.GMPick2YSelHover {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   cursor:pointer;
   _cursor:hand;
   padding-left:3px;
   padding-right:3px;
   margin-left:5px;
   margin-right:5px;
   width:25px;
   }
.GMPick2MSel,.GMPick2YSel {
   background-color:#c0f3ff; 
   border:1px solid #dad1d1;
   margin-left:4px;
   margin-right:4px;  
   }
.GMPick2MHover,.GMPick2YHover {
   background-color:#DDD;   
   border:1px solid white;
   margin-left:4px;
   margin-right:4px;
   }
.GMPick2MSelHover,.GMPick2YSelHover {
   background-color:#80e0f0;   
   border:1px solid white;
   margin-left:4px;
   margin-right:4px;  
   }   
.GMPick2SepH {
   width:1px; 
   height:1px;
   overflow:hidden;
   }
.GMPick2Sep {
   width:1px; 
   background:#777;
   overflow:hidden;
   margin-right:3px;  
   height:22px;
   }    
.GMPick2BL,.GMPick2BR {
   padding-left:3px;
   padding-right:3px;
   margin-left:5px;
   margin-right:5px;
   padding-top:5px;
   width:25px;
   cursor:pointer;
   _cursor:hand;  
   }
/* ----------
--- Pager --- 
---------- */

.GMPagerBody {
   border-left:1px solid #a0a090;
   background: #E2F0FF;
   }
.GMPagerHeader {
   border-left:1px solid #a0a090;
   background:url(BackgroundsModern.gif) repeat-x;
   background-position:0px 0px;
   padding-bottom:2px;
   padding-top:3px;
   border-bottom:1px solid #d0d0c0;
   border-top:1px solid #EEF7FF;
   }
.GMPagerCaption {   
   font-family:"Trebuchet MS", Tahoma, Arial;
   color:#FFFFFF;
   font-size:12px;
   padding-left:3px;
   padding-right:3px;
   white-space:nowrap;
   height:17px;
   cursor:default;
   }
.GMPagerItem, .GMPagerHover {
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   border-top:1px solid #ffffff; 
   border-bottom:1px solid #d0d0c0;
   padding-left:3px;
   padding-right:3px;
   cursor:pointer;
   _cursor:hand;
   }
.GMPagerHover {
   background: #FFFFFF;
   }
.GMPagerCursor {
   cursor:pointer;
   _cursor:hand;
   background:#00AAAA;
   opacity:0.5;              /* Mozilla */
   filter:alpha(opacity=50); /* IE */
   }
.GMPagerSort1 {
   color: #006600;
   }
.GMPagerSort2 {
   color: #00AE00;
   }
.GMPagerSort3 {
   color: #00FF00;
   }
.GMPagerSortS {
   color: black;
   }

/* -----------------
--- Simple pager --- 
----------------- */


.GMSimplePager,.GMSimplePagerActive {
   padding-left:2px;
   padding-right:1px;
   padding-top:2px;
   padding-bottom:2px;
   margin-top:2px;
   margin-bottom:2px;
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   cursor:pointer;
   _cursor:hand;
   color:blue;
   display:inline-block;
   }
.GMSimplePager:visited {
   color:blue;
   }
.GMSimplePager:hover {
   color:red;
   }
.GMSimplePagerActive {
   color:black;
   font-weight:bold;
   border:1px dotted black;
   margin-top:1px;
   margin-bottom:1px;
   }

/* ----------
--- Gantt ---
---------- */
.GMGanttOuter { 
   border:0px solid;
   padding:0px;
   border-right:1px solid #e0e0ff;
   cursor:default;
   }
.GMGanttInner {
   height:18px; 
   overflow:hidden;
   }
@media print{ .GMGanttInner { width:100%; } }

.GMGantt0Out,.GMGantt10Out,.GMGantt90Out,.GMGantt100Out,.GMGanttNullOut,
.GMGanttG0Out,.GMGanttG10Out,.GMGanttG90Out,.GMGanttG100Out,.GMGanttGNullOut, 
.GMGantt0Hov,.GMGantt10Hov,.GMGantt90Hov,.GMGantt100Hov,.GMGanttNullHov,
.GMGanttG0Hov,.GMGanttG10Hov,.GMGanttG90Hov,.GMGanttG100Hov,.GMGanttGNullHov {
   margin-top:2px;
   padding:1px;  
   background:white;
   border:1px solid black;
   overflow:hidden;
   }
.GMGantt0Hov,.GMGantt10Hov,.GMGantt90Hov,.GMGantt100Hov,.GMGanttNullHov,
.GMGanttG0Hov,.GMGanttG10Hov,.GMGanttG90Hov,.GMGanttG100Hov,.GMGanttGNullHov {
   border:2px solid red;
   margin-top:1px;
   }
.GMGantt10Out,.GMGanttG10Out,.GMGantt10Hov,.GMGanttG10Hov { padding-left:0px; border-left:0px solid; }
.GMGantt90Out,.GMGanttG90Out,.GMGantt90Hov,.GMGanttG90Hov { padding-right:0px; border-right:0px solid; }
.GMGantt0In,.GMGantt10In,.GMGantt90In,.GMGantt100In,.GMGanttNullIn,
.GMGanttG0In,.GMGanttG10In,.GMGanttG90In,.GMGanttG100In,.GMGanttGNullIn {
   height:9px;
   overflow:hidden;
   font-size:1px;
   }
.GMGantt0In { background:#F00; }
.GMGantt10In { background:#C00; }
.GMGantt90In { background:#0C0; }
.GMGantt100In { background:#0F0; }
.GMGanttNullIn { background:#777; }
.GMGanttG0In { background:#FFF; }
.GMGanttG10In { background:#EEE; }
.GMGanttG90In { background:#666; }
.GMGanttG100In { background:#000; }
.GMGanttGNullIn { background:#FFF; }

.GMGanttFlowOut,.GMGanttGFlowOut {   
   margin-top:6px;
   border:1px solid black;
   overflow:hidden;
   }
.GMGanttFlowHov,.GMGanttGFlowHov {   
   border:2px solid red;
   margin-top:5px;
   overflow:hidden;
   }  
.GMGanttFlowIn,.GMGanttGFlowIn {
   height:3px;
   overflow:hidden;
   background:yellow;
   font-size:1px;
   }
.GMGanttGFlowIn { background:white; }

.GMGanttMark,.GMGanttGMark {
   height:500px;
   overflow:hidden;
   background:red;
   }

.GMGanttResource,.GMGanttGResource {
   font-family:"Times New Roman";
   font-size:12px;
   font-weight:bold;
   margin-top:1px;
   }

.GMGanttDepFirst {
   height:500px;
   overflow:hidden;
   }
.GMGanttDepVert,.GMGanttDepVertBottom,.GMGanttDepVertTop,.GMGanttDepVertBottom2,.GMGanttDepVertTop2,.GMGanttDepVertBottom3 {
   border-left:1px solid #DDF;
   border-right:1px solid #BBF;
   background:blue;
   width:1px;
   overflow:hidden;
   }
.GMGanttDepVert { margin-top:-500px; height:500px; }
.GMGanttDepVertTop { margin-top:-500px; height:8px; margin-bottom:492px; }
.GMGanttDepVertTop2 { margin-top:-499px; height:7px; margin-bottom:492px; }
.GMGanttDepVertBottom { margin-top:-491px; height:491px; }
.GMGanttDepVertBottom2 { margin-top:-491px; height:8px; margin-bottom:483px; }
.GMGanttDepVertBottom3 { margin-top:-482px; height:482px; }
.GMGanttDepHorzIn {
   border-top:1px solid #DDF;
   border-bottom:1px solid #BBF;
   background:blue;
   margin-top:7px;
   overflow:hidden;
   }
.GMGanttDepHorzTop {
   border-bottom:1px solid #BBF;
   background:blue;
   overflow:hidden;
   }
.GMGanttDepHorzBottom {
   border-top:1px solid #DDF;
   background:blue;
   margin-top:16px;
   overflow:hidden;
   }
.GMGanttDepHorzOut {
   margin-top:-500px;
   height:18px;
   margin-bottom:482px;
   overflow:hidden;
   font-size:1px;
   line-height:1px;
   }
.GMGanttDepIcon {
   margin-top:-500px;
   height:500px;
   overflow:hidden;
   }

.GMGanttBack1,.GMGanttBack2,.GMGanttBack3,.GMGanttBack4,.GMGanttBack5, 
.GMGanttGBack1,.GMGanttGBack2,.GMGanttGBack3,.GMGanttGBack4,.GMGanttGBack5 {
   height:500px;
   overflow:hidden;
   background:#E8E8E8;
   }
.GMGanttBack2,.GMGanttGBack2 {
   background:#888;
   }
.GMGanttHeaderTable,.GMGanttGHeaderTable {
   
   }
.GMGanttHeader1,.GMGanttHeader2,.GMGanttHeader3,.GMGanttHeader4,.GMGanttHeader5, 
.GMGanttGHeader1,.GMGanttGHeader2,.GMGanttGHeader3,.GMGanttGHeader4,.GMGanttGHeader5 {
   font-family:"Trebuchet MS", Tahoma, Arial;
   color:#FFFFFF;
   font-size:12px;
   border-right:1px solid white;
   text-align:center;
   margin-right:2px;
   }

/* ----------
--- Other --- 
---------- */

.GMMessage {
   background:#E2F0FF;
   border:1px solid black;
   padding:10px;
   white-space:nowrap;
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:13px;
   text-align:center;
   }
.GMPageMessage {
   background:#FaFaFa;
   border:1px solid black;
   padding:10px;
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:13px;
   }
.GMPage {
   border-bottom:1px solid #f0f0f0;
   }
.GMPageOne {
   
   }
.GMChildPage {   

   }
.GMTable {
   border:1px solid black;
   background:white;
   border-collapse:separate;
   text-align:left;
   }
.GMHint {
   background:white;
   border:1px solid black;
   position:relative;
   top:-1px!IE;
   left:-1px;
   overflow:hidden;
   cursor:default;
   padding-bottom:2px;
   }
.GMTip {
   background:#F2F7FF;
   border:1px solid black;
     font-family:"Microsoft Sans Serif",Verdana,Arial;
   font-size:11px;
   padding-top:1px;
   padding:3px;
   }
.GMShadow {
   background:#888;
   opacity:0.5;              /* Mozilla */
   filter:alpha(opacity=50); /* IE */
   }
.GMPagerEdit  {
   font-size:11px;
   border:0px solid;
   background:white;
   margin-top:2px; 
   padding-top:2px;
   text-align:center;
   font-family:"Microsoft Sans Serif",Verdana,Arial;
   }
  