<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="flask-backbone-main" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\FlaskApp\pythonenv\Scripts\python.exe|C:\inetpub\wwwroot\FlaskApp\pythonenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
