<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Dpi" value="90" />
    <add key="ceTe.LicenseKey" value="RST20NXDCLBNIFIF/psFxLVaXOtG6CvBVnny1RuKfMWOeFxuVXeSLMenl0edAIDRwg00qnL2KuiHZ60sezAmctmuICgdEJOzqPeA" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.8" />
    <!-- maxRequestLength in KB(300 MB) executionTimeout in Secs (3 minutes) -->
    <httpRuntime maxRequestLength="307200" executionTimeout="1200" />
    <authentication mode="None" />
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
      </providers>
    </profile>
    <pages clientIDMode="AutoID" controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
<!--ProjectGuid: 9050A635-3AD7-439C-9813-2040D67F03C4-->