<%@ Master Language="VB" MasterPageFile="~/PmMaster.Master" AutoEventWireup="false" CodeBehind="AssetMaster.master.vb" Inherits="Website.AssetMaster" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<%@ Register Src="AssetExplorer.ascx" TagName="AssetExplorer" TagPrefix="uc1" %>
<asp:Content ID="C1" ContentPlaceHolderID="CPH1" runat="server">
    <style type="text/css">
        body, html, form {
            height: 100%;
            margin: 0px;
            padding: 0px;
        }
        /*.AssetExplorerVerticalSplitter{height:calc(100vh - 62px) !important}*/
       .AssetSplitterPane.closed{width:0px !important;}
    </style>
    <script src="JS/Asset/AssetExplorer.js" type="text/javascript"></script>
    <script type="text/javascript" src="JS/PMRotator/PMRotator.js"></script>
    <script type="text/javascript">
        function AssetTreeClick_handler(sender, args) {
           // var ConfigureAssetTreeDiv = $('#ConfigureAssetTreeDiv');
            var AssetTreeToolBarDiv = $('#AssetTreeToolBarDiv');
            var assetExplrerTree = $('#ctl00_ctl00_CPH1_AssetExplorer_rdvAssetExplorer');
            var flyoutBackdrop = $('#flyoutBackdrop')[0];
            switch (args.get_item().get_commandName()) {
                case 'Close':
                    AssetTreeToolBarDiv.addClass('Hide');
                   // ConfigureAssetTreeDiv.removeClass('Hide');
                    if (flyoutBackdrop.className.indexOf("Hide") < 0) {
                        flyoutBackdrop.className = flyoutBackdrop.className + 'Hide';
                    }
                    //assetExplrerTree.removeClass('paddingTop');
                    break;
                case 'SaveAndExit':
                    AssetTreeToolBarDiv.addClass('Hide');
                   // ConfigureAssetTreeDiv.removeClass('Hide');
                    if (flyoutBackdrop.className.indexOf("Hide") < 0) {
                        flyoutBackdrop.className = flyoutBackdrop.className + 'Hide';
                    }
                    //assetExplrerTree.removeClass('paddingTop');
                    break;

            }
            return false;
        }
        function OnClientCollapsed(sender, ags) {
            $("#ctl00_ctl00_CPH1_Splitter").addClass("removeLeft");
            $("#RAD_SPLITTER_PANE_CONTENT_ctl00_ctl00_CPH1_treeGroupsAndItemsPane").addClass("closed");
            setTimeout(FloatDivs, 100);
            setCookie('AssetMenuStatus', 'none', 60);
        }
        function OnClientExpanded(sender, ags) {
            $("#ctl00_ctl00_CPH1_Splitter").removeClass("removeLeft");
            $("#RAD_SPLITTER_PANE_CONTENT_ctl00_ctl00_CPH1_treeGroupsAndItemsPane").removeClass("closed");
            setTimeout(FloatDivs, 100);
            setCookie('AssetMenuStatus', 'inline', 60);
            var splitter = sender.get_parent();
            var pane1 = splitter._panes[0];
            var pane2 = splitter._panes[1];
            var pane1Td = pane1._element;
            var browserWidth = $telerik.$(window).width();
            var drawerWidth = $('.drawer')[0].clientWidth;
           
            pane2.set_width(browserWidth - pane1Td.clientWidth - drawerWidth - 10);
        }
        function OnClientExpanding(sender, args) {
            $("#RAD_SPLITTER_PANE_CONTENT_ctl00_ctl00_CPH1_treeGroupsAndItemsPane").removeClass("closed");
        }
        function AssetSplitterResized(sender, ags) {
            setTimeout(function () { FloatDivs, OpenRecentDocumentsPopup(''); }, 100);
            //var toolbarwidth = $(".ToolBar")[0].clientWidth;
            //var tabsWidth = $("#ctl00_ctl00_CPH1_ACPH1_tbsDocument")[0].clientWidth;
            //var splitter = sender.get_parent();
            //var pane1 = splitter._panes[0];
            //var pane2 = splitter._panes[1]
            //$("#ctl00_ctl00_CPH1_ACPH1_mlpProperties").width(tabsWidth)
         //   pane2.set_width(toolbarwidth);
        }
 
        var mainsplitter = null;
        function onResized(sender, ags) {
            mainsplitter = sender;
            var pane2 = mainsplitter._panes[1];
            $(".AssetSplitterRightPane").scroll(function () {
                var top = $(this).scrollTop().toString() + "px";
                $(".ToolBar").attr('style', "top: " + top + ' !important');
                $(".documentTabs").css('top', top);
            });
        }
        function fixSplitterSize(isRail) {
            if (mainsplitter == null) return;
            var sender = mainsplitter._panes[1];
            var browserWidth = $telerik.$(window).width();
            if (isRail) {
                sender.set_width(browserWidth - mainsplitter._panes[0].get_width() - 80);
                if (mainsplitter._panes[0].get_width() == 0) {
                    mainsplitter.set_width(browserWidth - mainsplitter._panes[0].get_width() - 200)
                }
            }
            else {
                sender.set_width(browserWidth - mainsplitter._panes[0].get_width() - 200);
                if (mainsplitter._panes[0].get_width() == 0) {
                    mainsplitter.set_width(browserWidth - mainsplitter._panes[0].get_width() - 200)
                }
            }
            if (browserWidth <= 843) {
                sender.set_width(browserWidth - 2);

            }
            
            $(document).scrollLeft(1);
            while ($(document).scrollLeft() != 0) {
                var NewWidth = sender.get_width() - 1
                sender.set_width(NewWidth);
                $(document).scrollLeft(1);
                if (NewWidth <= 100) break;
            }


        }
    </script>
     <telerik:RadSplitter ID="RadSplitter1" runat="server" Skin="Default" Width="100%" CssClass="AssetExplorerVerticalSplitter" SplitBarsSize="" OnClientLoad="onResized" >
               <telerik:RadPane ID="treeGroupsAndItemsPane" runat="server" CssClass="AssetSplitterPane"  Width="30%"  EnableEmbeddedBaseStylesheet="False" Index="0" Skin=""  OnClientCollapsed="OnClientCollapsed" OnClientExpanded="OnClientExpanded" OnClientResized="AssetSplitterResized">
                <uc1:AssetExplorer ID="AssetExplorer" runat="server" />
                   </telerik:RadPane>
           <telerik:RadSplitBar ID="Splitter" runat="server" Index="1" Skin="Default" meta:resourcekey="Splitter"  CssClass="AssetSplitter" CollapseMode="Forward" />
          <telerik:RadPane ID="RadContentPane" runat="server" Width="70%" Index="2" Skin="Default" CssClass="AssetSplitterRightPane">
               <asp:ContentPlaceHolder ID="ACPH1" runat="server"></asp:ContentPlaceHolder>
              </telerik:RadPane>

         </telerik:RadSplitter>
   <%-- <table width="100%" cellpadding="0" border="0" cellspacing="0">
        <tr>
            <td valign="top" id="tdAssetMenu" runat="server" class="AllDarkBlueBorder MobileAssetTree" style="width: 288px;background-color:#666666;">
               
            </td>
            <td id="tdAssetExplorerBar" runat="server" class="AssetExplorerBar MobileAssetExplorerBar">
                <input id="btnToggle" runat="server" class="AsserExplorerbutton MobileAsserExplorerbutton" type="button" value=" " onclick="return ToggleAssetMenu();" />
            </td>
            <td valign="top">
               
            </td>
        </tr>
    </table>--%>
</asp:Content>
