tr.k-grouping-row > td:nth-child(1):not(.k-group-cell) {
    background-color: #95bebf !important;
    color: #000 !important;
}

tr.k-grouping-row > td:nth-child(2) {
    background-color: #cadede !important;
    color: #000000 !important;
    border-top: 1px solid #FFF;
}

.k-list > .k-state-selected {
    background-color: #337ab7 !important;
    color: #FFFFFF !important;
}

.k-grid-header {
    background-color: #55bceb !important;
    font-weight: bold;
    color: #FFFFFF;
}

.k-filter-row th, .k-grid-header th.k-header {
border: 1px solid #ccc;
}

.k-grid-footer, .k-grid-footer td, .k-grid-header, .k-grid-header .k-header, .k-pager-numbers .k-state-selected, .k-pager-wrap {
    background-color: cadetblue !important;
    font-weight: bold;
    color: #FFFFFF;
}

.k-grid-header th.k-header > .k-link {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    font-family: Calibri !important;
    font-size: 13px !important;
}

.k-grid-content tr td {
    font-family: Calibri !important;
    font-size: 13px !important;
}

.k-grid-content tr td.tdRed, .k-grid-content tr td.tdGreen, .k-grid-content tr td.tdYellow {
    font-size: 15px !important;
}
.k-grid-header th.k-header {
    vertical-align: middle !important;
}

.k-header-column-menu {
    vertical-align: middle !important;
    display: inline-block;
    padding-top: 17px !important;
    height: 25px;
}

.k-grid .k-alt {
    background-color: #F2F2F2 !important;
}

.k-grid .k-link {
    color: #FFF !important;
}

.k-grid .k-state-active {
    background-color: #406768 !important;
}

#grid .k-grid-toolbar {
    padding: .6em 1.3em .6em .4em;
}

.k-footer-template {
    display: none;
}

.refreshBtnContainer {
    display: inline-block;
}

.toolbar {
    float: right;
}
