
/******************************************combobox***********************************************/

.RadComboBox_Default {
    color: #333333;
    /*font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;*/
}

    .RadComboBox_Default .rcbArrowCell {
        background-image: url('../Images/radFormSprite.png');
        width: 24px;
        height: 24px;
    }

    .RadComboBox_Default .rcbInput {  
        color: #333333;
        /*font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;*/
        line-height: 16px;
    }

    .RadComboBox_Default .rcbEmptyMessage {
        color: transparent;
    }

    .RadComboBox_Default .rcbHovered .rcbInput.rcbEmptyMessage {
        color: transparent;
    }

    .RadComboBox_Default .rcbHovered .rcbInput,
    .RadComboBox_Default .RadComboBoxDropDown_Default .rcbCheckAllItemsHovered .rcbInput,
    .RadComboBoxDropDown_Default .RadComboBox_Default .rcbCheckAllItemsHovered .rcbInput {
        color: #333333;
        /*color: #455A64;
    background-color: #ECEFF1;*/
    }
    /*.RadComboBox_Default .rcbFocused .rcbInput {
color: #333333; }*/
    .RadComboBox_Default .rcbReadOnly .rcbInput {
        /*color: #333333;*/
        color: #455A64;
    }

    .RadComboBox_Default .rcbHovered .rcbReadOnly .rcbInput, .RadComboBox_Default .RadComboBoxDropDown_Default .rcbCheckAllItemsHovered .rcbReadOnly .rcbInput, .RadComboBoxDropDown_Default .RadComboBox_Default .rcbCheckAllItemsHovered .rcbReadOnly .rcbInput {
        /* color: #000000;*/
        color: #455A64;
    }

    .RadComboBox_Default .rcbFocused .rcbReadOnly .rcbInput {
        /*color: #ffffff;
    color: #333333;*/
        color: #455A64;
    }

.RadComboBoxDropDown .ALLButton .Icon {
    background: none !important;
}

.Up .Icon {
    background-position: -1216px 0px;
}

.Down .Icon {
    background-position: -1200px 0px;
}

.smallFilter .Icon {
    background-position: -1632px 0px;
}

.RadComboBoxDropDown_Default {
    border-color: #a0a0a0;
    color: #333333;
    background-color: #ffffff;
    /*font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;*/
}

    .RadComboBoxDropDown_Default .rcbHovered, .RadComboBoxDropDown_Default .rcbCheckAllItemsHovered {
        /*background: #7396AA;
    color: #FFFFFF;*/
        color: #455A64;
        background-color: #ECEFF1;
    }

    .RadComboBoxDropDown_Default .rcbSelected {
        /*color: #ffffff;
    background-color: #808080;*/
        color: #000000;
    }

    .RadComboBoxDropDown_Default .rcbLoading {
        /*color: #000000;
    background-color: #c3c3c3;*/
        color: #455A64;
        background-color: #ECEFF1;
    }

    .RadComboBoxDropDown_Default .rcbItem em {
        color: #000000;
        background-color: #c3c3c3;
    }

    .RadComboBoxDropDown_Default .rcbCheckAllItems {
        color: #333333;
        background-color: #eaeaea;
    }

    .RadComboBoxDropDown_Default .rcbMoreResults {
        border-color: #d1d1d1;
        color: #fff;
        background-color: #eaeaea;
    }

        .RadComboBoxDropDown_Default .rcbMoreResults a {
            border-top-color: #fff;
        }

    .RadComboBoxDropDown_Default .rcbSeparator {
        color: #333333;
        background: #eaeaea;
    }

.RadComboBox {
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    *display: inline;
    *zoom: 1;
}

    .RadComboBox table {
        width: 100%;
        border-width: 0;
        border-style: solid;
        border-collapse: collapse;
        vertical-align: top;
    }

.AngularControl table {
    border: 1px solid #D0D5DD !important;
    border-collapse: inherit !important;
    border-radius: 6px;
    box-sizing: border-box;
}

.RadComboBox select {
    margin-bottom: 0;
    padding: 0;
    height: 22px;
}

.RadComboBox ll,
.RadComboBox .rcbArrowCell {
    padding: 0;
    border-width: 0;
    border-style: solid;
    background-color: transparent;
    background-repeat: no-repeat;
}

.RadComboBox table td.rcbInputCell {
    padding: 0;
    border: 1px solid #666666;
}


.LoginRadComboBox table td.rcbInputCell {
    padding: 0 !important;
}

.RadComboBox table td.rcbArrowCell {
    padding: 0;
    border: 1px solid #666666;
}

.RadComboBox .rcbInputCell {
    padding-right: 4px;
    padding-left: 5px;
    width: 100%;
    height: 20px;
    line-height: 20px;
    text-align: left;
    vertical-align: middle;
}

.AngularControlDDL table td.rcbInputCell {
    padding: 0 !important;
    border: 0 !important;
    border-radius: 6px;
    width: 341px;
    height: 43px;
}

.AngularControlDDL table td.rcbArrowCell {
    padding: 0 !important;
    border: 0 !important;
}


.RadComboBox .rcbInputCellLeft {
    background-position: 0 0;
}

.RadComboBox .rcbInputCellRight {
    background-position: 100% 0;
}

.RadComboBox input,
.RadComboBox input:focus {
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
}

    .RadComboBox input.rcbInput, .RadComboBox input.rcbInput:disabled {
        margin: 0;
        padding: 2px 0 1px;
        height: 22px;
        width: 100%;
        border-width: 0;
        outline: 0;
        color: inherit;
        background-color: transparent;
        vertical-align: top;
        opacity: 1;
    }

.RadComboBox .rcbReadOnly .rcbInput,
.RadComboBox .rcbDisabled .rcbInput {
    cursor: default;
}

.RadComboBox .rcbEmptyMessage {
    font-style: italic;
    color: transparent;
}

.RadComboBox .rcbArrowCell {
    width: 18px;
}

    .RadComboBox .rcbArrowCell a {
        width: 18px;
        height: 22px;
        position: relative;
        outline: 0;
        font-size: 0;
        line-height: 1px;
        text-decoration: none;
        text-indent: 9999px;
        display: block;
        overflow: hidden;
        cursor: default;
        *zoom: 1;
    }

.RadComboBox .rcbArrowCellLeft {
    background-position: 0 -176px;
}

.RadComboBox .rcbArrowCellRight {
    background-position: -307px -176px;
}

.RadComboBox .rcbArrowCellHidden,
.RadComboBox .rcbArrowCellHidden a {
    width: 3px;
}

.RadComboBox .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 0;
}

.RadComboBox .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% 0;
}

.RadComboBox .rcbHovered .rcbInputCellLeft {
    background-position: 0 -22px;
}

.RadComboBox .rcbHovered .rcbInputCellRight {
    background-position: 100% -22px;
}

.RadComboBox .rcbHovered .rcbArrowCellLeft {
    background-position: -36px -176px;
}

.RadComboBox .rcbHovered .rcbArrowCellRight {
    background-position: -307px -176px;
}

.RadComboBox .rcbHovered .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -22px;
}

.RadComboBox .rcbHovered .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -22px;
}

.RadComboBox .rcbFocused .rcbInputCellLeft {
    background-position: 0 -44px;
}

.RadComboBox .rcbFocused .rcbInputCellRight {
    background-position: 100% -44px;
}

.RadComboBox .rcbFocused .rcbArrowCellLeft {
    background-position: -72px -176px;
}

.RadComboBox .rcbFocused .rcbArrowCellRight {
    background-position: -307px -176px;
}

.RadComboBox .rcbFocused .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -44px;
}

.RadComboBox .rcbFocused .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -44px;
}

.RadComboBox .rcbDisabled {
    filter: alpha(opacity=50);
}

    .RadComboBox .rcbDisabled .rcbInputCellLeft {
        background-position: 0 -66px;
    }

    .RadComboBox .rcbDisabled .rcbInputCellRight {
        background-position: 100% -66px;
    }

    .RadComboBox .rcbDisabled .rcbArrowCellLeft {
        background-position: -108px -176px;
    }

    .RadComboBox .rcbDisabled .rcbArrowCellRight {
        background-position: -307px -176px;
    }

    .RadComboBox .rcbDisabled .rcbArrowCellLeft.rcbArrowCellHidden {
        background-position: 0 -66px;
    }

    .RadComboBox .rcbDisabled .rcbArrowCellRight.rcbArrowCellHidden {
        background-position: 100% -66px;
    }

.RadComboBox .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -88px;
}

.RadComboBox .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -88px;
}

.RadComboBox .rcbReadOnly .rcbArrowCellLeft {
    background-position: -144px -176px;
}

.AngularControlDDLArrow .rcbReadOnly .rcbArrowCellRight {
    background-position: 0px 0px !important;
    position: relative;
    left: -41px;
    background-color: transparent !important;
    bottom: -9px;
    cursor: pointer !important;
}

.AngularControlDDLArrow table td.rcbArrowCell {
    background-position: 0px 0px !important;
    position: relative;
    left: -41px;
    background-color: transparent !important;
    bottom: -9px;
    cursor: pointer !important;
}

.RadComboBox .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -88px;
}

.RadComboBox .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -88px;
}

.RadComboBox .rcbHovered .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -110px;
}

.RadComboBox .rcbHovered .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -110px;
}

.RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellLeft {
    background-position: -180px -176px;
}

.RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellRight {
    background-position: -307px -176px;
}

.RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -110px;
}

.RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -110px;
}

.RadComboBox .rcbFocused .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -132px;
}

.RadComboBox .rcbFocused .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -132px;
}

.RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellLeft {
    background-position: -216px -176px;
}

.RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellRight {
    background-position: -307px -176px;
}

.RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -132px;
}

.RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -132px;
}

.RadComboBox .rcbDisabled .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -154px;
}

.RadComboBox .rcbDisabled .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -154px;
}

.RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellLeft {
    background-position: -252px -176px;
}

.RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellRight {
    background-position: -270px -176px;
}

.RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -154px;
}

.RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -154px;
}

.RadComboBox .rcbLabel {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    line-height: 22px;
    *zoom: 1;
}

.RadComboBox_rtl {
    text-align: right;
}

    .RadComboBox_rtl .rcbInputCell {
        padding-right: 5px;
        padding-left: 4px;
    }

    .RadComboBox_rtl .rcbInput {
        text-align: right;
    }

    .RadComboBox_rtl .rcbLabel {
        *margin-right: 5px;
        padding: 0 0 0 10px;
        text-align: right;
    }

.rcbSlide {
    display: none;
    position: absolute;
    overflow: hidden;
}

    .rcbSlide .ToolbarDropdown {
        display: none;
        position: fixed;
        overflow: hidden;
        top: 97px !important;
    }

.RadComboBoxDropDown {
    border-width: 1px;
    border-style: solid;
    text-align: left;
    cursor: default;
    position: relative;
}

    .RadComboBoxDropDown input[type="checkbox"] {
        margin: 0 3px 3px 4px;
        *margin: 0;
        padding: 0;
    }

    .RadComboBoxDropDown label {
        line-height: inherit;
        font-weight: inherit;
    }

    .RadComboBoxDropDown.rcbAutoWidth {
        min-width: 158px;
    }

        .RadComboBoxDropDown.rcbAutoWidth .rcbList {
            white-space: nowrap;
        }

@media \0screen {
    .RadComboBoxDropDown.rcbAutoWidth .rcbList {
        min-width: 148px;
    }
}

* + html .RadComboBoxDropDown.rcbAutoWidthResizer .rcbScroll {
    overflow: scroll !important;
    overflow-x: visible !important;
}

.RadComboBoxDropDown .rcbScroll {
    position: relative;
    overflow: auto;
}

.RadComboBoxDropDown .rcbHeader,
.RadComboBoxDropDown .rcbFooter {
    padding: 2px 5px;
    border-width: 0;
    border-style: solid;
}

.RadComboBoxDropDown .rcbHeader {
    margin-bottom: 1px;
    border-bottom-width: 1px;
}

.RadComboBoxDropDown .rcbFooter {
    margin-top: 1px;
    border-top-width: 1px;
}

.RadComboBoxDropDown .rcbList {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

    .RadComboBoxDropDown .rcbList > li {
        *zoom: 1;
    }

.AngularLogInDropDown .rcbList > li {
    *zoom: 1;
    height: 37px;
}

.AngularLogInDropDown .rcbSlide {
    margin-top: 7px;
}

.AngularLogInDropDown .rcbSelected {
    font-size: 16px !important;
    font-family: InterVariable,sans-serif !important;
    border-left-width: 31px;
    margin-left: 1px !important;
    padding-left: 14px !important;
    padding-top: 5px !important;
    background-color: #F9FAFB !important;
}

.AngularLogInDropDown .rcbHovered.rcbSelected:hover {
    background-color: /*4*/ #E2EBF7 /*4*/ !important;
}

.AngularLogInDropDown li.rcbHovered.rcbSelected {
    background-color: /*4*/ #E2EBF7 /*4*/ !important;
}

.AngularLogInDropDown .rcbHovered {
    color: #333333 !important;
    background-color: transparent !important;
    width: 92%;
    border-left-width: 31px;
    margin-left: 1px !important;
    padding-left: 14px !important;
}

/*.AngularLogInDropDownDB .rcbHovered,
.AngularLogInDropDownDB .rcbSelected {
    background-color:*/ /*4*/ /*#E2EBF7*/ /*4*/ /*;
    width: 92%;
    border-left-width: 31px;
    margin-left: 1px !important;
    padding-left: 14px !important;
}*/

.RadComboBoxDropDown .rcbList > li:after {
    content: "";
    height: 0;
    clear: both;
    display: block;
}

.RadComboBoxDropDown .rcbItem,
.RadComboBoxDropDown .rcbDisabled,
.RadComboBoxDropDown .rcbLoading,
.RadComboBoxDropDown .rcbCheckAllItems,
.RadComboBoxDropDown .rcbHovered,
.RadComboBoxDropDown .rcbSelected,
.RadComboBoxDropDown .rcbCheckAllItemsHovered {
    padding: 2px 5px;
    min-height: 13px;
    background-repeat: repeat-x;
}

    .RadComboBoxDropDown .rcbItem > label,
    .RadComboBoxDropDown .rcbHovered > label,
    .RadComboBoxDropDown .rcbDisabled > label,
    .RadComboBoxDropDown .rcbLoading > label,
    .RadComboBoxDropDown .rcbCheckAllItems > label,
    .RadComboBoxDropDown .rcbCheckAllItemsHovered > label {
        margin: -2px -5px;
        padding: 2px 5px;
        display: block;
    }

.RadComboBoxDropDown .rcbNoWrap .rcbItem,
.RadComboBoxDropDown .rcbNoWrap .rcbHovered,
.RadComboBoxDropDown .rcbNoWrap .rcbDisabled,
.RadComboBoxDropDown .rcbNoWrap .rcbLoading {
    white-space: nowrap;
}

.RadComboBoxDropDown .rcbDisabled {
    cursor: default;
    filter: alpha(opacity=50);
    opacity: .5;
}

.RadComboBoxDropDown .rcbLoading {
    text-align: center;
}

.RadComboBoxDropDown em {
    font-style: normal;
    font-weight: bold;
}

.RadComboBoxDropDown .rcbCheckBox,
.RadComboBoxDropDown .rcbCheckAllItemsCheckBox {
    vertical-align: middle;
}

.RadComboBoxDropDown .rcbImage {
    margin: 0 6px 2px 0;
    vertical-align: middle;
}

.RadComboBoxDropDown .rcbMoreResults {
    margin: 1px 0 0 0;
    padding: 2px 5px;
    border-width: 1px 0 0 0;
    border-style: solid;
    text-align: center;
    cursor: pointer;
    border-color: /*2*/ #3498DB /*2*/;
    color: #fff;
    background: /*2*/ #3498DB /*2*/;
}

    .RadComboBoxDropDown .rcbMoreResults a {
        color: #fff;
        margin: 0 2px;
        width: 0;
        height: 0;
        border-width: 4px;
        border-style: solid;
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        cursor: pointer;
    }

.RadComboBoxDropDown .rcbSeparator {
    margin-top: 5px;
}

.RadComboBoxDropDown .rcbSeparatedList .rcbSeparator {
    padding-left: 5px;
}

.RadComboBoxDropDown .rcbSeparatedList .rcbItem,
.RadComboBoxDropDown .rcbSeparatedList .rcbHovered,
.RadComboBoxDropDown .rcbSeparatedList .rcbDisabled,
.RadComboBoxDropDown .rcbSeparatedList .rcbLoading {
    padding-left: 1em;
}

.RadComboBoxDropDown_rtl {
    text-align: right;
    direction: rtl;
}

    .RadComboBoxDropDown_rtl .rcbImage {
        margin: 0 0 2px 6px;
    }

    .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbSeparator {
        padding-right: 5px;
    }

    .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbItem,
    .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbHovered,
    .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbDisabled,
    .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbLoading {
        padding-right: 1em;
    }

.RadComboBoxWithLabel {
    zoom: normal;
}

    .RadComboBoxWithLabel table {
        *margin-right: 5px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
    }

.RadComboBox .rcbReadOnly .rcbInputCellLeft, .RadComboBox .rcbReadOnly .rcbInputCellLeft, .RadComboBox .rcbInputCellLeft {
    background: white;
}

.RadComboBox .rcbHovered .rcbReadOnly .rcbInputCellLeft, .RadComboBox .rcbFocused .rcbReadOnly .rcbInputCellLeft, .RadComboBox .rcbFocused .rcbInputCellLeft {
    background: white;
    color: #455A64;
}

.RadComboBox .rcbDisabled .rcbInputCellLeft,
.RadComboBox .rcbDisabled .rcbReadOnly .rcbInputCellLeft,
.RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellRight,
.RadComboBox .rcbDisabled .rcbArrowCellRight {
    background-color: #EDEDED;
}

.RadComboBoxDropDown .Icon {
    background-image: url('../Images/ResponsiveIcons/16Enabled.png') !important;
    background-repeat: no-repeat;
    width: 16px !important;
    height: 16px !important;
    display: inline-block;
}

.ProjectButton .Icon {
    background-image: url('../Images/ResponsiveIcons/16Enabled.png') !important;
    background-position: -1552px 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.PortfolioButton .Icon {
    background-image: url('../Images/ResponsiveIcons/16Enabled.png') !important;
    background-position: -32px 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.PorgramProjectButton .Icon {
    background-image: url('../Images/ResponsiveIcons/16Enabled.png') !important;
    background-position: -1568px 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.PropertyButton .Icon {
    background-image: url('../Images/ResponsiveIcons/16Enabled.png') !important;
    background-position: -1504px 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.PorgramLocationButton .Icon {
    background-image: url('../Images/ResponsiveIcons/16Enabled.png') !important;
    background-position: -1568px 0px;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.rcbItem:hover {
    background-color: #F2F4F7;
}

.ddlTreeviewTemplate .rcbItem:hover {
    background-color: transparent !important;
}

.AngularControl .rcbArrowCell {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 24 24' width='16'><path d='M6 9L12 15L18 9' stroke='rgba(66,66,66,1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none'/></svg>") !important;
    border: none !important;
    position: relative;
    right: 2px;
}

.AngularControl table td.rcbArrowCell {
    padding: 3px !important;
}

    .AngularControl table td.rcbArrowCell a {
        cursor: pointer;
    }

.AngularControl .rcbInputCell {
    border: none !important;
    cursor:pointer !important;
}

.AngularControl .AngularComboBox .rcbArrowCell, .AngularControl .AngularComboBox .rcbArrowCellRight, .AngularControl .AngularComboBox .rcbReadOnly .rcbArrowCellRight,
.AngularControl .AngularComboBox .rcbHovered .rcbArrowCellRight,
.AngularControl .AngularComboBox .rcbHovered .rcbReadOnly .rcbArrowCellRight,
.AngularControl .AngularComboBox .rcbFocused .rcbReadOnly .rcbArrowCellRight, .AngularControl .AngularComboBox .rcbFocused .rcbArrowCellRight {
    background-position: 0 !important;
}

.AngularControl input.rcbInput {
    margin-left: 10px;
    margin-top: 3px;
    font-family: InterVariable, sans-serif;
    color: #344054 !important;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer !important;
}

.AngularControl {
    padding-top: 11px;
    border-width: 0px;
    position: absolute;
    left: 14px;
    top: 35px;
    width: 335px !important;
    height: 38px;
    /* display:flex;*/
    font-family: InterVariable,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #101828;
    cursor: text;
}

.AngularControlClicked .RadComboBox {
    border: 1px solid #D0D5DD !important;
    border-radius: 6px;
}
.AngularControlClicked table {
    border: none !important;
   
}

.AngularDropDown .rcbItem :hover {
    background-color: #fafafa !important;
    font-family: 'Inter',sans-serif;
    font-style: normal;
    cursor: pointer;
    border-radius:6px;
}


.AngularDropDown .rcbItem,
.AngularDropDown .rcbDisabled,
.AngularDropDown .rcbLoading,
.AngularDropDown .rcbCheckAllItems,
.AngularDropDown .rcbCheckAllItemsHovered {
    padding: 0px 12px ;
    background-repeat: repeat-x;
    font-size: 14px !important;
    font-family: 'Inter', sans-serif !important;
    height: 33px !important;
    line-height: 2.5 !important;
    background-color: transparent;
    cursor: pointer;
}
.AngularDropDown .rcbHovered {
    padding: 0px 12px;
    min-height: 13px !important;
    background-repeat: repeat-x;
    font-size: 14px !important;
    font-family: 'Inter', sans-serif !important;
    height: 33px !important;
    line-height: 2.5 !important;
    background-color: #fafafa !important;
    cursor: pointer;
}

.AngularDropDown .combo-item-template {
    padding: 4px 25px;
}

.AngularDropDown .Firstcombo-item {
    padding: 8px 12px !important;
}
.AngularDropDown {
    top: 8px !important;
    border-radius:9px;
    border-color: #e5e5e5;
    color: #424242;
    background-color: #fff;
    box-shadow: 0px 8px 10px 0 rgba(0, 0, 0, .12), 0px 4px 16px 0 rgba(0, 0, 0, .12);
}


.AngularDropDown .rcbHovered, .AngularDropDown .rcbCheckAllItemsHovered {
    color: #555555 !important;
    font-size: 14px;
    font-family: InterVariable, sans-serif;
}
.ProjectStatus .rcbScroll {
    height: 400px !important
}

.AngularDropDown .rcbScroll {
    padding-bottom: 5px;
}

.ProjectStatus .rcbHovered {
    padding: 0 !important
}
.ItemsSelected input.rcbInput {
    width: 150px;
    border-radius: 5px;
    height: 26px;
    text-align: left;
    font-size: 14px;
    font-family: InterVariable, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555555;
    padding-left: 8px !important;
    margin-left: 5px;
    margin-bottom: 2px;
    cursor: pointer !important;
}

.ItemsSelected .rcbList > li {
    background-color: rgba(235, 235, 235, 1) !important;
    width: 163px;
    border-radius: 5px;
    height: 28px;
    text-align: left;
    font-size: 14px;
    font-family: InterVariable, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555555;
    padding-left: 8px !important;
    margin-left: 5px;
    margin-bottom: 2px;
    cursor: pointer;
}
.globe {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 24 24' width='16'><path d='M2 12H22M2 12C2 17.5228 6.47715 22 12 22M2 12C2 6.47715 6.47715 2 12 2M22 12C22 17.5228 17.5228 22 12 22M22 12C22 6.47715 17.5228 2 12 2M12 2C14.5013 4.73835 15.9228 8.29203 16 12C15.9228 15.708 14.5013 19.2616 12 22M12 2C9.49872 4.73835 8.07725 8.29203 8 12C8.07725 15.708 9.49872 19.2616 12 22' stroke='rgba(66,66,66,1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none'/></svg>");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    align-items: center;
    left: 10px !important;
}
.folder {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 24 24' width='16'><path d='M13 7L11.8845 4.76892C11.5634 4.1268 11.4029 3.80573 11.1634 3.57116C10.9516 3.36373 10.6963 3.20597 10.4161 3.10931C10.0992 3 9.74021 3 9.02229 3H5.2C4.0799 3 3.51984 3 3.09202 3.21799C2.71569 3.40973 2.40973 3.71569 2.21799 4.09202C2 4.51984 2 5.0799 2 6.2V7M2 7H17.2C18.8802 7 19.7202 7 20.362 7.32698C20.9265 7.6146 21.3854 8.07354 21.673 8.63803C22 9.27976 22 10.1198 22 11.8V16.2C22 17.8802 22 18.7202 21.673 19.362C21.3854 19.9265 20.9265 20.3854 20.362 20.673C19.7202 21 18.8802 21 17.2 21H6.8C5.11984 21 4.27976 21 3.63803 20.673C3.07354 20.3854 2.6146 19.9265 2.32698 19.362C2 18.7202 2 17.8802 2 16.2V7Z' stroke='rgba(66,66,66,1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none'/></svg>");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    align-items: center;
}
.locationMarker {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 0 24 24' width='16'><path d='M12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z' stroke = 'rgba(66,66,66,1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'  fill='none'/> <path d='M12 22C16 18 20 14.4183 20 10C20 5.58172 16.4183 2 12 2C7.58172 2 4 5.58172 4 10C4 14.4183 8 18 12 22Z' stroke='rgba(66,66,66,1)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' fill='none'/></svg>");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    align-items: center;
}
.project {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='16' viewBox='0 -960 960 960' width='16'><path d='M686-132 444-376q-20 8-40.5 12t-43.5 4q-100 0-170-70t-70-170q0-36 10-68.5t28-61.5l146 146 72-72-146-146q29-18 61.5-28t68.5-10q100 0 170 70t70 170q0 23-4 43.5T584-516l244 242q12 12 12 29t-12 29l-84 84q-12 12-29 12t-29-12Zm29-85 27-27-256-256q18-20 26-46.5t8-53.5q0-60-38.5-104.5T386-758l74 74q12 12 12 28t-12 28L332-500q-12 12-28 12t-28-12l-74-74q9 57 53.5 95.5T360-440q26 0 52-8t47-25l256 256ZM472-488Z' fill='%23666666' /></svg>");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    align-items: center;
}