@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
  -webkit-font-feature-settings:"liga";
   -moz-font-feature-settings:"liga";
}
.material-icons.md-48{
    font-size:48px !important;
}
.material-icons.md-24{
    font-size:28px !important;
}
.material-icons.md-32{
    font-size:32px !important;
}
.material-icons.md-35{
    font-size:35px !important;
}
.material-icons.md-39{
    font-size:39px !important;
}

.md-gray{
    color:#757575;
}
.md-spin {
    -webkit-animation: mdspin 1s infinite linear;
    -moz-animation:mdspin 1s infinite linear;
    -o-animation:mdspin 1s infinite linear;
    animation:mdspin 1s infinite linear;
}

@keyframes mdspin{0%{transform:rotate(0deg)}
                  100%{transform:rotate(359deg)}}
@-webkit-keyframes mdspin{0%{transform:rotate(0deg)}
                  100%{transform:rotate(359deg)}}
@-moz-keyframes mdspin{0%{transform:rotate(0deg)}
                  100%{transform:rotate(359deg)}}
@-o-keyframes mdspin{0%{transform:rotate(0deg)}
                  100%{transform:rotate(359deg)}}
@-ms-keyframes mdspin{0%{transform:rotate(0deg)}
                  100%{transform:rotate(359deg)}}

