/* to reduce the margin between two cotroll rows-- for the left search panel----*/

.SearchLeftPanel .form-group {
    margin-bottom: 0px;
}

.marginTop10 {
    margin-top: 10px;
}

.marginTop5 {
    margin-top: 5px;
}

​ .panel-body {
    padding: 30px !important;
}

.panel-default {
    border-color: none;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: none;
}
