
/******************************************combobox***********************************************/

.RadComboBox_Default {
  color: #333333 !important;
  /*font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;*/ }
    .RadComboBox_Default .rcbArrowCell {
        background-image: url('../Images/radFormSprite.png') !important;
        background-color:#FFFFFF !important;
        border:1px solid #666666 !important;
    }
  .RadComboBox_Default .rcbInput {
    color: #333333;
    /*font-size: 12px;
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;*/
    line-height: 16px; }
  .RadComboBox_Default .rcbEmptyMessage {
    color: transparent; }
  .RadComboBox_Default .rcbHovered .rcbInput.rcbEmptyMessage {
    color: transparent; }
  .RadComboBox_Default .rcbHovered .rcbInput, .RadComboBox_Default .RadComboBoxDropDown_Default .rcbCheckAllItemsHovered .rcbInput, .RadComboBoxDropDown_Default .RadComboBox_Default .rcbCheckAllItemsHovered .rcbInput {
    color: #333333; }
  /*.RadComboBox_Default .rcbFocused .rcbInput {
    color: #333333; }*/
  .RadComboBox_Default .rcbReadOnly .rcbInput {
    color: #333333; }
  .RadComboBox_Default .rcbHovered .rcbReadOnly .rcbInput, .RadComboBox_Default .RadComboBoxDropDown_Default .rcbCheckAllItemsHovered .rcbReadOnly .rcbInput, .RadComboBoxDropDown_Default .RadComboBox_Default .rcbCheckAllItemsHovered .rcbReadOnly .rcbInput {
    color: #000000; }
  .RadComboBox_Default .rcbFocused .rcbReadOnly .rcbInput {
    color: #ffffff;
    color: #333333; }

.RadComboBoxDropDown_Default {
  border-color: #a0a0a0;
  color: #333333;
  background-color: #ffffff;
  /*font-size: 12px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;*/ }
  .RadComboBoxDropDown_Default .rcbHovered, .RadComboBoxDropDown_Default .rcbCheckAllItemsHovered {
    background:RGB(115,150,170) ;
    color:#FFFFFF;}
  .RadComboBoxDropDown_Default .rcbSelected {
    color: #ffffff;
    background-color: #808080; }
  .RadComboBoxDropDown_Default .rcbLoading {
    color: #000000;
    background-color: #c3c3c3; }
  .RadComboBoxDropDown_Default .rcbItem em {
    color: #000000;
    background-color: #c3c3c3; }
  .RadComboBoxDropDown_Default .rcbCheckAllItems {
    color: #333333;
    background-color: #eaeaea; }
  .RadComboBoxDropDown_Default .rcbMoreResults {
    border-color: #d1d1d1;
    color: #fff;
    background-color: #eaeaea; }
  .RadComboBoxDropDown_Default .rcbMoreResults a {
    border-top-color: #fff; }
  .RadComboBoxDropDown_Default .rcbSeparator {
    color: #333333;
    background: #eaeaea; }

  .RadComboBox {
  text-align: left !important;
  display: inline-block !important;
  vertical-align: middle !important;
  white-space: nowrap;
  }
  .RadComboBox table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-collapse: collapse;
    vertical-align: top; }
  .RadComboBox select {
    margin-bottom: 0;
    padding: 0;
    height: 22px; }
  .RadComboBox  ll,
  .RadComboBox .rcbArrowCell {
    padding: 0;
    border-width: 0;
    border-style: solid;
    background-color: transparent;
    background-repeat: no-repeat; }
  .RadComboBox table td.rcbInputCell {
    padding:0 !important;
    border: 1px solid #666666 !important; }
  .RadComboBox table td.rcbArrowCell {
    padding: 0;
    border: 1px solid #666666; }
  .RadComboBox .rcbInputCell {
    padding-right: 4px;
    padding-left: 5px;
    width: 100%;
    height: 20px !important;
    line-height: 20px !important;
    text-align: left !important;
    vertical-align: middle !important; }
  .RadComboBox .rcbInputCellLeft {
    background-position: 0 0; }
  .RadComboBox .rcbInputCellRight {
    background-position: 100% 0; }
  .RadComboBox input,
  .RadComboBox input:focus {
    box-shadow: none;
    outline: none;
    -webkit-appearance: none; }
  .RadComboBox input.rcbInput,.RadComboBox input.rcbInput:disabled {
    margin: 0;
    padding: 2px 0 1px;
    height: 22px;
    width: 100%;
    border-width: 0;
    outline: 0;
    color: inherit;
    background-color: transparent;
    vertical-align: top;
    opacity: 1;
}
  .RadComboBox .rcbReadOnly .rcbInput,
  .RadComboBox .rcbDisabled .rcbInput {
    cursor: default; }
  .RadComboBox .rcbEmptyMessage {
    font-style: italic;color:transparent; }
  .RadComboBox .rcbArrowCell {
    width: 18px; }
    .RadComboBox .rcbArrowCell a {
      width: 18px;
      height: 22px;
      position: relative;
      outline: 0;
      font-size: 0;
      line-height: 1px;
      text-decoration: none;
      text-indent: 9999px;
      display: block;
      overflow: hidden;
      cursor: default;
      *zoom: 1; }
  .RadComboBox .rcbArrowCellLeft {
    background-position: 0 -176px; }
  .RadComboBox .rcbArrowCellRight {
    background-position: -307px -176px }
  .RadComboBox .rcbArrowCellHidden,
  .RadComboBox .rcbArrowCellHidden a {
    width: 3px; }
  .RadComboBox .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 0; }
  .RadComboBox .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% 0; }
  .RadComboBox .rcbHovered .rcbInputCellLeft {
    background-position: 0 -22px; }
  .RadComboBox .rcbHovered .rcbInputCellRight {
    background-position: 100% -22px; }
  .RadComboBox .rcbHovered .rcbArrowCellLeft {
    background-position: -36px -176px; }
  .RadComboBox .rcbHovered .rcbArrowCellRight {
    background-position: -307px -176px; }
  .RadComboBox .rcbHovered .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -22px; }
  .RadComboBox .rcbHovered .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -22px; }
  .RadComboBox .rcbFocused .rcbInputCellLeft {
    background: #ffffff !important; }
  .RadComboBox .rcbFocused .rcbInputCellRight {
    background-position: 100% -44px; }
  .RadComboBox .rcbFocused .rcbArrowCellLeft {
    background-position: -72px -176px; }
  .RadComboBox .rcbFocused .rcbArrowCellRight {
    background-position: -307px -176px; }
  .RadComboBox .rcbFocused .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -44px; }
  .RadComboBox .rcbFocused .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -44px; }
  .RadComboBox .rcbDisabled {
    filter: alpha(opacity=50);
  }
    .RadComboBox .rcbDisabled .rcbInputCellLeft {
      background-position: 0 -66px; }
    .RadComboBox .rcbDisabled .rcbInputCellRight {
      background-position: 100% -66px; }
    .RadComboBox .rcbDisabled .rcbArrowCellLeft {
      background-position: -108px -176px; }
    .RadComboBox .rcbDisabled .rcbArrowCellRight {
      background-position: -307px -176px; }
    .RadComboBox .rcbDisabled .rcbArrowCellLeft.rcbArrowCellHidden {
      background-position: 0 -66px; }
    .RadComboBox .rcbDisabled .rcbArrowCellRight.rcbArrowCellHidden {
      background-position: 100% -66px; }
  .RadComboBox .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -88px; }
  .RadComboBox .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -88px; }
  .RadComboBox .rcbReadOnly .rcbArrowCellLeft {
    background-position: -144px -176px; }
  .RadComboBox .rcbReadOnly .rcbArrowCellRight {
    background-position: -307px -176px; }
  .RadComboBox .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -88px; }
  .RadComboBox .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -88px; }
  .RadComboBox .rcbHovered .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -110px; }
  .RadComboBox .rcbHovered .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -110px; }
  .RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellLeft {
    background-position: -180px -176px; }
  .RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellRight {
    background-position: -307px -176px; }
  .RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -110px; }
  .RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -110px; }
  .RadComboBox .rcbFocused .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -132px; }
  .RadComboBox .rcbFocused .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -132px; }
  .RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellLeft {
    background-position: -216px -176px; }
  .RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellRight {
    background-position: -307px -176px; }
  .RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -132px; }
  .RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -132px; }
  .RadComboBox .rcbDisabled .rcbReadOnly .rcbInputCellLeft {
    background-position: 0 -154px; }
  .RadComboBox .rcbDisabled .rcbReadOnly .rcbInputCellRight {
    background-position: 100% -154px; }
  .RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellLeft {
    background-position: -252px -176px; }
  .RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellRight {
    background-position: -270px -176px; }
  .RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellLeft.rcbArrowCellHidden {
    background-position: 0 -154px; }
  .RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellRight.rcbArrowCellHidden {
    background-position: 100% -154px; }
  .RadComboBox .rcbLabel {
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
    line-height: 22px;
    *zoom: 1; }

.RadComboBox_rtl {
  text-align: right; }
  .RadComboBox_rtl .rcbInputCell {
    padding-right: 5px;
    padding-left: 4px; }
  .RadComboBox_rtl .rcbInput {
    text-align: right; }
  .RadComboBox_rtl .rcbLabel {
    *margin-right: 5px;
    padding: 0 0 0 10px;
    text-align: right; }

.rcbSlide {
  display: none;
  position: absolute;
  overflow: hidden; }

.RadComboBoxDropDown {
  border-width: 1px;
  border-style: solid;
  text-align: left;
  cursor: default;
  position: relative; }
  .RadComboBoxDropDown input[type="checkbox"] {
    margin: 0 3px 3px 4px;
    *margin: 0;
    padding: 0; }
  .RadComboBoxDropDown label {
    line-height: inherit;
    font-weight: inherit; }
  .RadComboBoxDropDown.rcbAutoWidth {
    min-width: 158px; }
    .RadComboBoxDropDown.rcbAutoWidth .rcbList {
      white-space: nowrap; }
      @media \0screen {
        .RadComboBoxDropDown.rcbAutoWidth .rcbList {
          min-width: 148px; } }
  * + html .RadComboBoxDropDown.rcbAutoWidthResizer .rcbScroll {
    overflow: scroll !important;
    overflow-x: visible !important; }
  .RadComboBoxDropDown .rcbScroll {
    position: relative;
    overflow: auto; }
  .RadComboBoxDropDown .rcbHeader,
  .RadComboBoxDropDown .rcbFooter {
    padding: 2px 5px;
    border-width: 0;
    border-style: solid; }
  .RadComboBoxDropDown .rcbHeader {
    margin-bottom: 1px;
    border-bottom-width: 1px; }
  .RadComboBoxDropDown .rcbFooter {
    margin-top: 1px;
    border-top-width: 1px; }
  .RadComboBoxDropDown .rcbList {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative; }
  .RadComboBoxDropDown .rcbList > li {
    *zoom: 1; }
    .RadComboBoxDropDown .rcbList > li:after {
      content: "";
      height: 0;
      clear: both;
      display: block; }
  .RadComboBoxDropDown .rcbItem,
  .RadComboBoxDropDown .rcbHovered,
  .RadComboBoxDropDown .rcbDisabled,
  .RadComboBoxDropDown .rcbLoading,
  .RadComboBoxDropDown .rcbCheckAllItems,
  .RadComboBoxDropDown .rcbCheckAllItemsHovered {
    padding: 2px 5px;
    min-height: 13px;
    background-repeat: repeat-x; 
  }
    .RadComboBoxDropDown .rcbItem > label,
    .RadComboBoxDropDown .rcbHovered > label,
    .RadComboBoxDropDown .rcbDisabled > label,
    .RadComboBoxDropDown .rcbLoading > label,
    .RadComboBoxDropDown .rcbCheckAllItems > label,
    .RadComboBoxDropDown .rcbCheckAllItemsHovered > label {
      margin: -2px -5px;
      padding: 2px 5px;
      display: block; }
  .RadComboBoxDropDown .rcbNoWrap .rcbItem,
  .RadComboBoxDropDown .rcbNoWrap .rcbHovered,
  .RadComboBoxDropDown .rcbNoWrap .rcbDisabled,
  .RadComboBoxDropDown .rcbNoWrap .rcbLoading {
    white-space: nowrap; }
  .RadComboBoxDropDown .rcbDisabled {
    cursor: default;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  .RadComboBoxDropDown .rcbLoading {
    text-align: center; }
  .RadComboBoxDropDown em {
    font-style: normal;
    font-weight: bold; }
  .RadComboBoxDropDown .rcbCheckBox,
  .RadComboBoxDropDown .rcbCheckAllItemsCheckBox {
    vertical-align: middle; }
  .RadComboBoxDropDown .rcbImage {
    margin: 0 6px 2px 0;
    vertical-align: middle; }
  .RadComboBoxDropDown .rcbMoreResults {
    margin: 1px 0 0 0;
    padding: 2px 5px;
    border-width: 1px 0 0 0;
    border-style: solid;
    text-align: center;
    cursor: pointer;
     border-color: RGB(115,150,170) ;
    color: #fff ;
    background: RGB(115,150,170) ;
  }
  .RadComboBoxDropDown .rcbMoreResults a {
      color:#fff;
    margin: 0 2px;
    width: 0;
    height: 0;
    border-width: 4px;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer; }
  .RadComboBoxDropDown .rcbSeparator {
    margin-top: 5px; }
  .RadComboBoxDropDown .rcbSeparatedList .rcbSeparator {
    padding-left: 5px; }
  .RadComboBoxDropDown .rcbSeparatedList .rcbItem,
  .RadComboBoxDropDown .rcbSeparatedList .rcbHovered,
  .RadComboBoxDropDown .rcbSeparatedList .rcbDisabled,
  .RadComboBoxDropDown .rcbSeparatedList .rcbLoading {
    padding-left: 1em; }

.RadComboBoxDropDown_rtl {
  text-align: right;
  direction: rtl; }
  .RadComboBoxDropDown_rtl .rcbImage {
    margin: 0 0 2px 6px; }
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbSeparator {
    padding-right: 5px; }
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbItem,
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbHovered,
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbDisabled,
  .RadComboBoxDropDown_rtl .rcbSeparatedList .rcbLoading {
    padding-right: 1em; }

.RadComboBoxWithLabel {
  zoom: normal; }
  .RadComboBoxWithLabel table {
    *margin-right: 5px;
    display: inline-block;
    *display: inline;
    *zoom: 1; }

  .RadComboBox .rcbReadOnly .rcbInputCellLeft, .RadComboBox .rcbReadOnly .rcbInputCellLeft, .RadComboBox .rcbInputCellLeft{
      background:white !important;
  }
  .RadComboBox .rcbHovered .rcbReadOnly .rcbInputCellLeft, .RadComboBox .rcbFocused .rcbReadOnly .rcbInputCellLeft, .RadComboBox .rcbFocused .rcbInputCellLeft{
      background:white !important;
  }

  .RadComboBox .rcbDisabled .rcbInputCellLeft, 
  .RadComboBox .rcbDisabled .rcbReadOnly .rcbInputCellLeft, 
  .RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellRight, 
  .RadComboBox .rcbDisabled .rcbArrowCellRight {
    background-color: #EDEDED;
}
.RadComboBox_Default td.rcbInputCellLeft {
    background-position: 0px 44px !important;
}
/*.RadComboBox_Default .rcbInputCellLeft {
    background-image:none !important;
}*/
.RadGrid_Default .rgMasterTable,
.RadGrid_Default .rgDetailTable,
.RadGrid_Default .rgGroupPanel table,
.RadGrid_Default .rgCommandRow table,
.RadGrid_Default .rgEditForm table,
.RadGrid_Default .rgPager table {
    line-height:16px !important;
}
.RadComboBox_Default, .RadComboBox_Default .rcbInput, .RadComboBoxDropDown_Default {
    line-height:16px !important;
}
.RadComboBox_Default table {
    width: 100%;
    border-width: 0;
    border-style: solid;
    border-collapse: collapse;
    vertical-align: top;
        
}
.RadComboBox_Default .rcbInputCell .rcbInput {
    margin:0px !important;    
}