/* <RadMenu / Office2007> */

.RadMenu_PM .rmRootGroup,
.RadMenu_PM .rmLink,
.RadMenu_PM .rmText,
.RadMenu_PM .rmLeftArrow,
.RadMenu_PM .rmRightArrow,
.RadMenu_PM .rmTopArrow,
.RadMenu_PM .rmBottomArrow
{
	background-image: url('Menu/rmSprite.png');
	background-color: transparent;
}

.RadMenu_PM .rmRootGroup
{
	border: 1px solid #688caf;
	background-repeat: repeat-x;
	background-position: 0 -408px;
	background-color: #BBD9FF;
}

/* <Root items> */

.RadMenu_PM,
.RadMenu_PM .rmLink
{
	font: normal 11px/21px "Segoe UI", Arial, sans-serif;
	color: #00156e;
	text-decoration: none;
}

.RadMenu_PM .rmLink,
.RadMenu_PM .rmText
{
	background-position: 0 1050px;
	background-repeat: no-repeat;
}

.RadMenu_PM .rmLink:hover,
.RadMenu_PM .rmFocused
{
	color: #000;
	background-position: 0 -72px;
}

.RadMenu_PM .rmLink:hover .rmText,
.RadMenu_PM .rmFocused .rmText
{
	background-position: 100% -96px;
}

.RadMenu_PM .rmExpanded,
.RadMenu_PM .rmExpanded:hover
{
	color: #000;
	background-position: 0 -120px;
}

.RadMenu_PM .rmExpanded .rmText,
.RadMenu_PM .rmExpanded:hover .rmText
{
	background-position: 100% -144px;
}

.RadMenu_PM .rmDisabled,
.RadMenu_PM .rmDisabled:hover
{
	color: #8d8d8d;
}

.RadMenu_PM .rmDisabled:hover,
.RadMenu_PM .rmDisabled:hover .rmText
{
	background: none;
}

/* </Root items> */


/* <Submenu items> */

.RadMenu_PM .rmGroup,
.RadMenu_PM .rmGroup .rmVertical
{
	border: 1px solid #868686;
	background: #fff url('Menu/rmVSprite.png') repeat-y -1px 0;
}

.RadMenu_PM .rmSlide .rmScrollWrap
{
	background-image: none;
}

.RadMenu_PM_rtl .rmGroup,
.RadMenu_PM_rtl .rmGroup .rmVertical
{
	background-position: 101% 0;
}

.RadMenu_PM .rmRootGroup .rmHorizontal
{
	background-image: none;
}

.RadMenu_PM .rmScrollWrap .rmVertical
{
	border: 0;
}

.RadMenu_PM .rmGroup .rmFirst,
.RadMenu_PM .rmGroup .rmLast
{
	background: none;
}

.RadMenu_PM .rmGroup .rmLast
{
	padding-bottom: 1px;
}

.RadMenu_PM .rmGroup .rmLink:hover,
.RadMenu_PM .rmGroup .rmFocused,
.RadMenu_PM .rmGroup .rmExpanded
{
	background-position: 0 -168px;
}

.RadMenu_PM .rmGroup .rmLink:hover .rmText,
.RadMenu_PM .rmGroup .rmFocused .rmText,
.RadMenu_PM .rmGroup .rmExpanded .rmText
{
	background-position: 100% -192px;
}

/* <expand arrows> */

.RadMenu_PM .rmGroup .rmExpandRight,
.RadMenu_PM .rmGroup .rmExpandDown
{
	background-position: 100% -216px;
}

.RadMenu_PM .rmGroup .rmLink:hover .rmExpandRight,
.RadMenu_PM .rmGroup .rmFocused .rmExpandRight,
.RadMenu_PM .rmGroup .rmExpanded .rmExpandRight,
.RadMenu_PM .rmGroup .rmLink:hover .rmExpandDown,
.RadMenu_PM .rmGroup .rmFocused .rmExpandDown,
.RadMenu_PM .rmGroup .rmExpanded .rmExpandDown
{
	background-position: 100% -240px;
}

.RadMenu_PM .rmGroup .rmDisabled:hover .rmExpandRight,
.RadMenu_PM .rmGroup .rmDisabled:hover .rmExpandDown
{
	background-image: url('Menu/rmSprite.png');
	background-position: 100% -216px;
}

/* </expand arrows> */

/* <rtl> */

.RadMenu_PM_rtl .rmGroup .rmLink:hover,
.RadMenu_PM_rtl .rmGroup .rmFocused,
.RadMenu_PM_rtl .rmGroup .rmExpanded
{
	background-position: 100% -264px;
}

.RadMenu_PM_rtl .rmGroup .rmLink:hover .rmText,
.RadMenu_PM_rtl .rmGroup .rmFocused .rmText,
.RadMenu_PM_rtl .rmGroup .rmExpanded .rmText
{
	background-position: 0 -288px;
}

.RadMenu_PM_rtl .rmGroup .rmExpandLeft
{
	background-position: 0 -312px;
}

.RadMenu_PM_rtl .rmGroup .rmLink:hover .rmExpandLeft,
.RadMenu_PM_rtl .rmGroup .rmFocused .rmExpandLeft,
.RadMenu_PM_rtl .rmGroup .rmExpanded .rmExpandLeft
{
	background-position: 0 -336px;
}

/* </rtl> */

/* </Submenu items> */

/* <Submenu offsets (Office2007 - specific, overlapping submenus)> */

.RadMenu_PM .rmSlide
{
	margin: -3px 0 0 3px;
}

.RadMenu_PM .rmVertical .rmSlide,
.RadMenu_PM .rmSlide .rmSlide,
.RadMenu_PM_Context .rmGroup .rmSlide
{
	margin: 0 0 0 -5px;
}

.RadMenu_PM_rtl .rmSlide
{
	margin: -3px 0 0 -3px;
}

.RadMenu_PM_rtl .rmVertical .rmSlide,
.RadMenu_PM_rtl .rmSlide .rmSlide,
.RadMenu_PM_Context_rtl .rmGroup .rmSlide
{
	margin: 0 0 0 5px;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_PM .rmLeftArrow,
.RadMenu_PM .rmRightArrow
{
	background-color: #f6f6e8;
}

/* </Submenu offsets> */

/* <Scrolling arrows> */

.RadMenu_PM .rmLeftArrow,
.RadMenu_PM .rmRightArrow
{
	background-color: #E0E5F5;
}

.RadMenu_PM .rmLeftArrow { background-position: -8px -312px; border-right: 1px solid #B7BDCD; }
.RadMenu_PM .rmRightArrow { background-position: -482px -216px; border-left: 1px solid #B7BDCD; }

.RadMenu_PM .rmTopArrow,
.RadMenu_PM .rmBottomArrow,
.RadMenu_PM .rmGroup .rmLeftArrow,
.RadMenu_PM .rmGroup .rmRightArrow
{
	background-color: #f0f0f0;
}

.RadMenu_PM .rmTopArrow { background-position: 50% -367px; border-bottom: 1px solid #B7BDCD; }
.RadMenu_PM .rmBottomArrow { background-position: 50% -391px; border-top: 1px solid #B7BDCD; }

/* </Scrolling arrows> */

/* <Separators> */

.RadMenu_PM .rmVertical .rmSeparator .rmText,
.RadMenu_PM .rmHorizontal .rmVertical .rmSeparator .rmText
{
	background-position: 0 -406px;
}

.RadMenu_PM .rmHorizontal .rmSeparator .rmText,
.RadMenu_PM .rmVertical .rmHorizontal .rmSeparator .rmText
{
	background-position: 0 -386px;
}

.AssetManagement
{
  background-image: url(../Images/Menu/MenuAll.gif);
  background-position : 48px;
  
}

/* </Separators> */

/* </RadMenu / Office2007> */