.RadTreeView_Default.WhitePlusMinus .rtPlus, .RadTreeView_Default.WhitePlusMinus .rtMinus {
    background-image: url('../Images/PlusMinusWhite.png');
}

.RadTreeView .rtUL {
    margin: 0;
    padding: 0px;
    background: none;
    list-style: none;
}

.RadTreeView .rtLines .rtFirst {
    background-image: url('Common/TreeView/rtvFirstNodeSpan.png');
    background-position: 0 1.273em;
    background-repeat: no-repeat;
}

.RadTreeView {
    white-space: nowrap;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

    .RadTreeView .rtLines .rtTop,
    .RadTreeView .rtLines .rtMid,
    .RadTreeView .rtLines .rtBot {
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    .RadTreeView .rtTop,
    .RadTreeView .rtMid,
    .RadTreeView .rtBot {
        padding: 1px 0 1px 20px;
    }

    .RadTreeView .rtSp, .RadTreeView .rtIn, .RadTreeView .rtImg, .RadTreeView .rtChk,
    .RadTreeView .rtChecked,
    .RadTreeView .rtUnchecked,
    .RadTreeView .rtIndeterminate, .RadTreeView .rtLoadingIcon {
        display: inline-block;
        vertical-align: middle;
    }

    .RadTreeView .rtPlus {
        background-position: 0 0;
    }

    .RadTreeView .rtPlus,
    .RadTreeView .rtMinus {
        margin: 5px 6px 0 -17px;
        padding: 0;
        width: 11px;
        height: 11px;
        background-repeat: no-repeat;
        font-size: 0;
        display: inline-block;
        vertical-align: top;
    }

.trvFolder .rtIn, .trvFile .rtIn, .trvUser .rtIn, .trvEquipment .rtIn, .trvDocument .rtIn, .trvSharedFolder .rtIn, .trvPBSProject .rtIn,
.trvProject .rtIn, .trvProperty .rtIn, .trvBuilding .rtIn, .trvFloor .rtIn, .trvSpace .rtIn, .trvProject .rtIn, .trvUserGroup .rtIn,
.trvPortfolio .rtIn, .trvInventory .rtIn, .trvPorgramLocation .rtIn, .trvPorgramProject .rtIn, .trvPBSPortfolio .rtIn, .trvPBSFolder .rtIn, .trvCustomFolder .rtIn, .trvCustomReport .rtIn, .trvReportnotTranslated .rtIn, .trvInbox .rtIn, .trvSent .rtIn, .trvSubscribe .rtIn, .trvGate .rtIn, .trvCheck .rtIn, .trvBranch .rtIn, .trvLayout .rtIn, .trvTab .rtIn {
    margin-left: 16px !important;
}

.RadTreeView .rtIn {
    margin-left: 1px;
    padding: 2px 2px 3px;
    *padding: 2px;
    border: 1px solid transparent;
    background-position: 0 0;
    background-repeat: repeat-x;
    text-decoration: none;
    display: inline;
}

.RadTreeView .rtSp, .RadTreeView .rtIn, .RadTreeView .rtImg, .RadTreeView .rtChk,
.RadTreeView .rtChecked,
.RadTreeView .rtUnchecked,
.RadTreeView .rtIndeterminate, .RadTreeView .rtLoadingIcon {
    display: inline-block;
    vertical-align: middle;
}

.ReportManagerBar {
    background-image: url('../Images/ResizeBarHorizontalSprites.gif');
    background-color: #000;
    border-color: #8a8a8a;
    background-repeat: repeat-y;
    background-position: 0px 0;
    padding: 0px;
    font-size: 1px;
    line-height: 1px;
    text-align: center;
    vertical-align: middle;
    border-width: 1px;
    border-style: solid;
    height: calc(100vh - 102px);
}

.MobileAssetExplorerBar {
    position: fixed;
    left: 495px !important;
    height: calc(100vh - 132px) !important;
}

@media screen and (max-width:880px) {
    .MobileAssetExplorerBar {
        position: fixed;
        left: 295px !important;
        height: calc(100vh - 167px) !important;
    }

    .MobileAssetExplorerBarClosed {
        position: fixed;
        left: 200px !important;
        height: calc(100vh - 167px) !important;
    }
    .ReportManagerTree{
        height:calc(100vh - 191px) !important;
    }
    .RadGridDiv{
        height:calc(100vh - 167px) !important
    }
}

.MobileAssetExplorerBarClosed {
    position: fixed;
    left: 200px !important;
    height: calc(100vh - 132px) !important;
}

.MobileAsserExplorerbutton {
    margin-top: calc(100vh /2) !important;
}

.AsserExplorerbutton {
    width: 4px !important;
    background-image: url('../Images/ExpandCollapseBarsCommands.gif') !important;
    background-position: 0 0 !important;
    line-height: 27px;
    height: 27px !important;
    background-color: #FAFAFA;
    margin: 0 auto;
    display: block;
    cursor: POINTER;
    border: 0 none;
    font-size: 1px;
}

.HideAssetMenu {
    background-image: url('Skins/Office2007/Images/2007Large.png');
    background-position: -288px 0px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    margin: 0px 4px 2px 0px;
}

.ShowAssetMenu {
    background-image: url('Skins/Office2007/Images/2007Large.png');
    background-position: -312px 0px;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    margin: 0px 4px 2px 0px;
}

.MobileAssetTree {
    /*position: fixed;*/
    /*z-index: 9999;*/
    vertical-align: top;
    width: 290px;
    background-color: #666666;
    color: #ffffff;
}

.ReportManagerTree {
    height: calc(100vh - 105px);
}

.DarkTree {
    background-color: #666666;
    color: #ffffff;
    left: 200px;
    padding-left: 7px;
}

.ShowMenuTree {
    /*padding-left: 292px;*/
    width: calc(100% - 100px);
}

.HideMenuTree {
    padding-left: 8px;
    width: calc(100% - 100px);
}

.ReportManagerTree .trvFolder .rtSp {
    background-image: url('../Images/TreeView/16White.png') !important;
    width: 16px;
    height: 22px;
    margin-left: -3px;
    margin-right: -14px;
    background-position: -1568px 0px;
    background-repeat: no-repeat;
    margin-top: 2px;
}

.ReportManagerTree .trvFile .rtSp {
    background-image: url('../Images/TreeView/16White.png') !important;
    width: 16px;
    height: 22px;
    margin-left: -3px;
    margin-right: -14px;
    background-position: -272px 0px;
    background-repeat: no-repeat;
    margin-top: 2px;
}

.RadTreeView_Default .rtSelected .rtIn,
.RadTreeView_Default .rtHover .rtIn {
    background: #7396AA;
    color: #FFFFFF;
    border-color: #7396AA;
}

.RadTreeView .rtUL .rtUL {
    padding-left: 20px;
}

@media screen and (max-width: 880px) and (min-width: 320px) {
    .MobileAssetTree {
        position: fixed;
        vertical-align: top;
        background-color: #666;
    }
}

@media screen and (max-width: 980px) and (min-width: 320px) {
    .GridCmdReset {
        display: block;
    }

    .GridCmdTranslate {
        float: left;
    }
}

@media screen and (max-width: 700px) and (min-width: 320px) {
    .GridCmdResethiddentree {
        display: block;
    }

    .GridCmdTranslatehiddentree {
        float: left;
    }
}

@media screen and (max-width: 880px) and (min-width: 320px) {

   

    .MobileAssetExplorerBarClosed {
        left: 0 !important;
    }
}
