/*******************grid**********************************************/

.RadGrid .rgMasterTable,
.RadGrid .rgDetailTable,
.RadGrid .rgEditForm table {
    border-collapse: separate;
    border-spacing: 0;
    font-size:12px;
}

.RadGrid .rgRow,
.RadGrid .rgAltRow,
.RadGrid .rgHeader,
.RadGrid .rgResizeCol,
.RadGrid .rgPager,
.RadGrid .rgGroupPanel,
.RadGrid .rgGroupHeader {
    cursor: default;
}

.RadGrid input {
    line-height: normal;
}

    .RadGrid input[type="image"] {
        cursor: pointer;
    }

.RadGrid .rgRow > td,
.RadGrid .rgAltRow > td,
.RadGrid .rgEditRow > td,
.RadGrid .rgFooter > td,
.RadGrid .rgFilterRow > td,
.RadGrid .rgHeader,
.RadGrid .rgResizeCol,
.RadGrid .rgGroupHeader td {
    padding-left: 7px;
    padding-right: 7px;
}

.RadGrid_Default .rgEditForm a {
    color: #000;
}

.RadGrid .rgClipCells .rgHeader,
.RadGrid .rgClipCells .rgFilterRow > td,
.RadGrid .rgClipCells .rgRow > td,
.RadGrid .rgClipCells .rgAltRow > td,
.RadGrid .rgClipCells .rgEditRow > td,
.RadGrid .rgClipCells .rgFooter > td {
    overflow: hidden;
}

.RadGrid .rgEditRow > td [type="image"] {
    vertical-align: middle;
}

.RadGrid .rgEditForm .rgHeader {
    box-sizing: content-box;
}

.RadGrid .rgSave,
.RadGrid .rgAdd,
.RadGrid .rgRefresh,
.RadGrid .rgEdit,
.RadGrid .rgDel,
.RadGrid .rgDrag,
.RadGrid .rgFilter,
.RadGrid .rgPagePrev,
.RadGrid .rgPageNext,
.RadGrid .rgPageFirst,
.RadGrid .rgPageLast,
.RadGrid .rgExpand,
.RadGrid .rgCollapse,
.RadGrid .rgSortAsc,
.RadGrid .rgSortDesc,
.RadGrid .rgUpdate,
.RadGrid .rgCancel,
.RadGrid .rgUngroup,
.RadGrid .rgExpXLS,
.RadGrid .rgExpDOC,
.RadGrid .rgExpPDF,
.RadGrid .rgExpCSV {
    width: 16px;
    height: 16px;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    vertical-align: middle;
    font-size: 1px;
    cursor: pointer;
}

.RadGrid .rgBatchChanged {
    background-image: url('Common/Grid/dirty.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.RadGrid .rgDeletedRow,
.RadGrid .rgDeletedRow td {
    background: transparent !important;
    background-position: -744px 0px;
}

    .RadGrid .rgDeletedRow .rgIcon,
    .RadGrid .rgDeletedRow .rgButtonText {
        vertical-align: middle;
    }

    .RadGrid .rgDeletedRow .rgBatchUndoDeleteButton {
        cursor: pointer;
    }

.RadGrid .rgBatchOverlay {
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
}

.RadGrid .rgBatchUndoDeleteButton {
    position: absolute;
    top: 50%;
}

    .RadGrid .rgBatchUndoDeleteButton:before {
        content: '';
        display: inline-block;
        width: 22px;
        height: 22px;
    }

.RadGrid .rgSave {
    background-position: 0px -1825px;
    height: 18px;
    width: 18px;
}

.RadGrid .rgSave,
.RadGrid .rgCancel {
    margin: 0 3px 0 10px;
}

.RadGrid .rgBatchContainer {
    max-width: 90%;
}

.RadGrid .rgGroupItem input, .RadGrid .rgCommandRow img, .RadGrid .rgCommandRow a, .RadGrid .rgHeader input {
    vertical-align: middle;
}

.RadGrid .rgFilterRow img, .RadGrid .rgFilterRow input {
    vertical-align: middle;
}

.RadGrid .rgFilterRow .RadAutoCompleteBox {
    display: inline-block;
    vertical-align: middle;
}

* + html .RadGrid .rgFilterRow .RadAutoCompleteBox {
    display: inline;
}

RadGrid input .RadGrid .rgPager img {
    vertical-align: middle;
}

.RadGrid .rgRow > td,
.RadGrid .rgAltRow > td,
.RadGrid .rgEditRow > td,
.RadGrid .rgFooter > td {
    padding-top: 4px;
    padding-bottom: 3px;
    /*color: #666666 !important;*/
}

.rgFooter {
    background: #999999 !important;
    color: #FFF !important;
}

.RadGrid table.rgMasterTable tr .rgDragCol {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.RadGrid .rgDrag {
    width: 15px;
    height: 15px;
    cursor: url('Common/grab.cur'), move;
}

.RadGrid .rgPager .rgStatus {
    width: 35px;
    padding: 3px 0 2px;
}

.RadGrid .rgStatus div {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border: 0;
    margin: 0 auto;
    padding: 0;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    text-indent: -2222px;
}

.RadGrid .rgPager > td {
    padding: 0;
}

.RadGrid td.rgPagerCell {
    border: 0;
    padding: 5px 0 4px;
}

.RadGrid .rgWrap {
    float: left;
    padding: 0 10px;
    line-height: 22px;
    white-space: nowrap;
}

.RadGrid .rgArrPart1 {
    padding-right: 0;
}

.RadGrid .rgArrPart2 {
    padding-left: 0;
}

.RadGrid .rgInfoPart {
    float: right;
}

    .RadGrid .rgInfoPart strong {
        font-weight: normal;
    }

.RadGrid .rgArrPart1 img, .RadGrid .rgArrPart2 img {
    border: 0;
    margin: 0 1px;
}

.RadGrid .rgPageFirst, .RadGrid .rgPagePrev, .RadGrid .rgPageNext, .RadGrid .rgPageLast {
    width: 22px;
    height: 22px;
    vertical-align: top;
}

.RadGrid .NextPrev .rgPageFirst, .RadGrid .NextPrev .rgPagePrev, .RadGrid .NextPrev .rgPageNext, .RadGrid .NextPrev .rgPageLast {
    vertical-align: middle;
}

.RadGrid .rgPageFirst,
.RadGrid .rgPagePrev {
    margin-right: 1px;
}

.RadGrid .rgPageNext, .RadGrid .rgPageLast {
    margin-left: 1px;
}

.RadGrid .rgPager .rgPagerButton {
    box-sizing: border-box;
    display: inline-block;
    height: 22px;
    border-style: solid;
    border-width: 1px;
    margin: 0 14px 0 0;
    padding: 0 4px 2px;
    font-size: 12px;
    line-height: 18px;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
}

.RadGrid .rgPager a.rgPagerButton {
    padding: 0 7px 2px;
}

.RadGrid .rgNumPart {
    padding: 0;
}

.RadGrid .NumericPages .rgNumPart {
    padding: 0 10px;
}

.RadGrid .rgNumPart a {
    float: left;
    line-height: 22px;
    margin: 0;
    padding: 0 5px 0 0;
    text-decoration: none;
}

.RadGrid .rgNumPart span {
    float: left;
    padding: 0 0 0 5px;
    font-size: 12px !important;
    color: #000 !important;
}

.RadGrid .rgNumPart a:hover span {
    cursor: pointer;
}

.RadGrid .rgNumPart a.rgCurrentPage {
    background: white;
    height: 24px !important;
    border: 1px solid black;
}

    .RadGrid .rgNumPart a.rgCurrentPage:hover, .RadGrid .rgNumPart a.rgCurrentPage span, .RadGrid .rgNumPart a.rgCurrentPage:hover span {
    }

.RadGrid .NextPrevNumericAndAdvanced .rgAdvPart {
    float: none;
    text-align: center;
}

.RadGrid .rgPager .RadSlider {
    float: left;
    margin: 0 10px 0 0;
}

.RadGrid .rgPagerLabel {
    margin: 0 4px 0 0;
    vertical-align: top;
    text-transform: uppercase;
}

.RadGrid .rgPager .RadComboBox {
    margin: 0 4px 0 0;
    vertical-align: top;
}

.RadGrid .rgPager .RadInput {
    margin: 0 4px 0 0;
    vertical-align: top;
    display: inline-block;
}

.RadGrid .rgPager .riTextBox {
    height: 15px;
}

.RadGrid div.rgHeaderWrapper {
    border-left: 0 none;
    border-right: 0 none;
    padding: 0;
    overflow: hidden;
}

.RadGrid .rgFooterWrapper {
    border-top-style: solid;
    overflow: hidden;
}

.RadGrid .rgPrev,
.RadGrid .rgNext {
    display: inline-block;
    text-align: center;
    border-width: 1px;
    border-style: solid;
}

    .RadGrid .rgPrev span,
    .RadGrid .rgNext span {
        display: inline-block;
        vertical-align: baseline;
    }

    * + html .RadGrid .rgPrev span,
    * + html .RadGrid .rgNext span {
        vertical-align: middle;
    }

.RadGrid .rgDisabled {
    opacity: .5;
    cursor: default;
}

.rgCellSelectorArea {
    position: absolute;
    z-index: 1000100;
    opacity: 0.1;
    -moz-opacity: 0.1;
    filter: alpha(opacity=10);
}

.rgNoScrollImage div.rgHeaderDiv {
    background-image: none;
}

.rgMultiHeader {
    overflow: hidden;
}

    .rgMultiHeader .rgHeaderDiv {
        margin-left: -1px;
    }

.rgHeaderWrapper .rgHeaderDiv {
    margin-bottom: -1px;
    margin-right: -1px;
    /*border-right: 1px solid transparent;*/
}

.rgFooterWrapper .rgFooterDiv {
    margin-top: -1px;
}

.RadGrid .rgHeader, .RadGrid th.rgResizeCol {
    padding-top: 5px;
    padding-bottom: 4px;
    text-align: left;
    font-weight: normal;
}

    .RadGrid .rgHeader a {
        text-decoration: none;
    }

.RadGrid .rgCheck input {
    height: 15px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    cursor: default;
}

.RadGrid .rgRotateHeader {
    vertical-align: top;
}

    .RadGrid .rgRotateHeader a,
    .RadGrid .rgRotateHeader span {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 11px 11px;
        -moz-transform-origin: 11px 11px;
        -o-transform-origin: 11px 11px;
        transform-origin: 11px 11px;
        writing-mode: tb-rl;
        /* for ie */
        display: inline-block;
    }

._Telerik_IE9 .RadGrid .rgRotateHeader a,
._Telerik_IE9 .RadGrid .rgRotateHeader span {
    transform: rotate(0);
}

.rfdCheckbox .RadGrid .rgCheck input {
    height: 20px;
}

.rgPager .riSingle .riTextBox {
    height: 22px;
}

* + html .RadGrid .rgPager .RadComboBox {
    margin-top: -1px;
}

.RadGrid .rgPagerTextBox {
    text-align: center;
}

.GridReorderTop, .GridReorderBottom {
    width: 9px;
    height: 9px;
    margin: 0 0 0 -5px;
    padding: 0;
}

.RadGrid .rgFilterRow > td {
    padding-top: 4px;
    padding-bottom: 7px;
    background: #ededed !important;
}

.RadGrid .rgFilter {
    width: 16px;
    height: 16px;
    margin: 1px 0 0 4px;
    background-image: url('../Images/ResponsiveIcons/16Enabled.png');
    margin: 1px 0px 0px 4px;
    background-position: -1616px 0px;
}

.RadGrid .rgFilterBox {
    border-width: 1px;
    border-style: solid;
    margin: 0;
    height: 15px;
    padding: 2px 1px 3px;
    font-size: 12px;
    vertical-align: middle;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.rgFilterRow .riSingle .riTextBox {
    height: 22px;
}

.RadGrid .rgFilterRow .RadInput, .RadGrid .rgFilterRow .RadRating {
    display: inline-block;
    vertical-align: middle;
}

* + html .RadGrid .rgFilterRow .RadRating {
    display: inline;
    zoom: 1;
}

.GridContextMenu li.rgFilterListMenu,
.GridContextMenu li.rgFilterMenu {
    max-width: 200px;
    height: auto;
}

html .GridContextMenu li.rgFilterListMenu:hover, html .GridContextMenu li.rgFilterMenu:hover {
    background: none;
}

.GridContextMenu li.rgFilterListMenu .RadInput,
.GridContextMenu li.rgFilterListMenu .RadComboBox,
.GridContextMenu li.rgFilterMenu .RadInput,
.GridContextMenu li.rgFilterMenu .RadComboBox {
    margin-bottom: 5px;
}

.GridContextMenu li.rgFilterListMenu .rmLeftImage,
.GridContextMenu li.rgFilterMenu .rmLeftImage {
    left: 0;
    position: absolute;
}

.GridContextMenu .rgFilterListMenu .RadListBox {
    width: 160px;
}

.GridContextMenu .rmTemplate.rgFilterListMenu div.rmText,
.GridContextMenu .rmTemplate.rgFilterMenu div.rmText {
    overflow: hidden;
    padding-right: 8px;
}

.GridContextMenu .rmTemplate.rgFilterListMenu div.rgEmptyList {
    padding: 0;
}

.GridContextMenu .rgFilterMenu .rgHCMFilter {
    margin: 0 5px 5px 0;
}

.GridContextMenu .rgFilterMenu .rgHCMClear,
.GridContextMenu .rgFilterMenu .rgHCMFilter {
    border-width: 1px;
    border-style: solid;
}

.GridContextMenu .rgHCMFilter span.rgHCMFilterIcon {
    display: none;
}

div.RadMenu.GridContextMenu .rmContent {
    white-space: normal;
    padding-left: 35px;
    padding-right: 10px;
}

.GridContextMenu li.rgHCMFilter {
    background: none;
}

.GridContextMenu .rmLeftImage {
    background-repeat: no-repeat;
    background-color: transparent;
}

.GridContextMenu .rmArrow {
    z-index: 2000;
}

.GridContextMenu .rgFreeze .rmLeftImage {
    background-position: -2px -318px;
}

.GridContextMenu .rgUnFreeze .rmLeftImage {
    background-position: -2px -360px;
}

.RadMenu .rmGroup .rgHCMItem .rmText {
    width: 161px;
    padding: 6px 5px 5px 30px;
}

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd, .rgHCMItem .rgHCMFilter {
    display: block;
}

.rgHCMItem .rgHCMShow, .rgHCMItem .rgHCMAnd {
    padding-top: 5px;
    line-height: 12px;
}

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMShow, .rgHCMItem .RadComboBox {
    margin: 0 0 5px;
}

.rgHCMItem .rgHCMAnd {
    margin: 0 0 5px;
    margin-top: 5px;
}

.rgHCMItem .rgHCMFilter {
    margin-top: 11px;
}

.rgHCMItem .rgHCMClear, .rgHCMItem .rgHCMFilter {
    width: 160px;
    border-style: solid;
    border-width: 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 1px 0;
    font-size: 12px;
    cursor: pointer;
}

.RadFilterMenu_CheckList .RadListBox {
    display: block;
    margin-bottom: 7px;
    margin-top: 5px;
    width: 200px;
    max-height: 250px;
    overflow: auto;
    border-left: 0 none;
}

.RadFilterMenu_CheckList div.rlbGroup {
    background: none;
    border-left: none;
}

.RadFilterMenu_CheckList ul.rmGroup li.rmLast {
    padding-bottom: 5px;
}

.RadFilterMenu_CheckList .rmGroup div.rmText {
    padding: 0 10px 0 0;
    margin-left: 0;
}

.RadFilterMenu_CheckList .rgFilterApply,
.RadFilterMenu_CheckList .rgFilterCancel {
    height: 22px;
    line-height: 22px;
    margin-right: 10px;
    padding: 0 6px 2px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

.RadFilterMenu_CheckList .rgFilterApply {
    margin-left: 5px;
    margin-left: 33px;
}

.RadGrid input.rgOptions {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border: 0 none;
    vertical-align: sub;
    cursor: pointer;
}

.RadGrid .rgGroupPanel {
    height: 24px;
}

.RadGrid .rgGroupItem {
    padding: 0 2px 1px 3px;
    line-height: 0;
    font-weight: normal;
    vertical-align: middle;
}

.RadGrid .rgGroupHeader td {
    padding-top: 0;
    padding-bottom: 0;
}

    .RadGrid .rgGroupHeader td p {
        display: inline;
        margin: 0;
        padding: 0 10px;
    }

    .RadGrid .rgGroupHeader td div div {
        top: -0.8em;
        padding: 0 10px;
    }

.RadGrid table.rgMasterTable tr .rgGroupCol,
.RadGrid table.rgMasterTable tr .rgExpandCol {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.RadGrid .rgGroupHeader td div div div {
    top: 0;
    padding: 0;
    border: 0;
}

.RadGrid .rgUpdate, .RadGrid .rgCancel {
    width: 18px;
    height: 18px;
}

.RadGrid .rgDetailTable {
    border-style: solid;
    border-width: 1px;
    border-right-width: 0;
}

.RadGrid .rgAdd, .RadGrid .rgRefresh {
    width: 18px;
    height: 18px;
    vertical-align: bottom;
}

* + html .RadGrid .rgPager .rgPagerButton, * + html .RadGrid .rgPagerLabel, * + html .RadGrid .rgPager .RadComboBox, * + html .RadGrid .rgAdd, * + html .RadGrid .rgRefresh {
    vertical-align: middle;
}

.RadGrid .rgEdit, .RadGrid .rgDel {
    width: 15px;
    height: 15px;
    display: inline-block;
    text-indent: -9999px;
}

.rgPager thead,
.rgPager caption,
.rgCommandTable thead {
    display: none;
}

/*rtl*/
.RadGridRTL .rgHeader, .RadGridRTL .rgResizeCol {
    text-align: right;
}

.RadGridRTL .rgPager .rgStatus {
    border-right: 0;
    border-left-width: 1px;
}

* + html .RadGridRTL .rgNumPart a {
    float: left;
    line-height: 22px;
    margin: 0;
    padding: 0 5px 0 0;
    text-decoration: none;
}

.RadGridRTL .rgWrap {
    float: right;
}

.RadGridRTL .rgArrPart1 {
    padding: 0 10px 0 5px;
}

.RadGridRTL .rgArrPart2 {
    padding: 0 5px 0 10px;
}

.RadGridRTL .rgPageFirst, .RadGridRTL .rgPagePrev {
    margin-right: 0;
    margin-left: 1px;
}

.RadGridRTL .rgPageNext, .RadGridRTL .rgPageLast {
    margin-left: 0;
    margin-right: 1px;
}

.RadGridRTL .rgInfoPart {
    float: left;
}

.RadGridRTL .rgNumPart a {
    float: right;
}

.RadGridRTL .rgDetailTable {
    border-right-width: 1px;
    border-left-width: 0;
}

.RadGridRTL input.rgRefresh, .RadGridRTL input.rgAdd {
    margin: 0 0 0 4px;
}

.RadGridRTL .rgInfoPart {
    text-align: left;
}

.RadGridRTL .rgSliderLabel {
    float: right;
}

.RadGridRTL .rgPager div.RadSlider {
    float: right;
    margin: 0 0 0 10px;
}


.RadGrid_Default {
    border: 1px solid #666666;
    color: #333333 !important;
    background-color: #ffffff;
    /*font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;*/
    line-height: 16px;
}

    .RadGrid_Default .rgMasterTable,
    .RadGrid_Default .rgDetailTable,
    .RadGrid_Default .rgGroupPanel table,
    .RadGrid_Default .rgCommandRow table,
    .RadGrid_Default .rgEditForm table,
    .RadGrid_Default .rgPager table {
        /*font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px;*/
        line-height: 16px;
    }

    .RadGrid_Default .rgInput {
        background-color: #ffffff;
        border: 1px solid #cdcdcd;
        color: #333333;
    }

.GridToolTip_Default {
    /*font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-size: 12px;*/
    line-height: 16px;
}

.RadGrid_Default .rgSave,
.RadGrid_Default .rgAdd,
.RadGrid_Default .rgRefresh,
.RadGrid_Default .rgEdit,
.RadGrid_Default .rgDel,
.RadGrid_Default .rgFilter,
.RadGrid_Default .rgPagePrev,
.RadGrid_Default .rgPageNext,
.RadGrid_Default .rgPageFirst,
.RadGrid_Default .rgPageLast,
.RadGrid_Default .rgExpand,
.RadGrid_Default .rgCollapse,
.RadGrid_Default .rgSortAsc,
.RadGrid_Default .rgSortDesc,
.RadGrid_Default .rgUpdate,
.RadGrid_Default .rgCancel,
.RadGrid_Default .rgUngroup,
.RadGrid_Default .rgExpXLS,
.RadGrid_Default .rgExpDOC,
.RadGrid_Default .rgExpPDF,
.RadGrid_Default .rgExpCSV {
    background-image: url('../Images/sprite.gif');
}

.RadGrid_Default .rgHeaderDiv {
    background: #eeeeee 0 -7550px repeat-x url('../Images/sprite.gif');
}

/*header*/
.rgTwoLines .rgHeaderDiv {
    background-position: 0 -7050px;
}

.rgHeaderWrapper .rgHeaderDiv {
    border-color: #d1d1d1;
}

.RadGrid_Default .rgHeader, .RadGrid_Default th.rgResizeCol,
.RadGrid_Default .rgHeaderWrapper {
    border: 0;
    border-bottom: 1px solid #828282;
    background: #eaeaea 0 -2300px repeat-x url('../Images/sprite.gif');
}

.RadGrid_Default .rgMultiHeaderRow .rgHeader,
.RadGrid_Default .rgMultiHeaderRow .rgResizeCol {
    border-left: 1px solid #828282;
}

.RadGrid_Default th.rgSorted {
    background-color: #c4c4c4;
    background-position: 0 -2600px;
}

.RadGrid_Default .rgHeader {
    color: #333;
}

    .RadGrid_Default .rgHeader a {
        color: white;
    }

.RadGrid_Default .rgRow > td,
.RadGrid_Default .rgAltRow > td,
.RadGrid_Default .rgEditRow > td,
.RadGrid_Default .rgFooter > td {
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-width: 0 0 1px 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
}

.RadGrid_Default .rgRow > td {
    border-color: #fff;
}

.RadGrid_Default .rgAltRow {
}

    .RadGrid_Default .rgAltRow > td {
        border-color: #f2f2f2;
    }

.RadGrid_Default .rgRow .rgSorted {
    border-bottom-color: #f2f2f2;
    background-color: #f2f2f2;
}

.RadGrid_Default .rgAltRow .rgSorted {
    border-bottom-color: #e6e6e6;
    background-color: #e6e6e6;
}

.RadGrid_Default .rgSelectedRow .rgSorted,
.RadGrid_Default .rgActiveRow .rgSorted,
.RadGrid_Default .rgHoveredRow .rgSorted,
.RadGrid_Default .rgEditRow .rgSorted {
    background-color: transparent;
}

.RadGrid_Default .rgRow a,
.RadGrid_Default .rgAltRow a,
.RadGrid_Default .rgEditRow a {
    color: #666666;
}

.RadGrid_Default tr.rgEditRow a, .RadGrid_Default tr.rgHoveredRow a, .RadGrid_Default tr.rgActiveRow a {
    color: #000;
}
/*.RadGrid_Default .rgFooter a,
.RadGrid_Default .rgEditForm a {
  color: #000; }*/
.RadGrid_Default .rgMasterTable .rgSelectedCell {
    /*.RadGrid_Default .rgSelectedRow*/
    background: #ffcb60 0 -3900px repeat-x url('../Images/sprite.gif');
    color: #fff;
}

* + html .RadGrid_Default .rgSelectedRow .rgSorted, * html .RadGrid_Default .rgSelectedRow .rgSorted {
    background-color: #828282;
}


.RadGrid_Default .rgMasterTable .rgActiveCell,
.RadGrid_Default .rgActiveRow,
.RadGrid_Default .rgHoveredRow {
    background: #c5c5c5 0 -2900px repeat-x url('../Images/sprite.gif');
    color: #333;
}

    * + html .RadGrid_Default .rgActiveRow .rgSorted,
    * + html .RadGrid_Default .rgHoveredRow .rgSorted {
        background-color: #fff;
    }

    * html .RadGrid_Default .rgActiveRow .rgSorted,
    * html .RadGrid_Default .rgHoveredRow .rgSorted {
        background-color: #c5c5c5;
    }

.RadGrid_Default .rgEditRow {
    background: white 0 -4900px repeat-x url('../Images/sprite.gif');
    color: #333;
}

    * + html .RadGrid_Default .rgEditRow .rgSorted, * html .RadGrid_Default .rgEditRow .rgSorted {
        background-color: #fff;
    }

.RadGrid_Default .rgActiveRow > td,
.RadGrid_Default .rgHoveredRow > td {
    border-bottom-color: #9e9e9e;
}

    .RadGrid_Default .rgActiveRow > td.rgSorted,
    .RadGrid_Default .rgHoveredRow > td.rgSorted {
        border-bottom-color: #9e9e9e;
    }

.RadGrid_Default .rgSelectedRow > td {
    border-bottom-color: #6c6c6c;
}

    .RadGrid_Default .rgSelectedRow > td.rgSorted {
        border-bottom-color: #6c6c6c;
    }

.RadGrid_Default .rgEditRow {
    /*background: rgba(160, 160, 160, 0.75);*/
    background:#ffcb60 0 -3900px repeat-x url('Grid/sprite.gif') !important;
    color: #333333;
}

.RadGrid_Default .rgBatchOverlay {
    background: rgba(160, 160, 160, 0.75);
}

.RadGrid_Default .rgDeletedRow.rgHoveredRow > td {
    border-bottom-color: transparent;
}

.RadGrid_Default .rgBatchUndoDeleteButton {
    padding: 0 7px 0 0;
    left: 7px;
    border: 1px solid;
    border-color: #cdcdcd;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(white, #e6e6e6);
    border-radius: 4px;
}

    .RadGrid_Default .rgBatchUndoDeleteButton:before {
        vertical-align: -7px;
        background-image: url('Common/radActionsSprite.png');
        background-position: 0px -2380px;
        background-repeat: no-repeat;
    }

    .RadGrid_Default .rgBatchUndoDeleteButton:hover {
        border-color: #aaaaaa;
        color: #000000;
        background-color: #c3c3c3;
        background-image: linear-gradient(#dddddd, #c3c3c3);
    }

        .RadGrid_Default .rgBatchUndoDeleteButton:hover:before {
            background-position: -20px -2380px;
        }

.RadGrid_Default .rgDrag {
    background-image: url('Grid/rgDrag.gif');
}

.RadGrid_Default .rgFooterDiv,
/*.RadGrid_Default .rgFooter {
    color: rgb(255, 255, 255);
  background: #eee; }*/
.RadGrid_Default .rgFooterWrapper {
    background: #eee;
    border-top: 1px solid #828282;
    border-bottom: 1px solid #fff;
}

.RadGrid_Default .rgFooter > td {
    border-top: 1px solid #828282;
    border-bottom: 1px solid #fff;
}

.RadGrid_Default .rgFooterWrapper .rgFooter > td {
    border-width: 1px 0;
    border-style: solid;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.RadGrid_Default .rgPager .rgStatus {
    border: 1px solid;
    border-color: #828282 #c9c9c9 #eee #c9c9c9;
    border-left-width: 0;
}

.RadGrid_Default .rgStatus div {
    background-image: url('Common/loading_small.gif');
}

.RadGrid_Default .rgPager {
    background: #eee;
}

.RadGrid_Default td.rgPagerCell {
    border: 1px solid;
    border-color: #828282 #eee #eee;
    border-right-width: 0;
}

.RadGrid_Default .rgInfoPart {
    color: #656565;
}

    .RadGrid_Default .rgInfoPart strong {
        i color: #4c4e54;
    }

.RadGrid_Default .rgPageFirst {
    width: 16px;
    height: 16px;
    background-image: url('../Images/ResponsiveIcons/16Enabled.png');
    background-position: -400px 0px;
    margin-top: 4px;
}

}

.RadGrid_Default .rgPageFirst:hover {
    background-position: 0 -600px;
}

.RadGrid_Default .rgPagePrev {
    width: 16px;
    height: 16px;
    background-image: url('../Images/ResponsiveIcons/16Enabled.png');
    background-position: -384px 0px;
    margin-top: 4px;
}

    .RadGrid_Default .rgPagePrev:hover {
    }

.RadGrid_Default .rgPageNext {
    width: 16px;
    height: 16px;
    background-image: url('../Images/ResponsiveIcons/16Enabled.png');
    background-position: -416px 0px;
    margin-top: 4px;
}

    .RadGrid_Default .rgPageNext:hover {
    }

.RadGrid_Default .rgPageLast {
    width: 16px;
    height: 16px;
    background-image: url('../Images/ResponsiveIcons/16Enabled.png');
    background-position: -432px 0px;
    margin-top: 4px;
}

    .RadGrid_Default .rgPageLast:hover {
    }

.RadGrid_Default .rgPager .rgPagerButton {
    border-color: #d0d0d0 #aeaeae #8b8b8b;
    background: #e8e8e8 repeat-x 0 -1550px url('../Images/sprite.gif');
    ;
    color: #000;
    font-family: "segoe ui",arial,sans-serif;
}

.RadGrid_Default .rgNumPart a {
    color: #000;
}

    .RadGrid_Default .rgNumPart a:hover, .RadGrid_Default .rgNumPart a.rgCurrentPage {
        background-image: none;
    }

        .RadGrid_Default .rgNumPart a:hover span, .RadGrid_Default .rgNumPart a.rgCurrentPage span {
            background: no-repeat url('../Images/sprite.gif');
        }

    .RadGrid_Default .rgNumPart a:hover {
        background-position: 100% -1250px;
    }

        .RadGrid_Default .rgNumPart a:hover span {
            background: #afafaf;
        }

RadGrid .rgRow .RadGrid_Default .rgNumPart a.rgCurrentPage {
    background: white;
    height: 24px !important;
    border: 1px solid black;
}

.RadGrid_Default .rgNumPart a.rgCurrentPage:hover {
    background-position: 100% -1450px;
}

    .RadGrid_Default .rgNumPart a.rgCurrentPage span, .RadGrid_Default .rgNumPart a.rgCurrentPage:hover span {
        background-position: 0 -1350px;
        background: #FFF;
        font-size: 16px;
        float: right;
    }

.RadGrid_Default .rgHeader .rgSortAsc {
    background-position: 3px -248px;
    height: 10px;
}

.RadGrid_Default .rgHeader .rgSortDesc {
    background-position: 3px -198px;
    height: 10px;
}

.RadGrid_Default .rgCommandRow .rgPrev,
.RadGrid_Default .rgCommandRow .rgNext {
    padding: 0 10px;
    line-height: 20px;
    border-radius: 3px;
    border-color: #cdcdcd;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(white, #e6e6e6);
    margin-right: 10px;
}

    .RadGrid_Default .rgCommandRow .rgPrev span,
    .RadGrid_Default .rgCommandRow .rgNext span {
        width: 10px;
        height: 10px;
        background-image: url('Common/radActionsSprite.png');
    }

    .RadGrid_Default .rgCommandRow .rgPrev:hover,
    .RadGrid_Default .rgCommandRow .rgNext:hover {
        border-color: #aaaaaa;
        color: #000000;
        background-color: #c3c3c3;
        background-image: linear-gradient(#dddddd, #c3c3c3);
    }

    .RadGrid_Default .rgCommandRow .rgPrev.rgDisabled:hover,
    .RadGrid_Default .rgCommandRow .rgNext.rgDisabled:hover {
        border-color: #cdcdcd;
        color: #333333;
        background-color: #e6e6e6;
        background-image: linear-gradient(white, #e6e6e6);
    }

.RadGrid_Default .rgPrev span {
    margin-right: 10px;
    background-position: -5px -45px;
}

.RadGrid_Default .rgNext span {
    margin-left: 10px;
    background-position: -5px -65px;
}

.rgCommandRow .Icon {
    background-image: url('../Images/ResponsiveIcons/16Enabled.png');
    width: 16px;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    margin-bottom: 3px;
    background-repeat: no-repeat;
}

span.GridReorderTop_Default {
   border: 1px solid #afafaf !important;
    background: #ededed !important;
    color: black !important;
    width:10px !important;
}

.GridReorderBottom_Default {
    background: 0 0 no-repeat url('../Images/sprite.gif');
    background-position: 0 -50px;
}

.RadGrid_Default .rgFilterRow {
    background: #eee;
}

    .RadGrid_Default .rgFilterRow > td {
        border-bottom: 1px solid #828282;
    }

.RadGrid_Default .rgFilter {
    background-position: 0 -300px;
}

    .RadGrid_Default .rgFilter:hover {
        background-position: 0 -350px;
    }

.RadGrid_Default .rgFilterActive {
    background-position: 0 -400px;
}

    .RadGrid_Default .rgFilterActive:hover {
        background-position: 0 -400px;
    }

.RadGrid_Default .rgFiltered {
    background-position: 0 -325px;
}

    .RadGrid_Default .rgFiltered:hover {
        background-position: 0 -375px;
    }

    .RadGrid_Default .rgFiltered.rgFilterActive {
        background-position: 0 -425px;
    }

.RadGrid_Default .rgFilterBox {
    border-color: #8e8e8e #c9c9c9 #c9c9c9 #8e8e8e;
    font-family: "segoe ui",arial,sans-serif;
    color: #333;
}

.RadGrid_Default .rgOptions {
    background: url('Common/radActionsSprite.png') -2.5px -2402.5px no-repeat;
}

.RadGrid_Default .rgOptSelected {
    background-position: -22.5px -2402.5px;
}

.RadMenu_Default .rgHCMClear,
.RadMenu_Default .rgHCMFilter {
    border-color: #d0d0d0 #a8a8a8 #8b8b8b;
    background: #e8e8e8 center -23px repeat-x url('FormDecorator/ButtonSprites.gif');
    color: #000;
    font-family: "segoe ui",arial,sans-serif;
}

    .RadMenu_Default .rgHCMClear:hover,
    .RadMenu_Default .rgHCMFilter:hover {
        border-color: #d1d1d1 #b9b9b9 #a3a3a3;
        background-position: center -67px;
        background-color: #e5e5e5;
    }

.RadMenu_Default_Context .rgFilterApply,
.RadMenu_Default_Context .rgFilterCancel {
    border-color: #cdcdcd;
    color: #333333;
    background-color: #e6e6e6;
    background-image: linear-gradient(white, #e6e6e6);
    font-family: "Segoe UI", Arial, Helvetica, sans-serif;
    font-size: 12px;
}

div.RadMenu_Default_Context .rlbGroup {
    border-color: #eeeeee;
}

.GridContextMenu_Default .rmLeftImage {
    background-image: url('../Common/Grid/contextMenu.gif');
}

.GridContextMenu_Default .rgHCMSortAsc .rmLeftImage {
    background-position: 0 0;
}

.GridContextMenu_Default .rgHCMSortDesc .rmLeftImage {
    background-position: 0 -40px;
}

.GridContextMenu_Default .rgHCMUnsort .rmLeftImage {
    background-position: 0 -80px;
}

.GridContextMenu_Default .rgHCMGroup .rmLeftImage {
    background-position: 0 -120px;
}

.GridContextMenu_Default .rgHCMUngroup .rmLeftImage {
    background-position: 0 -160px;
}

.GridContextMenu_Default .rgHCMCols .rmLeftImage {
    background-position: 0 -200px;
}

.GridContextMenu_Default .rgHCMFilter .rmLeftImage {
    background-position: 0 -240px;
}

.GridContextMenu_Default .rgHCMUnfilter .rmLeftImage {
    background-position: 0 -280px;
}

.RadGrid .rgCollapse {
    margin: 5px 6px 0 0px;
    padding: 0;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    background-image: url('../Images/PlusMinusWhite.png') !important;
    background-position: 0px -11px !important;
}

.RadGrid .rgExpand {
    margin: 5px 6px 0 0px;
    padding: 0;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    background-image: url('../Images/PlusMinusWhite.png') !important;
    background-position: 0px 0px !important;
}

input[type="button"].rgExpand:hover {
    background-color: transparent !important;
}

input[type="button"].rgCollapse:hover {
    background-color: transparent !important;
}
/*grouping*/
.RadGrid_Default .rgGroupPanel {
    border: 0;
    border-bottom: 1px solid #828282;
    background:white;
}

    .RadGrid_Default .rgGroupPanel td {
        border: 0;
        padding: 3px 4px;
    }

        .RadGrid_Default .rgGroupPanel td td {
            padding: 0;
        }

    .RadGrid_Default .rgGroupPanel .rgSortAsc {
        background-position: 4px -144px;
    }

    .RadGrid_Default .rgGroupPanel .rgSortDesc {
        background-position: 4px -94px;
    }

.RadGrid_Default .rgUngroup {
    background-position: 0 -6998px;
}

.RadGrid_Default .rgGroupItem {
    border: 1px solid;
    border-color: #c4c4c4 #c4c4c4 #9e9e9e;
    background: #c6c6c6 0 -6500px repeat-x url('../Images/sprite.gif');
}

.RadGrid_Default .rgMasterTable td.rgGroupCol, .RadGrid_Default .rgMasterTable td.rgExpandCol {
    border-color: #d9d9d9;
    background: #d9d9d9 none;
}

html .RadGrid_Default .rgFooterWrapper .rgGroupCol {
    background: #eaeaea;
}

.RadGrid_Default .rgGroupHeader {
    background: #d9d9d9;
    font-size: 1.1em;
    line-height: 21px;
    color: #000;
}

    .RadGrid_Default .rgGroupHeader td {
        border-top: 1px solid #828282;
        border-bottom: 1px solid #d9d9d9;
    }

        .RadGrid_Default .rgGroupHeader td.rgGroupCol {
            border-top-color: #828282;
        }

.RadGrid_Default .rgExpand {
    background-position: 5px -496px;
}
/*.RadGrid_Default .rgCollapse {
  background-position: 3px -93px !important; }*/
.RadGrid_Default .rgEditForm {
    border-bottom: 1px solid #828282;
}

.RadGrid_Default .rgUpdate {
    background-position: 0 -1800px;
}

.RadGrid_Default .rgCancel {
    background-position: 0 -1850px;
}

.RadGrid_Default .rgDetailTable {
    border-color: #828282;
}

.RadGrid_Default .rgCommandRow {
    background: #c5c5c5 0 -2099px repeat-x url('../Images/sprite.gif');
    color: #000;
}

.RadGrid_Default .rgCommandCell {
    border: 1px solid;
    border-color: #999 #f2f2f2;
    border-top-width: 0;
    padding: 0;
}

.RadGrid_Default tfoot .rgCommandCell,
.RadGrid_Default .rgMasterTable > tbody > tr.rgCommandRow .rgCommandCell {
    border-top-width: 1px;
    border-bottom-width: 0;
}

.RadGrid_Default .rgCommandTable {
    border: 0;
    border-top: 1px solid #fdfdfd;
    border-bottom: 1px solid #e7e7e7;
}

    .RadGrid_Default .rgCommandTable td {
        border: 0;
        padding: 2px 7px;
    }

.RadGrid_Default .rgCommandRow a {
    color: #666666 !important;
    text-decoration: none;
}

.RadGrid_Default .rgSave {
    background-position: 0 -1825px;
    height: 18px;
    width: 18px;
}

.RadGrid_Default .rgAdd {
    margin-right: 3px;
    background-position: 0 -1650px;
}

.RadGrid_Default .rgRefresh {
    margin-right: 3px;
    background-position: 0 -1600px;
}

.RadGrid_Default .rgEdit {
    background-position: 0 -1700px;
}

.RadGrid_Default .rgDel {
    background-position: 0 -1750px;
}

.RadGrid_Default .rgSelected .rgDel {
    background-position: 0 -1775px;
}

.RadGrid_Default .rgExpXLS,
.RadGrid_Default .rgExpDOC,
.RadGrid_Default .rgExpPDF,
.RadGrid_Default .rgExpCSV {
    background-image: url('../Common/Grid/export.gif');
}

.RadGrid_Default .rgExpXLS {
    background-position: 0 0;
}

.RadGrid_Default .rgExpDOC {
    background-position: 0 -50px;
}

.RadGrid_Default .rgExpPDF {
    background-position: 0 -100px;
}

.RadGrid_Default .rgExpCSV {
    background-position: 0 -150px;
}

/*editing*/
/*hierarchy*/
/*command row*/
/*multirow select*/
.rgCellSelectorArea_Default,
.GridRowSelector_Default {
    background: #4c4e54;
}

/*row drag n drop*/
.GridItemDropIndicator_Default {
    border-top: 1px dashed #666;
}

/*tooltip*/
.GridToolTip_Default {
    border: 1px solid #828282;
    padding: 3px;
    background: #fff;
    color: #333;
}

.RadGridRTL_Default .rgPageFirst {
    background-position: 0 -1000px;
}

    .RadGridRTL_Default .rgPageFirst:hover {
        background-position: 0 -1050px;
    }

.RadGridRTL_Default .rgPagePrev {
    background-position: 0 -850px;
}

    .RadGridRTL_Default .rgPagePrev:hover {
        background-position: 0 -900px;
    }

.RadGridRTL_Default .rgPageNext {
}

    .RadGridRTL_Default .rgPageNext:hover {
        background-position: 0 -750px;
    }

.RadGridRTL_Default .rgPageLast {
    background-position: 0 -550px;
}

    .RadGridRTL_Default .rgPageLast:hover {
        background-position: 0 -600px;
    }

.RadGridRTL_Default .rgExpand {
    background-position: -20px -496px;
}


/*.GridCmdInitNewRow .Icon,.GridCmdInitNewRecord .Icon,.GridCmdAddAdjustments .Icon
  ,.GridCmdAddDocumentManager .Icon,.GridCmdAddClauses .Icon
  , .GridCmdAddTasks .Icon,.GridCmdAddBidders .Icon,.GridCmdAddCostCodes .Icon,.GridCmdAddPMWebReport .Icon
  ,.GridCmdAddFundingCodes .Icon,.GridCmdAdd .Icon,.MoveOutButton .Icon,.GridCmdAddCharges .Icon,.GridCmdAddMultiple .Icon
  ,.GridCmdAddBidders .Icon ,.GridCmdGenerateNext .Icon, .GridCmdAddScoring .Icon
  ,.GridCmdNewRow .Icon,.GridCmdAddEstimateItems .Icon,.GridCmdAddSQLReport .Icon,.GridCmdInitNewCommitment .Icon,.GridCmdInitNewCalculatedRow .Icon,.GridCmdInitNewIssue .Icon,.GridCmdAddSubmittalItems .Icon
  {
    background-position: -496px 0px;
  }

  .GridCmdDeleteRows .Icon,.GridCmdDeleteRecords .Icon,.GridCmdDeleteSelectedLine .Icon,.GridCmdDeleteLink .Icon,.GridCmdClearRows .Icon,.GridCmdDeleteRow .Icon
  {
    background-position: -512px 0px;
  }

  .GridCmdRebindGrid .Icon,.GridCmdUndo .Icon ,.GridCmdFilterGrid .Icon ,.GridCmdRefresh .Icon 
  {
    background-image:  url('../Images/ResponsiveIcons/16Enabled.png');
    width: 16px;
    display: inline-block;
    height: 16px !important;
    vertical-align: middle;
    margin-bottom: 3px;
    background-repeat:no-repeat;
    background-position: -640px 0px;
  }*/
.MenuLayout .rmLeftImage {
    background-image: url('../Images/ResponsiveIcons/16Enabled.png');
    background-position: -704px 0px !important;
}

.RadGrid .rgFilter {
    width: 16px;
    height: 16px;
    margin: 1px 0 0 4px;
    background-image: url('../Images/ResponsiveIcons/16Enabled.png');
    background-position: -1616px 0px;
    /* -2424*/
}

.RadGrid .rgFilterBox {
    width: 70%;
}

.RadComboBox .rcbArrowCellRight,
.RadComboBox .rcbReadOnly .rcbArrowCellRight, .RadComboBox .rcbHovered .rcbArrowCellRight,
.RadComboBox .rcbHovered .rcbReadOnly .rcbArrowCellRight,
.RadComboBox .rcbFocused .rcbReadOnly .rcbArrowCellRight,
.RadComboBox .rcbFocused .rcbArrowCellRight {
    background-position: -306px -176px !important;
    background-color: white;
    border: 1px solid #666666;
}

.RadComboBox .rcbDisabled .rcbInputCellLeft,
.RadComboBox .rcbDisabled .rcbReadOnly .rcbInputCellLeft,
.RadComboBox .rcbDisabled .rcbReadOnly .rcbArrowCellRight,
.RadComboBox .rcbDisabled .rcbArrowCellRight {
    background-color: #EDEDED;
}


.RadGrid .rgNumPart a.rgCurrentPage:hover, .RadGrid .rgNumPart a.rgCurrentPage span, .RadGrid .rgNumPart a.rgCurrentPage:hover span {
    cursor: Default;
}

.RadGrid_Default .rgHeader, .RadGrid_Default th.rgResizeCol, .RadGrid_Default .rgHeaderWrapper {
    border-left: 1px solid #C5C5C5 !important;
    border-right: 0 solid #C5C5C5 !important;
    border-top: 0 solid #C5C5C5 !important;
    border-bottom: 1px solid #C5C5C5 !important;
    background-position: initial;
background-image: initial !important;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(153, 153, 153);
    background-repeat: repeat !important;
}

.RadGrid th.rgHeader {
    color: #FFF !important;
    text-align:center;
    text-transform: uppercase;
    padding:7px 0;
}

.RadGrid .rgRow > td, .RadGrid .rgAltRow > td {
    border-color: #c5c5c5 !important;
}

.rgGroupPanel {
    background-position: initial;
    border-bottom: 1px solid #000 !important;
background-image: initial !important;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    font-size:12px;
    border-left-style: none !important;
    border-left-color: inherit !important;
    border-left-width: 0 !important;
    border-right-style: none !important;
    border-right-color: inherit !important;
    border-right-width: 0 !important;
    border-top-style: none !important;
    border-top-color: inherit !important;
    border-top-width: 0 !important;
    background-repeat: repeat !important;
}

.RadGrid_Default .rgMasterTable td.rgGroupCol {
    background: white;
}

.RadGrid_Default .rgGroupItem {
    border: 1px solid #afafaf;
    background: #ededed;
    color: black;
}

.RadGrid_Default .rgCommandRow {
    background: #EDEDED !important;
}

.RadGrid_Default .rgGroupHeader,
.RadGrid_Default .rgMasterTable .rgGroupHeader td.rgGroupCol  {
    background: #afafaf;
    color: #FFF;
}

.RadGrid .rgCollapse {
    margin: 5px 6px 0 0px;
    padding: 0;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    background-image: url(../Images/PlusMinusWhite.png)!important;
    background-position: 0px -11px !important;
}

.RadGrid .rgExpand {
    margin: 5px 6px 0 0px;
    padding: 0;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    background-image: url(../Images/PlusMinusWhite.png)!important;
    background-position: 0px 0px !important;
}
.GridCmdTranslatehiddentree .Icon,
.GridCmdTranslate .Icon ,
.GridCmdRefresh .Icon{
    background-image: url('../Images/16Enabled.png');
    width: 16px;
    display: inline-block;
    height: 16px !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -640px 0px;
}
.GridCmdResethiddentree .Icon,
.GridCmdReset .Icon {
    background-image: url('../Images/16Enabled.png');
    width: 16px;
    display: inline-block;
    height: 16px !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -336px 0px;
}
.ToolbarNewLanguage .Icon {
    background-image: url('../Images/24Enabled.png');
    width: 24px !important;
    display: inline-block;
    height: 24px !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -2424px 0px;
    margin-left:24px !important;
}

.GridReorderTop_Default {
}
table {
    width: 100%;
}
.GridCmdCancel .Icon {
    background-image: url('../Images/16Enabled.png');
    width: 16px !important;
    display: inline-block;
    height: 16px !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -1392px 0px;
}
.GridCmdInitNewRecord .Icon {
    background-image: url('../Images/16Enabled.png');
    width: 16px !important;
    display: inline-block;
    height: 16px !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -496px 0px;
}
.GridCmdSave .Icon {
    background-image: url('../Images/16Enabled.png');
    width: 16px !important;
    display: inline-block;
    height: 16px !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -480px 0px;
}
.GridCmdUpdate .Icon {
    background-image: url('../Images/16Enabled.png');
    width: 16px !important;
    display: inline-block;
    height: 16px !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -480px 0px;
}
.GridCmdDelete .Icon {
    background-image: url('../Images/16Enabled.png');
    width: 16px !important;
    display: inline-block;
    height: 16px !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -512px 0px;
}
.GridCmdEdit .Icon {
    background-image: url('../Images/16Enabled.png');
    width: 16px !important;
    display: inline-block;
    height: 16px !important;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: -592px 0px;
}
.RadGrid_Default .rgSelectedRow {
    background: #ffcb60 0 -3900px repeat-x url('Grid/sprite.gif') !important;
}
.rgRow>td:first-child {
    border-left: 0;
    padding-left: 8px;
}
.RadGrid_PM .rgRow td {
    padding-right: 7px;
}
.RadGrid_Default .rgSelectedRow>td, .RadGrid_Default .rgActiveRow>td, .RadGrid_Default .rgEditRow>td{
    border-left-width: 0;
    padding-left: 8px;
}
.RadGrid .rgClipCells .rgHeader, .RadGrid .rgClipCells .rgFilterRow > td, .RadGrid .rgClipCells .rgRow > td, .RadGrid .rgClipCells .rgAltRow > td, .RadGrid .rgClipCells .rgEditRow > td, .RadGrid .rgClipCells .rgFooter > td {
    overflow: hidden;    
}
.RadUpload .ruInputs {
  list-style: none;
  margin: 0;
  padding: 0; 
}
.RadUpload .ruInputs {
  position: relative;
  zoom: 1;
}
/* </general styles> */
/* <file inputs> */

/*.RadUpload_Default .ruStyled .ruFileInput {
  border-color: #abadb3; 
}
.RadUpload .ruStyled .ruFileInput,
.RadUpload .ruFakeInput {
  border-width: 1px;
  border-style: solid;
  line-height: 18px;
  padding: 4px 4px 0 4px;
  box-sizing: content-box; 
}
.RadUpload .ruFileInput, .RadUpload .ruFakeInput, .RadUpload .ruButton {
    float: none;
    vertical-align: top;
}
.RadUpload_Default .ruFileInput {
    height: 22px;
    top: -5px;
    left: 0;
}*/
/*.RadUpload .ruBrowse {
    width: 65px;
    margin-left: 4px;
    background-position: 0 0;
}*/
/*.RadUpload .ruButton, .RadUploadProgressArea .ruButton {
    width: 79px;
    height: 22px;
    border: 0;
    padding-bottom: 2px;
    background-position: 0 -23px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: center;
}*/
/*.RadUpload .ruFileInput, .RadUpload .ruFakeInput, .RadUpload .ruButton, .RadUploadProgressArea .ruButton {
    float: none;
    vertical-align: top;
}*/
/*.RadUpload_Default .ruFakeInput{
    border-color: #abadb3 #dbdfe6 #e3e9ef #e2e3ea;
    color: #333;
}*/
/*.RadUpload .ruFakeInput{
    height: 16px;
    margin-right: -1px;
    padding: 4px 4px 0 4px;
    vertical-align: middle;
    background-position: 0 -93px;
    background-repeat: repeat-x;
    background-color: #fff;
}*/
/*.RadUpload .ruFileInput, .RadUpload .ruFakeInput, .RadUpload .ruButton, .RadUploadProgressArea .ruButton{
    float: none;
    vertical-align: top;
}*/
/*.RadUpload .ruStyled .ruFileInput, .RadUpload .ruFakeInput{
    border-width: 1px;
    border-style: solid;
}*/
.RadUpload .ruStyled .ruFileInput{
    position: absolute;
    z-index: 1;
    opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.RadGrid div.rgHeaderWrapper {
    border-left: none !important;
}