/* <RadToolBar / Outlook> */

/* <tool wrapper> */

/* <horizontal> */

.RadToolBar_PM .rtbOuter
{
}

.RadToolBar_PM .rtbMiddle
{
	background: url('ToolBar/ToolbarBgH.gif') repeat-x 0 0;
}

/* </horizontal> */

/* <vertical> */

.RadToolBar_PM_Vertical .rtbMiddle
{
	background: #05329A url('ToolBar/ToolbarBgHTR.gif') repeat-y 0 0;
}

/* </vertical> */

/* </tool wrapper> */

/* <buttons> */

.RadToolBar_PM .rtbWrap,
.RadToolBar_PM .rtbTemplate
{
	color: #0d202b;
	font: normal 12px/20px "Segoe UI", Arial, sans-serif;
}

/* <button states> */

.RadToolBar_PM .rtbSplBtnFocused .rtbWrap, .RadToolBar_PM .rtbSplBtnFocused .rtbOut, .RadToolBar_PM .rtbSplBtnFocused .rtbMid, .RadToolBar_PM .rtbSplBtnFocused .rtbIn,
.RadToolBar_PM .rtbItemFocused .rtbWrap, .RadToolBar_PM .rtbItemFocused .rtbOut, .RadToolBar_PM .rtbItemFocused .rtbMid, .RadToolBar_PM .rtbItemFocused .rtbIn,
.RadToolBar_PM .rtbItemHovered .rtbWrap, .RadToolBar_PM .rtbItemHovered .rtbOut, .RadToolBar_PM .rtbItemHovered .rtbMid, .RadToolBar_PM .rtbItemHovered .rtbIn,
.RadToolBar_PM .rtbItemClicked .rtbWrap, .RadToolBar_PM .rtbItemClicked .rtbOut, .RadToolBar_PM .rtbItemClicked .rtbMid, .RadToolBar_PM .rtbItemClicked .rtbIn
{
	background-color: transparent;
	background-repeat: no-repeat;
	
}

.RadToolBar_PM .rtbSplBtnExpanded .rtbWrap, .RadToolBar_PM .rtbSplBtnExpanded .rtbOut, .RadToolBar_PM .rtbSplBtnExpanded .rtbMid, .RadToolBar_PM .rtbSplBtnExpanded .rtbIn,
.RadToolBar_PM .rtbDropDownExpanded .rtbWrap, .RadToolBar_PM .rtbDropDownExpanded .rtbOut, .RadToolBar_PM .rtbDropDownExpanded .rtbMid, .RadToolBar_PM .rtbDropDownExpanded .rtbIn,
.RadToolBar_PM .rtbChecked .rtbWrap, .RadToolBar_PM .rtbChecked .rtbOut, .RadToolBar_PM .rtbChecked .rtbMid, .RadToolBar_PM .rtbChecked .rtbIn
{
	background-image: url('ToolBar/rtbActiveBg.png');
	background-color: transparent;
	background-repeat: no-repeat;
}

.RadToolBar_PM .rtbItemFocused .rtbWrap,
.RadToolBar_PM .rtbChecked .rtbWrap,
.RadToolBar_PM .rtbDropDownExpanded .rtbWrap,
.RadToolBar_PM .rtbSplBtnExpanded .rtbWrap
{
	color: #0d202b;
}

.RadToolBar_PM .rtbItemHovered .rtbWrap,
.RadToolBar_PM .rtbItemClicked .rtbWrap
{
	color: #0e3d4f;
}

/* </button states> */

/* <Drop Down Arrows> */


.RadToolBar_PM .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_PM .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_PM .rtbChoiceArrow 
{
	background-image: url('ToolBar/rtbDropArrows.png');
}

.RadToolBar_PM .rtbSplBtnExpanded .rtbVOriented .rtbChoiceArrow,
.RadToolBar_PM .rtbSplBtnExpanded .rtbChoiceArrow,
.RadToolBar_PM .rtbDropDownExpanded .rtbVOriented .rtbChoiceArrow,
.RadToolBar_PM .rtbDropDownExpanded .rtbChoiceArrow,
.RadToolBar_PM .rtbSplBtnHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar_PM .rtbSplBtnHovered .rtbChoiceArrow,
.RadToolBar_PM .rtbItemHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar_PM .rtbItemHovered .rtbChoiceArrow,
.RadToolBar_PM .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_PM .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_PM .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_PM .rtbItemClicked .rtbChoiceArrow
{
	background-color: transparent;
	background-image: url('ToolBar/rtbHoverDropArrows.png');
	background-repeat: no-repeat;
}

/* </Drop Down Arrows> */

.RadToolBar_PM_Horizontal li.rtbSeparator 
{
	border-left: 1px solid #89aee5;
	background: #002d96;
}

.RadToolBar_PM_Vertical li.rtbSeparator
{
	border-top: 1px solid #89aee5;
	background: #002d96;
}

/* </buttons> */


/* <disabled states> */

.RadToolBar_PM .rtbDisabled .rtbWrap:hover,
.RadToolBar_PM .rtbDisabled .rtbWrap:hover .rtbOut,
.RadToolBar_PM .rtbDisabled .rtbWrap:hover .rtbMid,
.RadToolBar_PM .rtbDisabled .rtbWrap:hover .rtbIn
{
	background: none;
}

* html .RadToolBar_PM .rtbDisabled .rtbWrap { color: #C3C3B9; }
*+html .RadToolBar_PM .rtbDisabled .rtbWrap { color: #C3C3B9; }

@media screen and (-webkit-min-device-pixel-ratio:0)  /* WebKit alpha + opacity/cleartype bug, like IE wasn't enough... */
{
	.RadToolBar_PM .rtbDisabled .rtbWrap { color: #C3C3B9; }
}

/* </disabled states */ 

/* <drop-down> */

div.RadToolBarDropDown_PM
{
	border-color: #002d96;
	background-color: #f6f6f6;
	background-image: url('ToolBar/rtbDropDownBg.png');
	background-position: -1px 0;
}

div.RadToolBarDropDown_PM_rtl
{
	background-position: 101% 0;
}

.RadToolBarDropDown_PM .rtbWrap,
.RadToolBarDropDown_PM .rtbTemplate
{
	font: normal 12px/20px "Segoe UI", Arial, sans-serif;
	color: #000;
}

.RadToolBarDropDown_PM .rtbItemHovered,
.RadToolBarDropDown_PM .rtbItemFocused,
.RadToolBarDropDown_PM .rtbItemHovered .rtbWrap,
.RadToolBarDropDown_PM .rtbItemFocused .rtbWrap
{
	color: #0f3789;
	background-image: url('ToolBar/rtbDropDownHover.png');
}

.RadToolBarDropDown_PM .rtbDisabled .rtbWrap
{
	color: #8a8a8a;
}

.RadToolBarDropDown_PM .rtbSeparator
{
	border-color: #6a8ccb;
	background: #fff;
}

/* </drop-down> */

/* </RadToolBar / Outlook> */