div.reToolWrapper table.reSpinBox input.radfd_skipme{
width:80px
}
fieldset.reCellProperties {
width:339px !important;
}

div .reToolWrapper{
 width:105px !important
}
.redWrapper a.reDropdown {
    width: 180px;
}
