<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="alf_eoi" />
                <rule name="alf_eoi" stopProcessing="true">
                    <match url="ceoic(/)?(.*)" />
                    <conditions />
                    <serverVariables />
                    <action type="Rewrite" url="http://localhost:5023/ceoic/{R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
